html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Fonts
------------------------------------------------------------------------------*/ 

@font-face {
	font-family: 'MajestiBanner';
	src: url('../fonts/Majesti-Banner-Medium.eot');
	src: url('../fonts/Majesti-Banner-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Majesti-Banner-Medium.woff') format('woff'),
	url('../fonts/Majesti-Banner-Medium.ttf') format('truetype'),
	url('../fonts/Majesti-Banner-Medium.svg#Majesti-Banner-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Didot';
	src: url('../fonts/Didot.eot');
	src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Didot.woff') format('woff'),
	url('../fonts/Didot.ttf') format('truetype'),
	url('../fonts/Didot.svg#Didot') format('svg');
	font-weight: normal;
	font-style: normal;
}
::-webkit-input-placeholder {
	color: inherit;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=tel], input[type=url], input[type=password],
input[type=text], input[type=email], input[type=reset],
input[type=button], input[type=submit], button, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}

.hide {
	position: absolute !important;
	left: -9999em !important;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

sub, 
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

textarea {
	overflow: auto;
}

img {
	max-width: 100%;
	height: auto;
}

/* Fonts
------------------------------------------------------------------------------*/ 

@font-face {
	font-family: 'Didot';
	src: url('../fonts/DidotBold.eot');
	src: url('../fonts/DidotBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DidotBold.woff') format('woff'),
	url('../fonts/DidotBold.ttf') format('truetype'),
	url('../fonts/DidotBold.svg#DidotBold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Didot';
	src: url('../fonts/Didot.eot');
	src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Didot.woff') format('woff'),
	url('../fonts/Didot.ttf') format('truetype'),
	url('../fonts/Didot.svg#Didot') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light-webfont.eot');
	src: url('../fonts/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Light-webfont.woff') format('woff'),
	url('../fonts/Montserrat-Light-webfont.ttf') format('truetype'),
	url('../fonts/Montserrat-Light-webfont.svg#Montserrat-Light-webfont') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold-webfont.eot');
	src: url('../fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Bold-webfont.woff') format('woff'),
	url('../fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
	url('../fonts/Montserrat-Bold-webfont.svg#Montserrat-Bold-webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratUltraLight.eot');
	src: url('../fonts/MontserratUltraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MontserratUltraLight.woff') format('woff'),
	url('../fonts/MontserratUltraLight.ttf') format('truetype'),
	url('../fonts/MontserratUltraLight.svg#MontserratUltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}
