.quote-center {
  border-bottom: inherit;
  border-top: inherit;
  }

.try-case {
  border-top: inherit;
}

.text-row h2 {
  font-size: 50px;
}

.technologies-box {
  img {
    max-width: 150px;
  }
}

.logos-cols {
  .container {
    .col {
      text-align: center;
      padding: 10px 0px;

      img {
        width: 50%;
        max-width: 180px;
      }
    }
  }
}

.try-case {
  text-align: center;
  padding: 150px 0 150px;
}

.case-title {
  margin-bottom: 200px;

  .container {
    height: 75vh;
  }
}

.logos-cols {
  padding: 0 5px 124px;
  .col {
    display: inline-block;
    width:24.5%
  }
}

.case-title .screen {
  position: absolute;
  top: 22%;
  width: inherit;
  text-align: inherit;
  right: 0;
  float: right;
  bottom: -5%;
  pointer-events: none;
}

.technologies-box {
   background: inherit;
}

.quote-center {
  background-color: #f8f8f8;
}

.try-case h3 {
  padding-bottom: 25px;
}

@media screen and (max-width: 1430px) {
  .case-title .screen {
    top: 22%;
    //width: 58%;
    right: 0;
    bottom: 9%;
    pointer-events: none;
  }

  .case-title .text {
    width: 50%;
  }

}

@media screen and (max-width: 1023px) {
  .case-title .text {
    width: 100%;
  }

  .case-title .screen {
    height: 60vw;
  }

  .case-title .screen {
    top: 40%;
    right: 0;
    bottom: 9%;
    pointer-events: none;
  }

}

@media screen and (max-width: 767px) {

  .quote-center p {
    text-align: left;
    padding: 10px 0 10px;
  }

  .text-row h2 {
    line-height: 1;
  }


  .logos-cols {
    .col {
      width:49%
    }
  }

  .case-title .container {
    height: inherit;
  }

  .case-title .screen {
    position: static;
    text-align: center;
    width: auto;
    float: none;
    margin: auto;
    margin-bottom: -25vw;
    img {
      display: block;
      margin:inherit;
      float:right;
    }
  }

}