.quote-center {
  border-bottom: inherit;
  border-top: inherit;
}

.try-case {
  border-top: inherit;
}

.clients-full {
  img {
    max-width: 150px;
  }
}

.text-row .entry-cols p {
  padding-bottom: 80px;
  letter-spacing: 0;
}

.case-title {
  margin-bottom: 100px;
  .screen {
    text-align: right;
    bottom: -29%;
    /*    bottom: -54%;
        top: 41%;
        width: 53%;*/
  }
}

.clients-full {
  h2:nth-child(2) {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
  }
}

.logos-cols {
  padding: 0 5px 124px;
  .col {
    display: inline-block;
    width: 24.5%
  }
}

.try-case {
  text-align: center;
  padding: 150px 0 150px;
}

.body {

  .text-row {
    padding-bottom: 0;
  }

}

.start-project {
  .text {
    display: inline-block;
    text-align: center;
  }
}

.text-box.team.team-box.center.newmood {
  display: none;
}

.text-row .entry-cols.newmood .col {
  width: 48.8%;
  padding-right: 0;
}

.text-row {
  padding-bottom: 98px;
  overflow: hidden;
  padding-top: 100px;
}

.featured-title {
  background: #f75d53;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  position: relative;
}

.featured-titles {
  .video {
    video {
      width: 100%;
    }
  }
}

.try-case .entry, .try-case h3 {
  padding-bottom: 5px;
  text-align: center;
  line-height: 1;
}

.try-case .entry, .try-case p {
  padding-bottom: 20px;
}

.newmood-brands-title {
  color: #999;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
}

.phones-cols {
  position: relative;
  margin-bottom: 50px;

  .mobile-1 {
    position: relative;
    width: 32%;
    float: left;
    margin-left: 0;
  }
  .mobile-2 {
    position: relative;
    margin-top: -6%;
    width: 39%;
    float: left;
    margin-left: -8%;
  }

  .mobile-3 {
    position: relative;
    margin-top: -58%;
    width: 40%;
    margin-left: 24%;
    float: left;
  }

  .mobile-4 {
    position: relative;
    margin-top: -26%;
    width: 39%;
    float: left;
    margin-left: 34%;
  }

  .mobile-5 {
    position: relative;
    margin-top: -50%;
    width: 36%;
    float: right;
  }
}

.photo-col {
  margin-bottom: 150px;
}

.clients-full {
  margin-bottom: 100px;
  border-bottom: inherit;
}

.typography-text {
  padding: 2rem 0 2.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .col {
    width: 33%;
    padding-bottom: 0;
  }
  h6 {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
  }
  .result {
    color: #e51c23;
    font-size: 72px;
    font-weight: 400;
    line-height: 47px;
    padding: 30px 0 23px;
  }
  .name {
    color: #101010;
    font-size: 24px;
    padding-bottom: 0;
    font-weight: 400;
    line-height: 27px;
    padding-top: 80px;
  }
  .letters {
    color: #999;
    font-size: 18px;
    letter-spacing: .1em;
    font-weight: 300;
    line-height: 26px;
    padding-top: 85px;
    span {
      text-transform: uppercase;
    }
  }
}

.typography-colors {
  .col {
    padding-bottom: 2.5rem;
    width: 33.3337%;

    .color-text {
      color: #999;
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
      text-align: left;
      padding-bottom: 50px;
      height: 80px;
    }

    .color {
      width: 100%;
      height: 60px;
      border-radius: inherit;
      margin: 0 auto 10px;
    }
  }

}

@media screen and (max-width: 1720px) {

}

@media screen and (max-width: 1430px) {

  .case-title {
    .screen {
      bottom: -12%;
      top: 45%;
    }

    .text {
      width: 50%;
    }
  }

}

@media screen and (max-width: 1084px) {

  .typography-text {
    padding: 2rem 0 2.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col {
      width: 50%;
      padding-bottom: 0;
    }
    h6 {
      color: #999;
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
    }
    .result {
      color: #e51c23;
      font-size: 72px;
      font-weight: 400;
      line-height: 65px;
      padding: 30px 0 23px;
    }
    .name {
      color: #101010;
      font-size: 24px;
      padding-bottom: 0;
      font-weight: 400;
      line-height: 27px;
      padding-top: 25px;
    }
    .letters {
      color: #999;
      font-size: 18px;
      letter-spacing: .1em;
      font-weight: 300;
      line-height: 26px;
      padding-top: 10px;
      span {
        text-transform: uppercase;
      }
    }
  }

  .typography-colors {
    .col {
      padding-bottom: 2.5rem;
      width: 50%;

      .color {
        width: 100%;
        height: 60px;
        border-radius: inherit;
        margin: 0 auto 10px;
      }
    }

  }

  @media screen and (max-width: 1023px) {

    .typography-colors {

      .col {

        .color-text {
          padding-bottom: 10px;
          height: inherit;
        }

      }

    }

    .team-box section:before {
      width: 0;
    }

    .text {
      width: 100%;
    }

    .case-title {
      .text {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 767px) {

  .text-row {
    padding-bottom: 98px;
    overflow: hidden;
    padding-top: 50px;
  }

  .clients-full {
    h2:nth-child(1) {
      font-size: 30px;
      line-height: 1.5;
    }
    h2:nth-child(2) {
      color: #999;
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
    }
  }
  .text-row .entry-cols p {
    padding-bottom: 50px;
    letter-spacing: 0;
  }

  .body {

    .text-row {
      padding-bottom: 50px;
    }

  }

  .wor.newmood {
    margin-top: inherit;
  }

  .text-row {
    padding-bottom: 0;
  }

  .case-title {
    margin-bottom: 0;
    .screen {
      float: right;
    }
  }

  .clients-full {
    margin-bottom: 0px;
    margin-top: 30px;
    ul {
      li {
        img {
          //height: 50%;
        }
      }
    }
  }

  .newmood-brands-title {
    text-align: left;
  }

  .team-box section:before {
    width: 0;
  }

  .team-box section {

    article {
      margin-right: inherit;
      max-width: inherit;
      position: relative;
      margin-left: -15%!important;
    }


  }

  .typography-colors {
    .col {
      .color {
        width: 100%;
        height: 60px;
        border-radius: inherit;
        margin: 0 auto 10px;
      }
    }
  }

  .text-row .entry-cols.newmood .col {
    width: 100%;
    padding-right: 0;
    padding-top: 30px;
  }

  .phones-cols {
    display: none;
  }

  .text-box.team.team-box.center.newmood {
    display: inherit;
  }

  .logos-cols {
    .col {
      width: 49%
    }
  }

  .typography-text {
    .col {
      width: 100%;
    }
  }

  .typography-colors {
    .col {
      padding-bottom: 2.5rem;
      width: 100%;
      text-align: left;

      .color {
        width: 100%;
        height: 60px;
        border-radius: inherit;
        margin: 0 auto 10px;
      }
    }

  }
}

@media screen and (max-width: 430px) {
  .body .text-row {
    padding-bottom: 100px;
  }

}

@media screen and (max-width: 480px) {

  .team-box section {
    article {
      width: 80%;
    }
  }
}



@media screen and (max-width: 767px) and (min-width: 480px) {
  .team-box section article img:first-child:last-child {
    height: 60vh;
  }
}
