@import 'reset';


/* Normalized Styles
------------------------------------------------------------------------------*/

body {
	font: 300 16px/30px 'Montserrat', sans-serif;
	color: #999;
	background: #fff;
	-webkit-text-size-adjust: none;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	min-height: 100vh;
}

.active-modal {
	overflow: hidden;
}
.clients-full {
	img {
		max-width: 125px;
		max-height: 80px;
	}
}
input, textarea, select, button {
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #f75d53;
}

a,
button,
.btn,
input {
	transition: all .3s ease;
	outline: none;
}

.pre-loader {
	position: fixed;
	z-index: 99999;
	background: #f75d53;
	top: 0;
	bottom: 0;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	left: 0;
	transition: all .7s ease;
	right: 0;
	.logo-w {
		background: url(../images/logo.svg) no-repeat 0 100%;
		margin: auto;
		display: block;
		width: 141px;
		text-indent: -999em;
		height: 38px;
	}
	.loaded & {
		opacity: 0;
		pointer-events: none;
	}
}

/* Container
------------------------------------------------------------------------------*/

.container {
	position: relative;
	width: 1320px;
	padding: 0 20px;
	max-width: 100%;
	margin: 0 auto;
}

/* Header
------------------------------------------------------------------------------*/

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	transition: all .7s ease;
	opacity: 0;
	.all {
		margin-top: 51px;
		vertical-align: top;
		display: inline-block;
		color: white;
		background: url(../images/ico_back.svg) no-repeat 0 50%;
		padding-left: 35px;
		font-family: DIN;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: .1em;
		line-height: 20px;
		text-transform: uppercase;
	}
	.loaded & {
		opacity: 1;
	}
	.home & {
		transition-delay: 1s;
	}
	.container {
		position: static;
	}
}

.logo {
	width: 141px;
	height: 38px;
	display: block;
	position: fixed;
	z-index: 999;
	font-size: 0;
	color: transparent;
	top: 0;
	left: 0;
	margin: 40px 0 0 55px;
	&:before {
		transition: all .3s ease;
		background: url(../images/logo.svg) no-repeat 0 100%;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&:after {
		transition: all .3s ease;
		content: "";
		background: url(../images/logo_r.svg) no-repeat 0 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 9;
		right: 0;
		opacity: 0;
	}
	&:not(.white).reverse {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	.active-menu &.reverse {
		&:before {
			opacity: 1;
		}
		&:after {
			opacity: 0;
		}
	}
}

.menu {
	padding: 36px 0 0;
	text-align: center;
	width: 1140px;
	margin: auto;
	max-width: 100%;
	color: #fff;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: .06em;
	.home & {
		color: #323435;
	}
	ul {
		display: flex;
		justify-content: space-around;
		li {
			width: 20%;
		}
	}
	li a:hover,
	.current  {
		text-decoration: line-through;
	}
	.plan {
		position: absolute;
		top: 0;
		margin: 36px 57px;
		right: 0;
		width: auto;
		a {
			min-width: 205px;
			height: 44px;
			line-height: 42px;
			padding: 0;
			text-align: center;
			border: 1px solid #fff;
			border-radius: 22px;
			&:hover {
				background: #fff;
				color: #f75d53;
				text-decoration: none;
				border-color: #fff;
			}
			.home & {
				border-color: #323435;
				&:hover {
					background: #f75d53;
					color: #fff;
					border-color: #f75d53;
				}

			}
		}
	}
	a {
		padding: 9px 0 6px;
		display: block;
		color: #912118;
		font-family: DIN, sans-serif;
		font-size: 15px;
		font-weight: 300;
		line-height: 25px;
		text-transform: uppercase;
		position: relative;
		color: inherit;
	}
}


/* Body
------------------------------------------------------------------------------*/

.lines {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 1197px;
	margin: auto;
	max-width: 100%;
	justify-content: space-between;
	div {
		width: 1px;
		opacity: 0.35;
		background: #f5766c;
		.home & {
			background-color: #c9caca;
		}
	}
}

.body {
	flex-grow: 5;
}

.featured-title {
	background: #f75d53;
	text-align: center;
	height: 100vh;
	display: flex;
	padding: 0 80px;
	align-items: center;
	text-align: left;
	position: relative;
	&.alone {
		height: auto;
		h1 {
			color: white;
			font-family: MajestiBanner;
			font-size: 72px;
			font-weight: 500;
			text-transform: none;
			letter-spacing: 0;
			text-align: center;
			padding: 184px 0 200px;
			line-height: 58px;
		}
	}
	.home & {
		background: url(/images/bg_home.jpg) no-repeat 50% 50%;
		background-size: cover;
		padding: 0 15px;
	}
	.video {
		pointer-events: none;
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		.loaded & {
			opacity: 1;
		}
		&:before {
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: #fff;
			z-index: 2;
			opacity: .9;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 3;
			height: 50%;
			background-image: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
		}
		video {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: auto;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			height: auto;
			min-width: 100%;
			min-height: 100%;
		}
	}
	h1 {
		color: white;
		font-family: DIN, sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
		padding-bottom: 18px;
		text-transform: uppercase;
		letter-spacing: .1em;
		.home & {
			color: #f75d53;
			font-family: MajestiBanner;
			font-size: 82px;
			font-weight: 500;
			margin-bottom: -45px;
			text-transform: none;
			letter-spacing: 0;
			line-height: 68px;
		}
	}
	h2 {
		color: white;
		font-family: MajestiBanner;
		font-size: 82px;
		font-weight: 500;
		margin-bottom: -45px;
		line-height: 68px;
	}
	p {
		color: #211d1e;
		font-size: 29px;
		font-weight: 300;
		padding-top: 3.5%;
		letter-spacing: .06em;
		padding-left: 0;
		line-height: 32px;
	}
	.container {
		position: relative;
		z-index: 9;
		transition: opacity .7s ease;
		transition-delay: .5s;
		opacity: 0;
		.loaded & {
			opacity: 1;
		}
		.home & {
			transition-delay: 1.2s;
		}
	}
	.play {
		margin: 0;
		float: none;
		position: absolute;
		right: 16%;
		top: 50%;
		margin-top: -40px;
	}
	.ico-down {
		position: absolute;
		margin: auto;
		background: url(../images/ico_down.svg) no-repeat;
		width: 17px;
		height: 19px;
		background-size: contain;
		bottom: 11%;
		z-index: 9;
		display: block;
		left: 0;
		right: 0;
		.home & {
			position: static;
			width: 17px;
			margin: 0 10px;
			margin-top: 8%;
			margin-bottom: -14%;
			height: 77px;
			background-image: url(../images/ico_down.png);
		}
	}
}

.form-control {
	width: 100%;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	height: 55px;
	color: #999;
	appearance: none;
	border: 0;
	background: none;
	transition: all .3s ease;
	border-bottom: 1px solid #e6e6e6;
	&:focus,
	&:active {
		border-color: #000000;
	}
}

label select + span:before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	width: 11px;
	height: 8px;
	z-index: 9;
	background: url(../images/ico_drop.svg) no-repeat;
}

fieldset {
	.selected + span span,
	input:active + span span,
	input:focus + span span,
	.selected + span,
	input:active + span,
	input:focus + span {
		color: transparent;
	}
	label {
		position: relative;
		font-size: 16px;
		letter-spacing: .06em;
		font-weight: 300;
		line-height: 60px;
		color: #999;
		& > span {
			position: absolute;
			top: 0;
			bottom: 0;
			pointer-events: none;
			left: 0;
			right: 0;
			transition: all .3s ease;
		}
		.req {
			color: #ed5b4f;
		}
	}
}

.btn {
	display: inline-block;
	color: white;
	font-size: 14px;
	font-weight: 300;
	line-height: 65px;
	background: none;
	vertical-align: top;
	text-transform: uppercase;
	width: 220px;
	border: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotateZ(0);
	position: relative;
	font-family: DIN;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .1em;
	span {
		display: block;
		position: relative;
		z-index: 9;
		height: 65px;
		background-image: linear-gradient(to right, #f75d53 0%, #f75d53 1%, #fa8981 100%);
		border-radius: 33px;
		box-shadow: 3.1px 11.6px 38px rgba(254, 56, 43, 0.32);
	}
	&:before {
		content: '';
		position: absolute;
		z-index: -2;
		top: 0;
		border-radius: 50px;
		right: 0;
		background: #fff;
		bottom: 0;
		left: 0;
		border: 6px solid rgba(255, 255, 255, 0);
	}
	&:hover:before {
		margin: -12px;
		transition: all .4s linear;
		opacity: 0;
		border-color: #f75d53;
	}
}

.cols {
	display: flex;
	justify-content: space-between;
	width: 100%;
	.col {
		&:nth-child(2) {
			width: 19%;
		}
		&:last-child {
			width: 34.5%;
		}
	}
}

.services {
	padding-top: 30px;
	padding-bottom: 120px;
	li {
		display: inline-block;
		padding: 0 40px 0 0;
		&:before {
			display: none;
		}
	}
}

.touch .featured-title .video,
.touch video {
	display: none !important;
}

.touch .home .featured-title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	display: block;
	height: 50%;
	background-image: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
}

.entry {
	p {
		letter-spacing: .06em;
	}
	& > h3 {
		color: black;
		font-family: MajestiBanner;
		font-size: 48px;
		font-weight: 500;
		line-height: 37px;
		padding-bottom: 40px;
	}
}

.clients-list {
	padding: 271px 0 40px;
	.image {
		padding-left: 42px;
		text-align: center;
		width: 40%;
		position: relative;
		img {
			width: 100%;
			transition: all .3s ease;
		}
		a {
			display: block;
			background:#000;
		}
	}
	a:hover {
		.hover {
			opacity: 1;
		}
		img {
			opacity: .4;
		}
	}
	.hover {
		position: absolute;
		top: 0;
		bottom: 0;
		color: #fff;
		left: 0;
		transition: all .3s ease;
		text-transform: uppercase;
		right: 0;
		margin: auto;
		z-index: 9;
		opacity: 0;
		line-height: 42px;
		text-align: center;
		width: 205px;
		height: 44px;
		border: 1px solid #e1e1e1;
		border-radius: 22px;
	}
	.text {
		width: 35%;
		padding-left: 40px;
		padding-right: 25px;
		padding-top: 0;
	}
	h2 {
		font-size: 30px;
		font-family: MajestiBanner;
		line-height: normal;
		padding-bottom: 10px;
		font-weight: 500;
		color: #131313;
		a {
			color: inherit;
		}
	}
	.logo-c {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9;
		width: 231px;
		margin: -90px 10px;
		height: 181px;
		img {
			width: 300px;
			max-width: 80%;
			max-height: 70%;
		}
	}
	p {
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0;
	}
	article {
		align-items: center;
		display: flex;
		padding-bottom: 120px;
		&:nth-child(even) {
			padding-bottom: 140px;
			.text {
				order: 1;
				padding-top: 0;
				width: 37%;
				margin-left: 28%;
				text-align: right;
				padding-left: 0;
				padding-right: 40px;
			}
			.image {
				order: 2;
				padding-left: 0;
				padding-right: 28px;
				width: 50%;
			}
			.logo-c {
				left: auto;
				margin-top: -70px;
				right: 0;
			}
		}
		&:last-child {
			padding-bottom: 10px;
		}
	}
}

.quote-center {
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	text-align: center;
	padding: 135px 40px 70px;
	letter-spacing: .06em;
	& + .clients-list {
		margin-top: 0;
		padding-top: 150px;
		padding-bottom: 120px;
	}
	blockquote {
		width: 1107px;
		margin: auto;
		max-width: 100%;
		position: relative;
		&:before {
			content: "“";
			position: absolute;
			top: 20px;
			left: 0;
			color: #f75d53;
			font-family: Didot;
			font-size: 150px;
			font-weight: 400;
			line-height: 23px;
		}
	}
	cite {
		display: block;
		font-style: normal;
		font-size: 16px;
		color: #f75d53;
		padding-top: 9px;
		font-weight: 300;
		line-height: 20px;
		strong {
			display: block;
			font-family: DIN;
			text-transform: uppercase;
			letter-spacing: .1em;
			font-weight: 300;
		}
		.par {
			color: #b4b4b4;
			font-size: 12px;
			display: block;
			font-weight: 300;
			padding: 2px 0 26px;
			line-height: 20px;
		}
	}
	p {
		color: #999;
		padding: 0 20px 30px;
		font-weight: 300;
	}
}

.instagram-list {
	text-align: center;
	padding: 130px 0 15px;
	margin-left: -65px;
	section {
		width: 1040px;
		max-width: 100%;
		margin: auto;
	}
	article > a {
		display: block;
		transition: none;
		position: relative;
		figure:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			right: 0;
			transform: scale(.9);
			transition: all .3s ease;
			margin: 15px;
			border: 15px solid #fff;
		}
		.no-touch &:hover figure:before {
			opacity: 1;
			transform: scale(1);
		}
	}
	article {
		padding: 0 15px 30px;
		text-align: right;
		width: 50%;
		img {
			width: 100%;
			height: auto;
			display: block;
		}
		&:nth-child(1) {
			padding-top: 6.3%;
		}
		&:nth-child(2) {
			text-align: left;
		}
		&:nth-child(3) {
			text-align: left;
		}
		&:nth-child(4) {
			text-align: right;
		}
		&:nth-child(1) a {
			width: 84%;
			float: right;
		}
		&:nth-child(2) a {
			float: left;
			width: 85.5%;
		}
		&:nth-child(3) a {
			width: 102%;
			float: left;
		}
		&:nth-child(4) a {
			float: right;
			width: 73.5%;
		}
	}
	.social-add {
		p {
			display: inline-flex;
			width: 210px;
			justify-content: center;
			padding: 38px;
			height: 210px;
			border: 1px solid #f75d53;
			text-align: left;
			color: black;
			font-family: Didot;
			font-size: 14px;
			flex-direction: column;
			font-weight: 400;
			line-height: 20px;
			color: black;
			font-family: DIN;
			letter-spacing: .1em;
			font-size: 14px;
			font-weight: 300;
			line-height: 25px;
			text-transform: uppercase;
			a {
				display: block;
				color: #f75d53;
				text-decoration: none;
				text-transform: none;
				letter-spacing: 0;
				font-family: 'Montserrat', sans-serif;
				font-size: 16px;
				font-weight: 300;
			}
		}
	}
}

.clients-logo {
	padding: 90px 0 120px;
	text-align: center;
	ul {
		display: flex;
		justify-content: space-between;
	}
}

.images-cols {
	font-size: 0;
	padding: 0 5px 124px;
	img {
		width: calc(50% - 20px);
		margin: 0 10px;
		display: inline-block;
		height: auto;
	}
}

.clients-full {
	padding: 64px 0 0;
	border-bottom: 1px solid #f2f2f2;
	h2 {
		color: black;
		font-family: MajestiBanner;
		font-size: 48px;
		font-weight: 500;
		text-align: center;
		line-height: 47px;
	}
	.more {
		width: 161px;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		color: #e0e0e0;
		font-family: MajestiBanner;
		font-size: 36px;
		font-weight: 500;
		line-height: 26px;
		margin: 0;
		position: relative;
		top: -10px;
	}
	ul {
		padding: 90px 0 70px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		li {
			width: 25%;
			text-align: center;
			line-height: 190px;
		}
	}
}

.video-full {
	margin-bottom: 50px;
	a {
		display: block;
		position: relative;
		img {
			width: 100%;
		}
		&:after {
			content: "";
			background: url(../images/ico_play.png) no-repeat;
			width: 128px;
			height: 128px;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

.partners-full {
	background: #f6f6f6;
	padding: 150px 0 374px;
	margin-bottom: -260px;
	ul {
		display: flex;
		justify-content: space-between;
		text-align: center;
		align-items: center;
		flex-wrap: wrap;
		li {
			width: 25%;
			padding: 0 15px;
		}
	}
}

.images-full {
	border-top: 1px solid #f2f2f2;
	padding: 110px 0 0;
	img {
		width: 100%;
		height: auto;
	}
}

.roboto {
	.result,
	.letters,
	.name {
		font-family: "Roboto", sans-serif;
		font-weight: 600;
	}
}

.typography-colors {
	padding: 5rem 0 2.5rem;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	.col {
		padding-bottom: 2.5rem
	}
	.color {
		width: 130px;
		height: 130px;
		border-radius: 50%;
		margin: 0 auto 10px;
	}
	p {
		color: #999;
		font-size: 16px;
		font-weight: 300;
		line-height: 27px;
	}
	h6 {
		color: #101010;
		padding-top: 7px;
		font-size: 18px;
		font-weight: 300;
		line-height: 27px;
	}
}

.typography-text {
	padding: 5rem 0 2.5rem;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.col {
		width: 49%;
		padding-bottom: 2.5rem
	}
	h6 {
		color: #999;
		font-size: 16px;
		font-weight: 300;
		line-height: 27px;
	}
	.result {
		color: #e51c23;
		font-size: 72px;
		font-weight: 400;
		line-height: 47px;
		padding: 30px 0 23px;
	}
	.name {
		color: #101010;
		font-size: 24px;
		padding-bottom: 20px;
		font-weight: 400;
		line-height: 27px;
	}
	.letters {
		color: #999;
		font-size: 18px;
		letter-spacing: .1em;
		font-weight: 300;
		line-height: 26px;
		span {
			text-transform: uppercase;
		}
	}
}

.text-row {
	padding-bottom: 98px;
	overflow: hidden;
	h2 {
		color: black;
		font-family: MajestiBanner;
		font-size: 60px;
		font-weight: 500;
		line-height: 50px;
		padding-bottom: 50px;
	}
	h2 + img {
		margin-top: 85px;
		margin-bottom: 50px;
	}
	.entry-cols {
		display: flex;
		color: #999;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 300;
		line-height: 27px;
		justify-content: space-between;
		p {
			padding-bottom: 30px;
			letter-spacing: 0;
		}
		.col {
			width: 48.8%;
			padding-right: 9%;
		}
	}
}

.center-cols {
	display: flex;
	align-items: center;
	padding: 100px 0 0;
	img {
		margin: auto;
		margin-bottom: -5%;
		margin-right: -13%;
		float: right;
	}
	h2 {
		color: black;
		font-family: MajestiBanner;
		font-size: 48px;
		font-weight: 500;
		line-height: 47px;
	}
}

.case-title {
	margin-bottom: 478px;
	.container {
		display: flex;
		align-items: center;
		height: 100vh;
		position: relative;
		padding-top: 90px;
		max-height: 980px;
		padding-bottom: 90px;
	}
	.screen {
		position: absolute;
		top: 22%;
		width: 92%;
		text-align: center;
		right: 0;
		bottom: -47%;
		pointer-events: none;
		img {
			max-height: 100%;
		}
	}
	.case-logo {
		max-width: 300px;
		padding-bottom: 80px;
	}
	h1 {
		color: white;
		font-family: Montserrat;
		font-size: 30px;
		font-weight: 400;
		padding-bottom: 20px;
		line-height: 30px;
	}
	.text {
		width: 566px;
		color: white;
		padding-top: 50px;
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
	}
}

.try-case {
	text-align: center;
	border-top: 1px solid #f2f2f2;
	padding: 160px 0 150px;
	h3 {
		padding-bottom: 25px;
	}
	.entry {
		padding-bottom: 75px;
		max-width: 560px;
		margin: auto;
	}
}

.founders {
	padding-bottom: 20px;
	text-align: center;
	.entry {
		padding-bottom: 58px;
		max-width: 750px;
		margin: auto;
	}
	.ceo {
		display: inline-flex;
		text-align: left;
		padding: 12px 75px 48px;
		align-items: center;
		img {
			border-radius: 50%;
			width: 98px;
			background-color: #f75d53;
		}
		.image {
			padding-right: 40px;
		}
		h6 {
			color: black;
			font-size: 18px;
			font-weight: 200;
			line-height: 22px;
			font-family: DIN;
			letter-spacing: .1em;
			font-size: 15px;
			font-weight: 300;
			line-height: 12px;
			text-transform: uppercase;
		}
		p {
			color: #bebebe;
			font-size: 16px;
			font-weight: 300;
			padding-top: 9px;
			line-height: 20px;
		}
	}
	blockquote {
		text-align: center;
		color: black;
		font-family: Didot;
		font-size: 32px;
		font-weight: 400;
		padding: 0 30px 60px;
		line-height: 35px;
		padding-top: 12px;
		width: 1165px;
		margin: auto;
		position: relative;
		max-width: 100%;
		font-family: MajestiBanner;
		font-size: 32px;
		font-weight: 500;
		line-height: 35px;
		&:before {
			content: "“";
			position: absolute;
			top: 0;
			left: 0;
			color: #f75d53;
			font-family: Didot;
			font-size: 150px;
			font-weight: 400;
			line-height: 23px;
		}

	}
}

.visible0 .tofl {
	transition: all .3s ease;
	stroke: none !important;
	fill: #F75D53 !important;
}

.services-list {
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 39px;
	padding-top: 121px;
	text-align: center;
	.image {
		height: 50px;
		overflow: hidden;
		margin-bottom: 15px;
		svg {
			max-height: 100%;
		}
	}
	section {
		display: flex;
		justify-content: space-between;
	}
	article {
		padding: 0 10px;
		ul {
			padding: 0;
			margin: 0;
		}
	}

	h5 {
		color: black;
		font-family: MajestiBanner;
		font-size: 28px;
		font-weight: 500;
		line-height: 28px;
		padding: 14px 0 12px;
		margin: 0;
		&:after {
			content: "";
			width: 26px;
			display: block;
			margin: 38px auto 15px;
			height: 2px;
			background-color: #e2e2e2;
		}
	}
	li {
		color: #999;
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 300;
		line-height: 26px;
		display: block;
		padding: 0;
		margin: 0;
		position: relative;
	}
}

.position button {
	width: 100%;
	height: 188px;
	color: white;
	font-family: MajestiBanner;
	border: 0;
	margin-top: 84px;
	margin-bottom: 15px;
	font-size: 60px;
	font-weight: 500;
	line-height: 48px;
	background-color: #ed5b4f;
	&.succ {
		background: #4caf50;
	}
}

.job-form {
	min-width: 100%;
	padding-top: 85px;
	margin-left: -38px;
	font-size: 0;
	label {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 300;
		display: block;
		padding: 0;
		margin: 0;
		line-height: 20px;
		padding-bottom: 5px;
		color: #999;
		small {
			font-size: 14px;
		}
		span {
			position: static;
			color: #f75d53;
		}
	}
	fieldset {
		width: 25%;
		display: inline-block;
		padding-bottom: 48px;
		vertical-align: top;
		padding-left: 38px;
		&.half {
			width: 50%;
		}
	}
	input {
		width: 100%;
		height: 40px;
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		color: #a1a1a1;
		font-family: Montserrat;
		font-size: 14px;
		padding: 0 15px;
		letter-spacing: .06em;
		font-weight: 300;
		line-height: 20px;
	}
	.phone {
		position: relative;
		.crf-s {
			display: block;
			cursor: pointer;
			position: absolute;
			top: 0;
			bottom: 0;
			background: url(../images/ico_drop.png) no-repeat 36px 50%;
			left: 0;
			z-index: 9;
			font-size: 14px;
			padding-left: 56px;
			font-weight: 300;
			line-height: 40px;
			color: #a1a1a1;
			right: 0;
			text-align: right;
			width: 90px;
			img {
				position: absolute;
				left: 14px;
				top: 14px;
			}
		}
		input {
			padding-left: 98px;
		}
	}
	.file {
		height: 40px;
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		position: relative;
		line-height: 38px;
		label {
			cursor: pointer;
		}
		input {
			position: absolute;
			left: -999em;
			opacity: 0;
		}
		.result {
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 300;
			display: block;
			padding: 10px;
			overflow: hidden;
			line-height: 20px;
			color: #999;
			span {
				color: inherit;
			}
			strong {
				font-weight: inherit;
				color: #f75d53;
			}
		}
		.choose {
			float: left;
			height: 34px;
			text-align: center;
			width: 154px;
			margin: 2px;
			color: #999;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: .06em;
			line-height: 34px;
			background-color: #f6f6f6;
			border-radius: 3px;
			&:before {
				content: "";
				background: url(../images/ico_upload.png) no-repeat;
				width: 12px;
				height: 12px;
				display: inline-block;
				margin-left: -20px;
				margin-right: 12px;
			}
		}
	}
	.linkedin {
		position: relative;
		.label {
			position: absolute;
			width: 236px;
			height: 34px;
			text-align: center;
			margin: 3px;
			color: #999;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: .06em;
			line-height: 34px;
			background-color: #f6f6f6;
			border-radius: 3px;
		}
		input {
			padding-left: 252px;
		}
	}
	::-webkit-input-placeholder {
		color: #dbdbdb;
	}

	::-moz-placeholder {
		color: #dbdbdb;
		opacity: 1;
	}
}

.crf-sm {
	position: absolute;
	min-width: 100px;
	display: none;
	overflow: auto;
	max-height: 300px;
	z-index: 9999;
	margin-top: -1px;
	background: #fff;
	padding: 10px 13px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
}

.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-selectable {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

.crf-sm li {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: #a1a1a1;
	cursor: pointer;
	overflow: hidden;
	& + li {
		padding-top: 8px;
	}
	img {
		margin-right: 10px;
		margin-top: 4px;
		float: left;
	}
}

.drag-available .position .container,
.drag-available .position,
.drag-available .body {
	position: static;
}

.drag-available .job-apply {
	user-select: none;
}

.text-box .job-apply ul .skill-name,
.skill-name {
	list-style: none;
	margin: 0 9px 10px 0;
	line-height: 0;
	height: 31px;
	display: inline-block;
	border: 1px solid #e6e6e6;
	cursor: move;
	vertical-align: top;
	border-radius: 3px;
	letter-spacing: .06em;
	color: #999;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	line-height: 29px;
	padding: 0 12px;
	&:before {
		display: none;
	}
}
.text-box .job-apply {
	padding: 126px 0 0;
	margin-bottom: -35px;
	h4 {
		color: #f75d53;
		font-family: DIN;
		font-size: 18px;
		letter-spacing: .1em;
		font-weight: 300;
		padding-bottom: 23px;
		line-height: 20px;
		text-transform: uppercase;
	}
	section {
		display: flex;
		article {
			width: 33.33%;
			padding-right: 20px;
			min-height: 250px;
		}
	}
	ul,
	li {
		padding: 0;
		margin: 0;
	}
	.drop-holer {
		min-height: 265px;
		z-index: 9;
	}
	&.added {
		.drop-area {
			position: static;
			.label {
				display: none;
			}
		}
	}
	.drop-area {
		min-height: 265px;
		margin: 40px 0;
		padding: 15px;
		position: relative;
		border: 1px solid #e6e6e6;
		border-radius: 4px;
		&.drag {
			border-style: dashed;
			box-shadow: 0 0 2px #f75d53;
			border-color: #f75d53;
		}
		.label {
			position: absolute;
			top: 50%;
			left: 0;
			text-align: center;
			transform: translateY(-50%);
			right: 0;
		}
		h6 {
			color: #d5d5d5;
			font-family: MajestiBanner;
			font-size: 24px;
			font-weight: 500;
			line-height: 25px;
			padding-bottom: 10px;
		}
		p {
			letter-spacing: .1em;
			color: #cfcfcf;
			font-family: DIN;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			text-transform: uppercase;
		}
	}
}

.text-box .job-apply ul.empty:before {
	opacity: 1;
}

.text-box .job-apply ul.empty {
	position: relative;
	min-height: 130px;
	width: 100%;
}

.text-box .job-apply ul:before {
	content: attr(data-empty);
	position: absolute;
	text-align: center;
	top: 50%;
	left: 0;
	transition: all .3s ease;
	opacity: 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	pointer-events: none;
	right: 0;
	transform: translateY(-50%);
	padding: 10px;
}

.text-box {
	padding: 188px 0;
	border-top: 1px solid #e6e6e6;
	position: relative;
	.bg-video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		opacity: 0;
		transition: all .3s ease;
		right: 0;
		&:after {
			content: "";
			position: absolute;
			background: #f75d53;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: .86;
		}
		.touch & {
			display: none;
		}
		video {
			min-width: 100%;
			min-height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: auto;
			height: auto;
		}
	}
	.no-touch &.video:hover {
		color: #fff;
		ul,
		h3,
		h4 {
			color: #fff;
		}
		.bg-video {
			opacity: 1;
		}
	}
	&:first-child {
		border-top: 0;
	}
	form {
		width: 100%;
		text-align: center;
		margin-top: 162px;
		.btn {
			display: inline-block;
		}
		fieldset {
			margin-left: -30px;
			margin-right: 10px;
			overflow: hidden;
		}
		.btn {
			margin-top: -18px;
		}
		label {
			width: 33.3%;
			float: left;
			margin-bottom: 150px;
			display: block;
			text-align: left;
			padding: 0 0 0 40px;
			& > span {
				margin-left: 40px;
			}
		}
	}
	&.center {
		.container {
			align-items: center;
		}
	}
	.cols {
		padding: 0 15px;
		padding-top: 107px;
	}
	h4 {
		color: #f75d53;
		font-family: Didot;
		padding-bottom: 10px;
		font-size: 32px;
		font-weight: 400;
		line-height: 35px;
		transition: all .3s ease;
	}
	p a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	p + p {
		padding-top: 30px;
	}
	&.pround {
		padding: 175px 0;
		h2 {
			padding-left: 0;
			margin-left: 10px;
			padding-right: 30px;
		}
	}
	&.work {
		background: url(../images/bg_left.svg) no-repeat 0 30%;
		padding: 115px 0 85px;
		h2 {
			padding-left: 0;
			margin-left: 10px;
			min-width: 47%;
			float: left;
			padding-right: 0;
			margin-right: 0;
			font-size: 60px;
		}
		.entry {
			overflow: hidden;
			float: none;
			width: auto;
			padding-top: 10px;
			max-width: 45%;
			margin: 0;
		}
	}
	&.offer {
		padding: 87px 0;
		h2 {
			padding-left: 0;
			margin-left: 10px;
			min-width: 41%;
			float: left;
			padding-right: 0;
			margin-right: 0;
			font-size: 60px;
		}
		.entry {
			overflow: hidden;
			float: none;
			width: auto;
			max-width: 45%;
			margin: 0;
		}
		ul li:before {
			display: none;
		}
	}
	&.about-project {
		padding: 195px 0;
		h2 {
			margin-left: 0;
			margin-right: 0;
			padding-left: 9px;
			padding-right: 5%;
			min-width: 34.56%;
		}
		.entry {
			width: 54.5%;
		}
	}
	&.looking {
		padding: 170px 0;
		h2 {
			margin-left: 0;
			margin-right: 0;
			padding-left: 9px;
			padding-right: 5%;
			min-width: 42.5%;
		}
		.entry {
			width: 54.5%;
		}
	}
	&.position {
		padding: 120px 0;
		h2 {
			font-size: 60px;
			margin: 0;
			padding: 0;
			min-width: 34%;
		}
		.entry {
			width: 54.5%;
		}
	}
	&.team {
		border-top: 0;
		padding: 134px 0;
		h2 {
			margin-left: 0;
			margin-right: 0;
			padding-left: 9px;
			padding-right: 5%;
			min-width: 42.5%;
		}
		.entry {
			width: 54.5%;
		}
	}
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	h2 {
		color: black;
		margin: 0 80px 0 35px;
		white-space: nowrap;
		color: #191919;
		font-family: MajestiBanner;
		font-size: 72px;
		font-weight: 500;
		line-height: 60px;
	}
	h3 {
		color: #f75d53;
		transition: all .3s ease;
		font-family: Didot;
		font-size: 36px;
		margin-left: 25px;
		min-width: 538px;
		margin-top: 7px;
		font-weight: 700;
		line-height: 35px;
		padding-right: 40px;
	}
	ul {
		padding: 40px 0 0;
		transition: all .3s ease;
		color: #666;
		font-weight: 300;
		line-height: 34px;
		li:before {
			content: "-";
			padding-right: 5px;
		}
	}
	.entry {
		max-width: 710px;
		letter-spacing: .054em;
	}
}

.job-list {
	width: 100%;
	padding-top: 130px;
	section {
		display: flex;
		flex-wrap: wrap;
		margin-left: -38px;
		justify-content: space-between;
	}
	article {
		width: 33.3%;
		padding-left: 38px;
	}
	a {
		border: 1px solid #ebebeb;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 180px;
		padding: 20px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 9;
			margin: 10px;
			border: 5px solid #ebebeb;
			opacity: 0;
			transition: all .3s ease;
		}
		&:hover:before {
			opacity: 1;
		}
	}
	h4 {
		color: #f75d53;
		padding: 1px 0 7px;
		line-height: 18px;
		font-family: DIN;
		font-size: 21px;
		text-transform: uppercase;
		font-weight: 300;
	}
	p {
		color: #999;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: .06em;
		line-height: 20px;
	}
}

.no-touch  {
	.clients-logo ul {
		transition: opacity 1s ease;
		opacity: 0;
		&.visible {
			opacity: 1;
		}
	}

	.text-overlay .text, .team-box section, .technologies-box ul li, .job-list article, .clients-list .logo-c, .clients-list .image > img, .cols .col, .text-box form label, .instagram-list article, .clients-logo ul, .text-box h2, .text-box .entry, .body .services-list article, .founders blockquote, .founders .ceo, .founders .entry, .founders .btn, .text-row .entry-cols, .images-cols img, .typography-text .col, .typography-colors .col, .images-full, .partners-full ul li, .video-full, .clients-full h2, .clients-full ul li, .center-cols .col, .try-case .entry, .quote-box blockquote, .service-box .ico, .service-box h2, .service-box .desc, .service-box .related, .quote-box-image blockquote, .two-cols .col h3, .text-box .job-apply section article, .job-form fieldset, .position button {
		transform: translateY(100px);
		transition: transform 1s ease, opacity 1s ease;
		opacity: 0;
		&.visible {
			transform: none;
			opacity: 1;
		}
	}

}
.quote-box {
	border-top: 1px solid #e6e6e6;
	padding: 97px 0;
	text-align: center;
	p {
		color: black;
		font-family: MajestiBanner;
		font-size: 32px;
		font-weight: 500;
		line-height: 25px;
		padding-bottom: 12px;
	}
	cite {
		display: block;
		color: #bebebe;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 25px;
	}
}

.mobile-social {
	display: none;
}

.follow-widget {
	position: absolute;
	top: 50%;
	left: 0;
	white-space: nowrap;
	transform: translateY(-38%);
	line-height: 25px;
	z-index: 100;
	transition: opacity .7s ease;
	transition-delay: 1s;
	opacity: 0;
	.loaded & {
		opacity: 1;
	}
	.home & {
		transition-delay: 1s;
		p {
			&:after {
				background: #d2d2d2;
			}
		}
		.social span {
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
			}
		}
	}
	&.reverse {
		p {
			color: #888;
			&:after {
				background: #d2d2d2;
			}
		}
		.social span {
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
			}
		}
	}
	.rotate {
		transform: rotate(-90deg);
		width: 120px;
		position: relative;
		margin-top: 195px;
	}
	p {
		display: inline-block;
		color: #fff;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: .05em;
		transition: all .3s ease;
		.home & {
			color: #b7b7b7;
		}
		&:after {
			content: "";
			margin: 0 21px 0 25px;
			vertical-align: middle;
			width: 78px;
			display: inline-block;
			height: 1px;
			background: #fff;
			transition: all .3s ease;
		}
	}
	.social {
		display: inline-block;
		vertical-align: top;
		li {
			vertical-align: top;
			display: inline-block;
			text-align: center;
		}
		li + li {
			padding-left: 31px;
		}
		a {
			display: block;
			top: 6px;
			position: relative;
		}
		span {
			width: 16px;
			height: 16px;
			transform: rotate(90deg);
			transition: all .3s ease;
			&:last-child {
				position: absolute;
				top: 2px;
				left: 0;
				opacity: 0;
			}
		}
	}
}

.start-project {
	text-align: center;
	background: #f75d53;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		margin: 0 -10vw;
		right: 0;
		bottom: 0;
		box-sizing: content-box;
		background: #da493e;
		transform: scaleX(0) skew(20deg);
		transform-origin: 100% 50%;
		transition-property: transform;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
	}
	&:hover:before {
		transform: scaleX(1) skew(20deg);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}
	a {
		display: block;
		position: relative;
		z-index: 9;
		padding: 178px 0 185px;
	}
	.start {
		color: white;
		font-family: MajestiBanner;
		font-size: 72px;
		font-weight: 500;
		line-height: 66px;
	}
	.text {
		display: inline-block;
		text-align: left;
	}
	.label {
		color: white;
		font-family: DIN, sans-serif;
		letter-spacing: .1em;
		font-size: 16px;
		font-weight: 300;
		line-height: 22px;
	}
}

.team-box {
	.wor {
		overflow: hidden;
		margin-top: 130px;
		position: relative;
		cursor: url(../images/ico_drag.png), auto;
		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
	}
	.prev {
		top: 0;
		bottom: 0;
		z-index: 999;
		left: 0;
		position: absolute;
		display: block;
		width: 50%;
		cursor: url(../images/ico_prev_b.png), auto;
	}
	.next {
		top: 0;
		bottom: 0;
		z-index: 999;
		right: 0;
		position: absolute;
		display: block;
		width: 50%;
		cursor: url(../images/ico_next_b.png), auto;
	}
	section {
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
		padding-bottom: 20px;
		margin-bottom: -20px;
		font-size: 0;
		white-space: nowrap;
		&:before {
			content: "";
			width: calc((100vw - 1280px) / 2);
			height: 80px;
			display: inline-block;
		}
		article {
			margin-right: 18px;
			display: inline-block;
			vertical-align: top;
			text-align: right;
			img {
				display: block;
				float: right;
				clear: right;
				margin-bottom: 18px;
			}
		}
	}
}

.technologies-box {
	margin-top: -15%;
	padding: calc(15% + 100px) 0 130px;
	background: url(../images/bg_left.svg) no-repeat 0 0;
	h3 {
		font-family: MajestiBanner;
		font-weight: 400;
		padding: 0 10px 10px;
		font-size: 72px;
		font-weight: 500;
		line-height: 66px;
		margin-bottom: -150px;
		color: #191919;
		span {
			color: #ea5a51;
		}
	}
	ul {
		text-align: right;
		padding: 35px 0 20px;
		li {
			width: 241px;
			text-align: center;
			line-height: 100px;
			display: inline-block;
		}
	}
}

.play {
	position: absolute;
	top: 172px;
	right: -48px;
	display: block;
	width: 96px;
	height: 96px;
	background: #f75d53 url(../images/ico_play.svg) no-repeat 50% 50%;
	border-radius: 50%;
	background-size: 13px 15px;
	border: 1px solid #f66259;
	animation: pulsate 3s ease-out infinite;
	box-shadow: 9.5px 16.5px 54px rgba(0, 0, 0, 0.32), 0 0 0 26px #fff;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: -55px;
		border-radius: 50%;
		z-index: -3;
		opacity: 0.46;
		border: 1px solid white;
	}
}

@keyframes pulsate {
	20% {transform: scale(1);}
	50% {transform: scale(1.05);}
	80% {transform: scale(1);}
}

@-webkit-keyframes pulsate {
	20% {-webkit-transform: scale(1);}
	50% {-webkit-transform: scale(1.05);}
	80% {-webkit-transform: scale(1);}
}

.text-overlay {
	margin: 152px 0 120px;
	overflow: hidden;
	.container {
		width: 1384px;
	}
	.text {
		width: 983px;
		max-width: 80%;
		padding: 40px 16% 88px 12.7%;
		position: relative;
		float: left;
		z-index: 9;
		margin: 0 44px 0;
		top: 0;
		margin-top: -520px;
		color: #fff;
		background: rgba(240, 59, 47, .8);
	}
	p {
		padding-bottom: 30px;
		letter-spacing: .055em;
	}
	h2 {
		color: white;
		font-family: MajestiBanner;
		font-size: 72px;
		padding: 140px 0 118px;
		font-weight: 400;
		line-height: 62px;
	}
	.play {
		position: absolute;
		top: 172px;
		right: -48px;
	}
	.image {
		float: right;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 22px;
			opacity: 0.18;
			border: 1px solid #feebea;
		}
	}
}

.body {
	position: relative;
}

.quote-box-image {
	background: no-repeat 50% 50%;
	height: 556px;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		color: white;
		font-family: MajestiBanner;
		font-size: 42px;
		font-weight: 500;
		text-align: left;
		line-height: 44px;
	}
	blockquote {
		padding: 0 80px;
		margin-top: 60px;
		position: relative;
		&:before {
			content: "“";
			color: white;
			font-family: MajestiBanner;
			font-size: 150px;
			font-weight: 500;
			line-height: 23px;
			position: absolute;
			left: -5px;
			top: -24px;
		}
	}
	cite {
		color: white;
		font-family: DIN, sans-serif;
		font-size: 12px;
		font-weight: 300;
		font-style: normal;
		display: block;
		padding: 0 5px;
		letter-spacing: .1em;
		text-align: left;
		line-height: 24px;
	}
}

.clients-logo ul li {
	width: 16.666666667%;

	img {
		width: 100%;
	}

}
.contact-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	pointer-events: none;
	background: #ed5b4f;
	opacity: 0;
	left: -999em;
	width: 100%;
	transition: opacity .3s ease;
	.close {
		position: absolute;
		top: 0;
		margin: 36px 40px;
		right: 0;
		z-index: 99;
		cursor: pointer;
		background: url(../images/ico_close.png) no-repeat;
		background-size: contain;
		width: 22px;
		height: 22px;
	}
	.active-contact & {
		pointer-events: auto;
		opacity: 1;
		left: 0;
	}
	.text {
		max-width: 650px;
		padding-top: 9vw;
		padding-bottom: 80px;
	}
	h6 {
		color: white;
		font-family: DIN, sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 55px;
	}
	h4 {
		color: white;
		font-family: MajestiBanner;
		font-size: 82px;
		padding: 7px 0 33px;
		font-weight: 500;
		line-height: 65px;
	}
	.mail {
		padding: 60px 0 110px;
		color: white;
		font-size: 68px;
		font-weight: 400;
		line-height: 55px;
		a {
			color: inherit;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	p {
		letter-spacing: .06em;
		color: white;
		font-size: 18px;
		font-weight: 300;
		line-height: 25px;
		padding-bottom: 25px;
	}
}

.tab-content {
	background: #fff;
	display: none;
	margin-top: 186px;
	&.active {
		display: block;
	}
}

.active-contact,
.active-start {
	overflow: hidden;
}

.noUi-connect {
	height: 11px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ed5b4f;
	&:before {
		content: "";
		position: absolute;
		top: -6px;
		border-radius: 50%;
		left: 0;
		width: 22px;
		margin-left: -11px;
		height: 22px;
		background-color: #ed5b4f;
	}
}

.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	/* Fix 401 */
}
.noUi-connect {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-origin {
	position: absolute;
	height: 0;
	width: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.noUi-draggable {
	cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}

.noUi-state-drag * {
	cursor: inherit !important;
}
.noUi-handle {
	position: absolute;
	top: -6px;
	border-radius: 50%;
	width: 22px;
	margin-left: -11px;
	height: 22px;
	background-color: #ed5b4f;
}

.start-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	overflow: auto;
	pointer-events: none;
	-webkit-overflow-scrolling: touch;
	background: #ed5b4f;
	opacity: 0;
	left: -999em;
	width: 100%;
	transition: opacity .3s ease;
	.container {
		min-height: calc(100vh - 186px);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 190px;
		padding-bottom: 190px;
	}
	h4 {
		color: black;
		font-family: DIN, sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 25px;
		padding: 95px 0 0;
		letter-spacing: .06em;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		&.error {
			color: #ed5b4f;
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: 186px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background: #fff;
	}
	input + label {
		padding-left: 12px;
	}
	label {
		display: inline-block;
		color: black;
		font-family: MajestiBanner;
		font-size: 38px;
		margin-bottom: 45px;
		font-weight: 500;
		line-height: 52px;
		vertical-align: top;
		letter-spacing: 0;
		small {
			color: #cecece;
			font-size: 22px;
		}
		&.error {
			color: #ed5b4f;
		}
	}
	textarea,
	input {
		display: inline-block;
		vertical-align: top;
		width: 255px;
		height: 52px;
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		margin-bottom: 45px;
		color: #333;
		padding: 10px 15px;
		text-align: center;
		font-family: Montserrat;
		letter-spacing: 0;
		font-size: 18px;
		margin: 0 0 0 12px;
		font-weight: 300;
		line-height: 25px;
		&.error {
			border-color: #ed5b4f;
		}
		&.big {
			width: 437px;
		}
		&[type=email] {
			width: 340px;
		}
	}
	::-webkit-input-placeholder {
		color: #dbdbdb;
	}

	::-moz-placeholder {
		color: #dbdbdb;
		opacity: 1;
	}
	.no-spaces {
		label,
		input,
		textarea {
			margin: 5px 0;
		}
	}
	fieldset {
		width: 100%;
	}
	label .value {
		position: static;
	}
	.text-filled {
		color: black;
		font-family: MajestiBanner;
		font-size: 30px;
		font-weight: 500;
		line-height: 44px;
		small {
			color: #cecece;
			font-size: 22px;
		}
		p {
			padding-bottom: 47px;
		}
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.color {
		color: #ed5b4f;
	}
	button {
		width: 100%;
		border: 0;
		color: white;
		font-family: MajestiBanner;
		font-size: 60px;
		margin-bottom: 20px;
		padding: 0;
		margin-top: 50px;
		display: block;
		font-weight: 500;
		line-height: 48px;
		height: 188px;
		background-color: #ed5b4f;
		&.succ {
			background: #4caf50;
		}
	}
	.range {
		margin-top: 22px;
		color: black;
		font-family: MajestiBanner;
		font-size: 24px;
		font-weight: 500;
		padding-left: 60px;
		padding-right: 165px;
		line-height: 25px;
		position: relative;
		.r-label {
			position: absolute;
			right: 0;
			top: 0;
		}
		.l-label {
			position: absolute;
			left: 0;
			top: 0;
			width: 45px;
			text-align: center;
		}
		.bar {
			height: 11px;
			top: 7px;
			position: relative;
			background-color: #dfdfdf;
			&:before {
				content: "";
				position: absolute;
				top: -6px;
				border-radius: 50%;
				right: 0;
				width: 22px;
				margin-right: -11px;
				height: 22px;
				background-color: #dfdfdf;
			}
		}
	}
	.date-radios {
		padding-top: 13px;
		display: flex;
		position: relative;
		z-index: 9;
		margin: 0 -10px;
		label {
			padding: 0;
			width: 100%;
			margin: 0 15px;
			height: 52px;
			display: block;
			cursor: pointer;
			position: relative;
			input {
				position: absolute;
				left: -999em;
			}
			&.urgent span {
				border: 1px solid #ed5b4f;
				color: #ed5b4f;
			}
			input:checked + span {
				background: #ed5b4f;
				border: 1px solid #ed5b4f;
				color: #fff;
			}
			span {
				height: 52px;
				color: #b5b5b5;
				line-height: 50px;
				pointer-events: none;
				z-index: 9;
				text-align: center;
				font-family: Montserrat;
				cursor: pointer;
				font-size: 18px;
				font-weight: 300;
				border: 1px solid #e6e6e6;
				border-radius: 3px;
			}
		}
	}
	.services-select {
		width: 33.3%;
		float: left;
		overflow: hidden;
		vertical-align: top;
		text-align: center;
		h5 {
			color: black;
			font-family: MajestiBanner;
			font-size: 28px;
			font-weight: 500;
			line-height: 28px;
			padding: 31px 0 15px;
			&:after {
				content: "";
				width: 26px;
				display: block;
				margin: 38px auto 15px;
				height: 2px;
				background-color: #e2e2e2;
			}
		}
		.ico img {
			max-width: 50px;
			max-height: 50px;
		}
		label {
			color: #999;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 300;
			line-height: 26px;
			display: block;
			cursor: pointer;
			padding: 0;
			margin: 0;
			position: relative;
			&:hover span {
				transform: scale(1.2);
				color: #ed5b4f;
			}
			span {
				position: static;
				color: #999;
				cursor: pointer;
				display: block;
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
				transition-duration: 0.5s;
				cursor: pointer;
				font-size: 15px;
				font-weight: 300;
			}
			input:checked + span {
				transform: scale(1.2);
				color: #ed5b4f;
			}
			input {
				position: absolute;
				left: -999em;
				top: 0;
				width: 10px;
				height: 10px;
				opacity: 0;
				pointer-events: none;
			}
		}
	}

	textarea {
		height: 134px;
		text-align: left;
		width: 100%;
		padding-top: 5px;
		margin: 0;
		display: block;
	}
	.steps {
		position: absolute;
		bottom: 60px;
		left: 0;
		right: 0;
		font-size: 0;
		.act {
			display: inline-block;
			width: 50%;
			padding: 0 10px;
			text-align: right;
		}
		.act + .act {
			text-align: left;
		}
		.count {
			opacity: 0.9;
			font-family: MajestiBanner;
			text-align: center;
			font-size: 48px;
			font-weight: 500;
			padding-bottom: 42px;
			line-height: 25px;
			color: black;
			span {
				color: #ed5b4f;
			}
			.div {
				color: #cdcdcd;
			}
		}
		a {
			font-family: DIN;
			font-size: 18px;
			font-weight: 300;
			line-height: 25px;
			text-transform: uppercase;
			color: black;
			span {
				color: #000000;
			}
			&.prev {
				background: url(../images/ico_back.png) no-repeat 0% 50%;
				padding-left: 40px;
				display: inline-block;
				color: #bfbfbf;
				font-family: DIN;
				font-size: 14px;
				font-weight: 300;
				line-height: 25px;
				text-transform: uppercase;
			}
			&.next {
				background: url(../images/ico_next.png) no-repeat 100% 50%;
				padding-right: 40px;
				display: inline-block;
				span {
					color: #ed5b4f;
				}
			}
		}
	}
	.close {
		position: absolute;
		top: 0;
		margin: 36px 40px;
		right: 0;
		z-index: 99;
		cursor: pointer;
		background: url(../images/ico_close.png) no-repeat;
		background-size: contain;
		width: 22px;
		height: 22px;
	}
	.active-start & {
		pointer-events: auto;
		opacity: 1;
		left: 0;
	}
}

.service-box + .service-box {
	border-top: 1px solid #e6e6e6;
}

.service-box {
	padding: 150px 0 135px;
	overflow: hidden;
	h2 {
		text-align: center;
		color: black;
		font-family: MajestiBanner;
		font-size: 48px;
		font-weight: 500;
		line-height: 58px;
		padding: 33px 0;
		&:after {
			content: "";
			display: block;
			width: 26px;
			margin: 41px auto 47px;
			height: 2px;
			background-color: #e2e2e2;
		}
	}
	.desc {
		width: 57%;
		float: left;
		padding-right: 6%;
		p {
			color: #999;
			font-size: 18px;
			font-weight: 300;
			letter-spacing: .06em;
			padding-bottom: 33px;
			line-height: 27px;
		}
		ul + ul {
			padding-left: 70px;
		}
		ul {
			float: left;
			max-width: 320px;
			color: black;
			font-family: Montserrat;
			font-size: 18px;
			font-weight: 300;
			line-height: 28px;
			li {
				padding: 5px 0;
			}
		}
	}
	.related {
		overflow: hidden;
		p {
			color: #ed5b4f;
			font-size: 17px;
			max-width: 410px;
			letter-spacing: .06em;
			font-weight: 300;
			line-height: 26px;
			a {
				color: inherit;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	h6 {
		color: #999;
		font-family: DIN, sans-serif;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: .06em;
		padding: 3px 0 9px;
		line-height: 16px;
		text-transform: uppercase;
	}
	.ico {
		text-align: center;
		max-width: 50px;
		margin: auto;
	}
}

/* footer
------------------------------------------------------------------------------*/

.footer {
	background: #1f1e1e;
	color: #ececec;
	font-size: 16px;
	font-weight: 200;
	line-height: 23px;
	padding: 106px 0 102px;
	.left {
		padding-left: 10px;
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
	.social {
		li {
			float: left;
			padding: 23px 10px 0 34px;
			a {
				display: block;
				span {
					width: 16px;
					height: 16px;
					transform: scale(1.1);
				}
			}
		}
	}
}

.icon {
	display: inline-block;
}

.icon-logo  {
	width: 136px;
	display: inline-block;
	height: 36px;
	background: url(../images/logo.svg) no-repeat;
	background-size: contain;
}

.icon-facebook {
	background: url(/images/ico_fb.svg) no-repeat;
}
.icon-instagram {
	background: url(/images/instragram.svg) no-repeat;
}
.icon-linked {
	background: url(/images/linked.svg) no-repeat;
}
.icon-facebook-g {
	background: url(/images/ico_fb_g.svg) no-repeat;
}
.icon-instagram-g {
	background: url(/images/instragram_g.svg) no-repeat;
}
.icon-linked-g {
	background: url(/images/linked_g.svg) no-repeat;
}

.load-more {
	cursor: pointer;
}

.two-cols {
	display: flex;
	justify-content: space-between;
	.col + .col {
		width: 43%;
	}
	.col {
		h3 {
			color: black;
			font-family: MajestiBanner;
			font-size: 32px;
			font-weight: 500;
			line-height: 25px;
			margin: 0;
			padding: 0 0 40px;
		}
	}
}


.text-box.skills {
	border-bottom: 1px solid #e6e6e6;
	padding: 128px 0 120px;
}

/* Media
------------------------------------------------------------------------------*/

@media screen and (max-width: 1740px) {

	.header .all {
		margin-left: 12%;
	}
}

@media screen and (max-width: 1540px) {

	.home .featured-title {
		padding-left: 80px;
	}

	.instagram-list {
		margin-left: 0;
		width: 100%;
	}

	.lines,
	.menu {
		width: 1100px;
	}

	.services-list section {
		margin-right: 0;
		p br {
			display: none;
		}
	}

	.menu .plan a {
		min-width: 160px;
	}

}

@media screen and (max-width: 1430px) {

	.clients-list {
		padding-top: 80px;
	}


	.home .menu a::after {
		background-color: #fff;
	}
	.menu {
		padding: 0;
		margin: 0;
		position: static;
		.mobile-social {
			clear: both;
			padding: 0 25px;
			display: block;
			&:before {
				content: "";
				border-top: 1px solid #f7f7f7;
				width: 75px;
				display: block;
				margin: 10px 0 40px;
			}
			a {
				float: left;
				line-height: normal;
				padding: 0;
				height: 20px;
				margin-left: -4px;
				margin-right: 38px;
				img {
					display: block;
					height: 100%;
				}
			}
		}
		.home & {
			color: #fff;
			.langs a {
				color: #fff;
			}
			.langs .trigger {
				color: #fff;
				border-color: #fff;
				&:after {
					background: url(../images/ico_drop_w.svg) no-repeat;
				}
			}
		}
	}

	.menu .plan a,
	.home .menu .plan a {
		&:hover {
			background: none;
			color: #fff;
			text-decoration: line-through;
		}
	}

	.menu ul li {
		width: auto;
	}

	.menu .plan a {
		padding: 9px 0 6px;
		display: block;
		font-family: DIN,sans-serif;
		font-weight: 300;
		line-height: 25px;
		position: relative;
		color: inherit;
		font-size: 18px;
		display: block;
		letter-spacing: .1em;
		border: 0;
		padding-left: 20px;
		text-align: left;
		margin: 0;
	}

	.logo {
		width: 115px;
		margin: 25px 25px;
		height: 30px;
		&:after,
		&:before {
			background-size: contain;
		}
	}

	.menu ul li {
		padding-bottom: 13px;
		padding-left: 5px;
	}

	.menu-trigger {
		position: absolute;
		top: 0;
		z-index: 10099;
		display: block;
		margin: 25px 20px;
		cursor: pointer;
		width: 30px;
		padding-top: 5px;
		height: 32px;
		right: 0;
		span {
			height: 4px;
			transition: all .3s ease;
			background: #fff;
			display: block;
			border-radius: 2px;
			margin: 0 0 5px;
			.home & {
				background: #f75d53;
			}
			.home.active-menu & {
				background: #fff;
			}
			&:nth-child(1) {
				width: 67%;
			}
		}
		.active-menu & {
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(3) {
				transform: rotate(-45deg);
			}
			span:nth-child(1) {
				transform: rotate(45deg);
				margin: 9px 0 -12px;
				width: 100%;
			}
		}
	}

	.menu {
		pointer-events: none;
		opacity: 0;
		position: absolute;
		display: block;
		width: auto;
		top: 0;
		height: 100vh;
		z-index: 109;
		padding-top: 127px;
		overflow: auto;
		background: #f75d53;
		left: 0;
		right: 0;
		transition: all .3s ease;
		text-align: left;
		font-size: 18px;
		ul {
			padding: 0;
			margin: 0;
			float: none;
			display: block;
		}
		li {
			width: auto;
			padding-bottom: 20px;
			a {
				font-size: 18px;
				display: block;
				letter-spacing: .1em;
				padding-left: 20px;
				text-decoration: none;
			}
		}
		.active-menu & {
			opacity: 1;
			pointer-events: auto;
		}
	}
	.menu .plan {
		margin: 0;
		position: static;
	}


	.quote-center {
		padding-left: 180px;
		padding-right: 180px;
	}

	.clients-list article:nth-child(even) .text,
	.clients-list .text {
		padding: 0 30px;
	}

	.clients-list article .entry br {
		display: none;
	}

	.quote-center br {
		display: none;
	}

	.text-box.pround p br {
		display: none;
	}

	.text-box.pround h2 {
		width: 40%;
		margin-left: 0;
		padding-right: 0;
	}

	.clients-list article:nth-child(even) .logo-c,
	.clients-list .logo-c {
		left: 30px;
		width: 150px;
		top: -50px;
		margin: 0;
		height: 100px;
	}

	.clients-list article:nth-child(even) .logo-c {
		left: auto;
		right: 0;
	}

	.clients-list article:nth-child(even) .image {
		padding-right: 30px;
	}

	.clients-list .image {}

	.text-box .cols,
	.text-box form {
		padding-left: 40px;
		padding-right: 40px;
	}

	.text-box.about-project h2 {
		padding-left: 40px;
	}

	.cols .col:last-child,
	.cols .col:nth-child(2) {
		width: auto;
	}


	.text-overlay {
		margin-left: 40px;
	}

	.text-box h3 {
		width: 40%;
		min-width: 0;
	}

	.text-box .entry {
		width: 50%;
	}

	.text-box.looking {
		br {
			display: none;
		}
		.entry {
			width: 49%;
		}
		h2 {
			width: 42%;
			white-space: normal;
		}
	}

	.technologies-box h3 {
		padding-left: 40px;
	}

	.follow-widget {
		left: -30px;
	}

	.founders,
	.text-box.work,
	.text-box.offer,
	.clients-logo {
		padding-left: 30px;
		padding-right: 30px;
	}

	.footer .left {
		padding-left: 30px;
	}

	.text-overlay .image {
		padding-left: 50px;
	}

	.text-overlay .text {
		margin-top: -40vw;
		padding: 10px 5%;
		margin-left: 0;
	}

	.text-box.work h2 {
		width: 40%;
	}

	.text-box.work p br {
		display: none;
	}

	.text-box.offer h2 {
		margin-left: 0;
	}


	.technologies-box h3,
	.text-box.looking h2 {
		font-size: 36px;
		line-height: 1.3;
	}

	.text-box.team h2 {
		font-size: 66px;
	}

	.contact-modal .mail {
		padding: 4vw 0 7vw;
	}

	.start-modal .text-filled,
	.start-modal label {
		font-size: 24px;
	}

	.start-modal input[type=email], .start-modal textarea[type=email] {
		width: 250px;
	}

	.clients-list article .text {
		width: 55%;
	}

	.clients-list article:nth-child(even) .text {
		width: 55%;
		margin-left: 10%;
	}

	.quote-center {
		padding: 120px 50px 60px;
	}

	.quote-center blockquote:before {
		top: 0;
	}

	.home .featured-title h1 {
		font-size: 76px;
	}

	.job-form fieldset {
		width: 50%;
		&.half {
			width: 100%;
		}
	}

	.two-cols .col,
	.two-cols .col+.col {
		width: 48%;
		* {
			width: auto;
		}
	}

	.case-title .text {
		width: 60%;
	}

	.case-title .screen {
		top: 22%;
		width: 67%;
		right: 0;
		bottom: -8%;
		pointer-events: none;
	}

	.case-title {
		margin-bottom: 8vw;
	}

	.instagram-list article>a.sm {
		width: 100%;
	}

	.instagram-list article>a.md {
		width: 95%;
	}

	.instagram-list article>a.lg {
		width: 100%;
	}

	.header .all {
		margin-left: 18%;
		margin-top: 37px;
	}

	.home .menu .plan a {
		border-color: #fff;
	}

	.featured-title .play {
		right: 7%;
	}

	.home .featured-title {
		padding: 0;
		padding-left: 80px;
	}

}

.featured-title .play {
	z-index: 40
}

.home .featured-title .ico-down {
	z-index: -1;
}

@media screen and (max-width: 1023px) {

	.instagram-list .social-add p {
		padding: 15px;
		width: 170px;
		height: 150px;
	}

	.team-box section:before {
		width: 20px;
	}

	.home .featured-title {
		padding: 0;
	}

	.team-box .prev,
	.team-box .next {
		display: none
	}

	.case-title .container {
		min-height: 0;
		height: auto;
		padding-top: 150px;
		padding-bottom: 50vw;
		align-items: flex-start;
	}

	.case-title .text {
		width: auto;
		padding-top: 0;
		padding-right: 10vw;
		float: none;
	}

	.home .featured-title p {
		padding-top: 6%;
	}

	.case-title .screen {
		top: auto;
		height: 65vw;
	}

	.case-title .text {
		padding-bottom: 0;
		h1 {
			font-size: 24px;
			line-height: 1.4;
		}
		p {
			font-size: 16px;
			line-height: 1.5;
		}
	}

	.case-title .case-logo {
		padding-bottom: 15px;
	}

	.text-box .job-apply {
		padding: 40px 0;
		margin: 0;
	}

	.position button {
		margin: 0;
	}

	.job-form {
		padding-top: 40px;
	}

	.text-box .job-apply .drop-area {
		margin-bottom: 0;
	}

	.text-box .job-apply h4 {
		font-size: 14px;
	}

	.skill-name, .text-box .job-apply ul .skill-name {
		padding: 0 8px;
		margin-right: 5px;
		margin-bottom: 5px;
		font-size: 14px;
	}

	.text-box .job-apply section article {
		padding-right: 10px;
	}

	.text-box.position,
	.text-box.skills {
		padding: 80px 0;
	}

	.text-box.position .entry {
		max-width: none;
		width: auto;
	}

	.text-box.position h2 {
		padding-bottom: 15px;
	}

	.featured-title.alone h1 {
		font-size: 50px;
		padding: 150px 0 50px;
	}

	.header .all {
		margin: 80px 5px 0;
	}

	.text-box.work .entry {
		max-width: none;
	}

	.start-modal .date-radios {
		flex-wrap: wrap;
		label {
			width: calc(50% - 30px);
			margin: 0 15px 15px;
		}
	}

	.start-modal .text-filled,
	.start-modal label {
		font-size: 20px;
	}
	.start-modal input,
	.start-modal label {
		margin-bottom: 15px;
	}
	.start-modal input[type=email], .start-modal textarea[type=email],
	.start-modal input, .start-modal textarea {
		width: 240px;
	}
	.start-modal input.big, .start-modal textarea.big {
		width: 300px;
	}
	.start-modal textarea {
		width: 100%;
	}
	.contact-modal {
		display: flex;
		align-items: center;
	}

	.service-box .desc ul+ul,
	.service-box .desc ul {
		float: none;
		padding: 0;
	}

	.service-box h2,
	.quote-box p {
		font-size: 30px;
		line-height: 1.3;
	}

	.technologies-box h3 {
		margin-bottom: 0;
	}

	.featured-title {
		padding: 0;
	}

	.text-box.about-project .entry, .text-box.looking .entry, .text-box.team .entry {
		width: auto;
	}

	.text-box.team h2 {
		padding: 0 0 15px;
	}

	.text-box.team h2 {
		width: auto;
		float: none;
	}

	.featured-title h2 {
		font-size: 60px;
		line-height: 1.2;
	}

	.founders,
	.text-box.offer,
	.text-box.work,
	.clients-logo {
		padding-left: 0;
		padding-right: 0;
	}

	.founders .ceo {
		padding-left: 40px;
		padding-right: 40px;
	}

	.home .featured-title h1 {
		font-size: 7.1vw;
	}

	.home .featured-title p {
		font-size: 3vw;
	}

	.clients-logo {
		padding: 20px 0 60px;
	}

	.clients-logo ul {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		li {
			width: 30%;
			padding: 20px 10px;
		}
	}

	.text-box.work,
	.text-box.offer {
		padding: 80px 0;
	}

	.instagram-list {
		padding: 50px 0;
	}

	.text-box.work h2 {
		padding-right: 0;
		margin-right: 0;
		width: auto;
	}

	.services-list {
		padding-top: 70px;
	}

	.services-list section {
		flex-wrap: wrap;
	}

	.services-list h5 br {
		display: none;
	}

	.text-box.pround,
	.quote-center,
	.clients-list {
		padding: 80px 0;
	}

	.quote-center+.clients-list {
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.quote-center {
		padding-top: 120px
	}

	.clients-list .image {
		padding-left: 20px;
	}

	.clients-list article:nth-child(even),
	.clients-list article {
		padding-bottom: 60px;
	}

	.text-box.pround h2 {
		width: auto;
	}

	.clients-list article:nth-child(even) .image {
		padding-right: 20px;
	}

	.clients-list .logo-c {
		left: 0;
	}

	.follow-widget {
		display: none;
	}

	.text-box.looking,
	.text-box {
		h2,
		h3 {
			margin-left: 0;
			padding-bottom: 15px;
			white-space: normal;
			width: auto;
			br {
				display: none;
			}
		}
		.entry {
			width: auto;
		}
	}

	.technologies-box h3 {
		padding: 0;
		font-size: 60px;
		line-height: 70px;
	}

	.text-overlay {
		margin-left: 0;
	}
	.technologies-box {
		padding-bottom: 140px;
		margin-top: 100px;
		padding-top: 40px;
	}

	.text-overlay {
		.text {
			margin-top: -40vw;
			padding-top: 0;
		}
		.play {
			top: 100px;
		}
		h2 {
			padding-top: 45px;
			font-size: 60px;
			padding-bottom: 40px;
		}
	}

	.technologies-box ul {
		font-size: 0;
	}

	.technologies-box ul li {
		width: 25%;
	}

	.footer .left {
		padding: 0;
	}

	.text-box,
	.text-box.about-project,
	.quote-box,
	.text-box.looking {
		padding: 80px 0;
	}

	.text-box.about-project .entry, .text-box.looking .entry {
		width: auto;
	}

	.text-box form {
		margin-top: 50px;
		padding: 0;
	}

	.text-box .cols {
		padding: 0;
		display: block;
		.col {
			padding-top: 40px;
		}
	}

	.text-box form .btn {
		margin-top: 0;
	}

	.text-box form label {
		width: 50%;
		margin-bottom: 40px;
	}

	.technologies-box h3, .text-box.about-project h2 {
		padding-left: 0;
		padding-bottom: 15px;
	}

	.job-list {
		padding-top: 50px;
	}

	.job-list section {
		margin-left: -20px;
	}

	.job-list article {
		padding-left: 20px;
	}

	.text-overlay {
		margin-top: 80px;
	}

	.founders .entry br {
		display: none;
	}

}

.mobile-only {
	display: none;
}

@media screen and (max-width: 767px) {

	.partners-full {
		ul {
			li {
				width: 50%;
				padding: 10px 0;
			}
		}
	}

	.header {
		.reverse + div .all {
			color: #000;
			background-image: url(../images/ico_back_d.svg);
		}
	}

	.header .all {
		position: absolute;
		top: 0;
		margin: 28px 15px;
		padding-left: 25px;
		right: 0;
	}

	.team-box section:before {
		width: 25px;
	}

	.case-title .case-logo {
		padding-top: 30vh;
	}

	.text-box.work {
		background: none;
	}

	.logo {
		width: 115px;
		height: 30px;
		&:after,
		&:before {
			background-size: contain;
		}
	}


	.typography-text .col {
		width: 100%;
	}

	.typography-colors .color {
		width: 80px;
		height: 80px;
	}

	.typography-colors .col {
		width: 50%;
	}

	.typography-text .letters {
		word-break: break-all;
		font-size: 14px;
	}

	.typography-text {
		padding-bottom: 0;
		padding-top: 2.5rem
	}

	.typography-colors {
		padding: 2.5rem 0 0;
	}

	.founders .entry,
	.founders blockquote {
		text-align: left;
	}

	.instagram-list article, .services-list article {
		text-align: left;
	}

	.home .featured-title,
	.body {
		overflow: hidden;
	}

	.home .featured-title p {
		padding-top: 14%;
	}
	.center-cols {
		padding: 30px 0 0;
		display: block;
		text-align: center;
	}

	.entry>h3 {
		font-size: 30px;
		line-height: 1.5;
		padding-bottom: 10px;
	}

	.try-case {
		padding: 30px 0 50px;
	}

	.text-row .entry-cols .col {
		padding-right: 0;
	}

	.try-case .entry {
		padding-bottom: 25px;
	}

	.center-cols img {
		float: none;
		width: auto;
		margin: auto;
	}

	.case-title  {
		margin-bottom: 30px;
	}

	.partners-full {
		padding: 50px 0 150px;
		margin-bottom: -100px;
	}

	.clients-full {
		padding: 0;
		h2 {
			font-size: 20px;
			line-height: 1.4;
		}
	}

	.images-cols {
		padding: 0 0 40px;
	}

	.clients-full .more {
		width: 100px;
		font-size: 14px;
		line-height: 20px;
		height: auto;
		vertical-align: middle;
		top: 0;
		padding: 0;
		margin: 0;
	}
	.clients-full ul {
		padding: 20px 0;
		li {
			width: 50%;
			line-height: 70px;
			padding: 0 20px;
		}
	}

	.images-full {
		padding-top: 40px;
	}

	.text-row h2+img {
		margin: 10px 0;
	}

	.images-cols img {
		width: 100%;
		margin: 0 0 8px;
	}

	.case-title .container {
		padding: 80px 25px 15px;
		flex-wrap: wrap;
		.text {
			width: 100%;
			h1 {
				font-size: 20px;
			}
			p {
				font-size: 14px;
			}
			img {
				max-width: 50%;
			}
		}
	}

	.text-row {
		padding-bottom: 40px;
	}

	.text-row .entry-cols {
		font-size: 14px;
		line-height: 22spx;
		display: block;
		padding: 0;
		.col {
			width: auto;
		}
	}

	.text-row h2 {
		padding-bottom: 15px;
		font-size: 30px;
		line-height: 1.5;
	}

	.case-title .screen {
		position: static;
		text-align: center;
		width: auto;
		float: none;
		margin: auto;
		img {
			display: block;
			margin: auto;
		}
	}

	.drop-area {
		display: none;
	}

	.job-form .linkedin input {
		width: 100%;
		height: 80px;
		padding: 40px 15px 0;
	}

	.job-form .file {
		height: 80px;
		position: relative;
		label {
			height: 80px;
			position: relative;
			padding-top: 40px;
		}
		.result {
			padding: 8px 0;
			text-align: center;
		}
		.choose {
			display: block;
			width: auto;
			top: 0;
			left: 0;
			position: absolute;
			float: none;
			right: 0;
		}
	}

	.job-form .linkedin .label {
		display: block;
		width: auto;
		top: 0;
		left: 0;
		right: 0;
	}

	.text-box .job-apply section {
		display: block;
		article {
			width: auto;
			min-height: 0;
			padding: 0 0 5px;
			ul {
				display: none;
			}
			h4 {
				padding: 0 0 5px;
			}
			.mobile-only {
				display: block;
			}
			select {
				list-style: none;
				margin: 0 9px 10px 0;
				height: 150px;
				display: inline-block;
				border: 1px solid #e6e6e6;
				width: 100%;
				vertical-align: top;
				border-radius: 3px;
				letter-spacing: .06em;
				color: #999;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				padding: 12px;
			}
		}
	}

	.text-box.position, .text-box.skills{
		padding: 40px 0;
	}

	.job-form {
		padding-top: 20px;
	}

	.job-form fieldset {
		width: 100%;
		padding-bottom: 20px;
		label {
			font-size: 14px;
			small {
				font-size: 10px;
				display: block;
			}
		}
	}

	.text-box .job-apply {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.two-cols {
		display: block;
		margin-bottom: -40px;
		.col + .col,
		.col {
			width: auto;
			max-width: none;
			padding-bottom: 40px;
		}
	}

	.text-box.position h2 {
		font-size: 30px;
	}

	.two-cols .col h3 {
		font-size: 25px;
		padding-bottom: 10px;
	}

	.start-modal h4 {
		padding-top: 20px;
	}

	.start-modal .steps .act {
		padding-bottom: 10px;
		width: auto;
		display: block;
		text-align: center !important;
	}

	.start-modal .container {
		padding: 60px 20px 15px;
	}

	.start-modal .steps a.next {
		font-size: 16px;
	}

	.start-modal .steps .count {
		font-size: 40px;
		padding-bottom: 20px;
	}

	.start-modal .steps {
		width: 100%;
		position: static;
		padding: 15px 0;
	}

	.tab-content {
		margin-top: 80px;
	}

	.start-modal input+label {
		padding: 0;
	}

	.start-modal .services-select+ .services-select {
		padding-top: 20px;
	}

	.start-modal .services-select {
		float: none;
		padding-bottom: 20px;
		width: auto;
	}

	.start-modal .date-radios label {
		width: 100%;
	}

	.start-modal .text-filled {
		line-height: 1.5;
		p {
			padding-bottom: 20px;
		}
	}

	.start-modal .close {
		margin: 31px 24px;
	}

	.position button {
		font-size: 30px;
		padding: 20px;
		margin: 0;
		height: auto;
	}
	.start-modal button {
		margin-top: 20px;
		font-size: 40px;
		height: auto;
		padding: 15px;
	}

	.start-modal .range {
		padding: 30px 11px;
		font-size: 16px;
	}

	.start-modal input, .start-modal input[type=email], .start-modal textarea, .start-modal textarea[type=email] {
		width: 100%;
		margin: 0 0 15px;
		height: 40px;
		padding: 0 15px;
		max-width: calc(100vw - 40px);
	}

	.start-modal .no-spaces textarea {
		height: 100px;
		padding-top: 10px;
	}

	.start-modal label {
		display: block;
		line-height: normal;
		margin: 0 0 5px;
	}

	.menu .plan {
		position: static;
	}


	.contact-modal .close {
		margin: 31px 24px;
	}
	.contact-modal h4 {
		padding: 15px 0;
		font-size: 30px;
		line-height: 1.3;
	}

	.contact-modal .text {
		padding: 0;
	}

	.contact-modal h6 {
		font-size: 15px;
		line-height: normal;
		padding-bottom: 0;
	}

	.contact-modal p {
		font-size: 13px;
		padding: 8px 0;
		line-height: 1.4;
	}

	.contact-modal .mail {
		padding: 15px 0;
		font-size: 30px;
		line-height: 1.3;
	}

	.service-box h2 {
		font-size: 20px;
		padding: 15px 0;
		&:after {
			margin: 15px auto;
		}
	}

	.quote-box-image {
		height: auto;
		blockquote {
			padding: 0;
			cite {
				font-size: 11px;
			}
			&:before {
				font-size: 95px;
			}
		}
	}

	.service-box {
		padding: 40px 0;
		.ico {
			margin: 20px 0;
		}
	}

	.service-box .desc {
		float: none;
		width: auto;
		padding-bottom: 40px;
		p,
		li {
			font-size: 14px;
			line-height: 1.3;
		}
	}

	.home .header,
	.header {
		position: fixed;
		height: 82px;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	.scrolled:not(.active-menu) .header {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		background: rgba(255, 255, 255, .95);
		.logo:after {
			opacity: 1;
		}
		.logo:before {
			opacity: 0;
		}
	}

	.scroll-up:not(.active-menu) .header {
		-webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}

	.scrolled:not(.active-menu) .menu-trigger span {
		background: #f75d53;
	}

	.text-overlay {
		margin: 0 -20px;
		margin-top: 20px;
		.image {
			padding-left: 0;
			float: none;
		}
		.play {
			top: -32vw;
			height: 40px;
			right: 50%;
			margin-right: -20px;
			box-shadow: 4.5px 8.5px 24px rgba(0,0,0,.32), 0 0 0 16px #fff;
			width: 40px;
			&:after {
				margin: -35px;
			}
		}
		.text {
			margin: 0;
			top: 0;
			width: 100%;
			max-width: none;
			text-align: left;
			padding: 20px;
		}
		h2 {
			font-size: 26px;
			padding: 0 0 15px;
			width: auto;
			line-height: 1.5;
			br {
				display: none;
			}
		}
		p br {
			display: none;
		}
	}

	.text-box.looking h2 {
		padding-left: 0;
	}

	.quote-box,
	.text-box.looking {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.text-box.team,
	.quote-box-image,
	.quote-box {
		padding: 40px 0;
	}

	.team-box .wor {
		margin-top: 50px;
	}

	.text-box.team h2 {
		font-size: 30px;
	}

	.technologies-box {
		margin-top: 10px;
	}

	.quote-box-image p,
	.quote-box p {
		font-size: 18px;
		line-height: 1.4;
		padding-bottom: 10px;
	}

	.quote-box cite {
		font-size: 12px;
	}

	.job-list article {
		margin-bottom: 10px;
		width: 100%;
	}

	.technologies-box {
		padding: 30px 0;
		background-size: contain;
		h3 {
			font-size: 30px;
			line-height: 30px;
			br {
				display: none;
			}
		}
		ul {
			font-size: 0;
			display: inline;
			text-align: center;
			padding: 0 0 15px;
		}
		ul li {
			width: 50%;
			float: none;
			padding: 0;
			margin: 0;
			line-height: 50px;
			text-align: center;
			img {
				max-height: 30px;
			}
		}
	}

	.founders .ceo {
		display: flex;
		padding: 0 20px 20px;
		.image {
			margin-right: 15px;
			padding-right: 0;
		}
		img {
			width: 60px;
		}
	}

	.featured-title .play {
		height: 40px;
		box-shadow: 4.5px 8.5px 24px rgba(0,0,0,.32), 0 0 0 16px #fff;
		width: 40px;
		&:after {
			margin: -45px;
		}
	}

	.instagram-list .social-add p {
		width: auto;
		display: block;
		height: auto;
	}

	.instagram-list article {
		padding: 0 0 20px;
		img {
			width: 100%;
		}
	}

	.home .featured-title h1 {
		font-size: 38px;
		line-height: 28px;
	}

	.services-list article {
		padding-bottom: 40px;
	}
	.founders blockquote {
		padding: 5px 0 20px;
	}

	.services-list h5:after {
		margin: 15px auto 0;
	}

	.home .featured-title p {
		font-size: 17px;
		line-height: 1.2;
	}

	.featured-title .play:after {
		display: none;
	}

	.text-box.work h2,
	.text-box.offer h2 {
		padding: 0;
		margin: 0;
		font-size: 30px;
		float: none;
	}

	.text-box.work .entry,
	.text-box.offer .entry {
		max-width: none;
	}

	.featured-title .play {
		position: static;
		float: left;
		width: 67px;
		margin: 60px 20px 0;
		height: 67px;
		background-size: 10px auto;
	}

	.home .featured-title .container {
		position: static;
	}

	.services {
		padding-bottom: 50px;
	}

	.home .featured-title .ico-down {
		position: absolute;
		bottom: 55px;
		left: 70px;
		margin: 0;
	}

	.quote-center cite .par {
		padding-bottom: 12px;
	}

	.quote-center cite img {
		max-height: 30px;
	}

	.logo {
		position: absolute;
	}

	.clients-list article, .clients-list article:nth-child(even) {
		&:last-child {
			padding-bottom: 20px;
		}
	}

	body {
		font-size: 13px;
		line-height: 1.9;
	}

	.follow-widget {
		display: none;
	}

	.text-box {
		h2,
		h3 {
			padding-right: 0;
			margin-left: 0;
		}
		ul {
			padding-top: 20px;
			line-height: 28px;
		}
	}

	.footer .left {
		padding: 0;
	}

	.text-box form label {
		width: 100%;
		margin-bottom: 20px;
	}

	.text-box form {
		margin-top: 20px;
		.btn {
			margin-top: 15px;
		}
	}

	.text-box h4 {
		font-size: 26px;
	}

	.footer {
		padding: 50px 0;
		text-align: center;
		.container {
			display: block;
		}
		.left {
			padding: 0;
			font-size: 12px;
		}
		.social {
			padding-top: 10px;
			li {
				padding: 15px 15px 0;
				float: none;
				display: inline-block;
			}
		}
	}

	.start-project a {
		padding: 50px 20px;
		.label {
			font-size: 14px;
			line-height: 1.5;
		}
		.start {
			font-size: 36px;
			line-height: 1.5;
		}
	}


	.clients-list, .quote-center, .text-box.pround {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.clients-list {
		padding-bottom: 20px;
	}

	.clients-list {
		padding: 80px 0 20px;
	}

	.clients-list article .text {
		width: auto;
	}

	.quote-center+.clients-list {
		padding-top: 60px;
	}

	.clients-list article {
		display: block;
	}

	.founders blockquote {
		font-size: 20px;
		line-height: 28px;
		padding-bottom: 40px;
	}

	.instagram-list {
		padding-bottom: 10px;
	}

	.founders blockquote:before {
		font-size: 70px;
	}

	.founders .entry {
		padding: 20px 0 40px;
	}

	.clients-logo {
		padding-bottom: 40px;
	}

	.quote-center {
		padding: 70px 0 40px;
		blockquote:before {
			font-size: 70px;
		}
	}

	.clients-list article:nth-child(even),
	.clients-list {
		.image {
			width: auto;
			img {
				width: 100%;
			}
		}
		.text {
			padding: 20px 0 0;
			text-align: left;
			margin: 0;
			width: auto;
		}
	}

	.text-box.offer, .text-box.work {
		padding: 40px 0;
	}

	.instagram-list article:nth-child(1) {
		padding-top: 0;
	}

	.instagram-list article {
		width: 100%;
		text-align: center;
	}

	.services-list {
		padding-top: 40px;
		article {
			width: 100%;
			text-align: center;
			p:before {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	.text-box {
		padding: 40px 0;
		.container {
			display: block;
		}
		h2,
		h3 {
			font-size: 38px;
			line-height: 30px;
			padding-bottom: 15px;
			margin: 0;
			br {
				display: none;
			}
		}
	}

	.text-box.work {
		padding: 70px 0 40px;
	}

	.text-box.offer h2 {
		max-width: 60%;
	}

	.contact-modal h4 {
		font-size: 38px;
		line-height: 30px;
	}

	.text-box {
		h2,
		h3 {
			font-size: 38px !important;
			line-height: 30px !important;
			padding-bottom: 20px !important;
		}
	}

	.founders .ceo {
		width: 50%;
		padding: 0 20px 30px 0;
		float: left;
	}

	.start-project a .start {
		font-size: 46px;
		line-height: .7;
	}

	.instagram-list {
		margin: 0 -25px;
		width: auto;
		width: auto;
		max-width: none;
	}

	.instagram-list .container {
		padding: 0;
	}

	.instagram-list section {
		height: auto !important;
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		font-size: 0;
		width: auto;
		padding-left: 25px;
		min-height: calc(64vw + 14px + 106px);;
		max-width: none;
		white-space: nowrap;
	}

	.instagram-list .social-add p {
		padding: 25px;
	}

	.instagram-list article {
		vertical-align: top;
		opacity: 1 !important;
		transform: none !important;
		display: inline-block;
		position: static !important;
	}

	.instagram-list article>a {
		max-width: none !important;
		padding-right: 14px;
	}

	.founders .entry {
		clear: both;
		padding-top: 8px;
	}

	.instagram-list article:nth-child(1) {
		width: 64vw;
		height: 64vw;
		overflow: hidden;
	}
	.instagram-list article.social-add {
		position: absolute !important;
		left: 25px !important;
		top: 64vw !important;
		height: 106px;
		width: calc(64vw - 14px);
	}

	.founders .ceo img {
		width: 50px;
	}

	.founders .ceo .image {
		margin-right: 10px;
	}

	.founders .ceo p,
	.founders .ceo h6 {
		font-size: 11px;
		line-height: 1;
		padding: 2px 0;
	}

	.featured-title {
		padding: 0;
	}

	.featured-title h2 {
		font-size: 11vw;
		line-height: .9;
	}

	.featured-title h1 {
		font-size: 4.8vw;
		line-height: normal;
	}
	.services-list h5 {
		max-width: none;
	}

	.services-list p {
		font-size: 12px;
	}

	.instagram-list article>a {
		display: block;
	}

	.founders .entry,
	.founders blockquote {
		text-align: left;
	}

	.text-box .job-apply section article select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: 50px;
	}

	.case-title .container .text {
		padding-right: 0;
	}

	.services-list .image svg {
		display: block;
		margin-left: 0;
		width: 50px;
	}

	.service-box h2:after,
	.services-list h5:after {
		margin-left: 0;
	}

	.team-box section article {
		max-width: 50vw;
	}

	.case-title {
		margin-bottom: 20vw;
	}

	.case-title .screen {
		margin-bottom: -20vw;
	}

	.service-box h2,
	.instagram-list article, .services-list article {
		text-align: left;
	}

	.clients-list article .text {
		padding-left: 20px;
	}

	.clients-list article:nth-child(even) .text {
		text-align: right;
		padding-right: 20px;
		padding-left: 0;
	}

	.container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.clients-full h2,
	.text-row h2,
	.quote-box,
	.try-case .entry,
	.quote-center cite {
		text-align: left;
	}

	.quote-center p {
		text-align: left;
		padding: 10px 0 0;
	}

	.technologies-box h3 span {
		display: block;
	}
	.try-case .entry,
	.try-case {
		text-align: center;
	}

	.quote-box {
		text-align: center;
	}

	.job-form .phone .crf-s {
		display: none;
	}
	.job-form .phone input {
		padding-left: 15px;
	}

	.quote-box p {
		font-size: 22px;
	}

	.mobile-only {
		display: block;
	}

	.desktop-only {
		display: none;
	}

	.quote-box cite {
		font-size: 15px;
	}
}

@media screen and (max-width: 374px) {

	.home .featured-title h1 {
		font-size: 32px;
	}

	.text-box.offer h2 {
		max-width: 80%;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {

	.services-list article {
		width: 50%;
	}

	.founders .ceo {
		display: inline-flex;
	}

	.home .featured-title p {
		padding-top: 32px;
	}

	.featured-title .play {
		position: absolute;
		right: 10%;
		top: 50%;
		margin-top: -30px;
	}

	.services-list p:before {
		margin-bottom: 10px;
	}
	.services-list h5 {
		font-size: 16px;
		padding-bottom: 10px;
	}

	.instagram-list .social-add p {
		padding: 15px 9px;
	}
	.instagram-list section {
		min-height: -webkit-calc(54vh + 14px + 106px);
		min-height: calc(54vh + 14px + 106px);
	}

	.menu {
		padding-top: 85px;
	}

	.featured-title h2 {
		font-size: 15vh;
	}

	.team-box section article {
		max-width: none;
	}

	.team-box section article img:first-child:last-child {
		display: block;
		height: calc(80vh + 10px);
		max-width: none;
		width: auto;
		margin: 0 auto 10px;
	}

	.team-box section article img {
		display: block;
		height: 40vh;
		max-width: none;
		width: auto;
		margin: 0 auto 10px;
	}
	.center-cols img,

	.clients-list .image a,
	.clients-list .image img, .clients-list article:nth-child(even) .image img {
		width: auto;
		//height: 80vh;
	}

	.featured-title h1 {
		font-size: 6vh;
	}

	.instagram-list article:nth-child(1) {
		width: 54vh;
		height: 54vh;
		overflow: hidden;
	}

	.instagram-list article {
		max-width: 80vh;
	}
	.instagram-list article.social-add {
		position: absolute !important;
		left: 25px !important;
		top: 54vh !important;
		height: 106px;
		width: calc(54vh - 14px);
	}
}




/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	background: url(../images/logo.svg) no-repeat 0 100%;
	margin: auto;
	display: block;
	width: 141px;
	text-indent: -999em;
	height: 38px;
}

.fancybox-close {
	position: absolute;
	top: 0;
	margin: -32px;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 50%;
	z-index: 8040;
	&:after,
	&:before {
		content: "";
		height: 3px;
		background: #fff;
		margin: 16px 0 -19px;
		display: block;
		transform: rotate(-45deg);
	}
	&:before {
		transform: rotate(45deg);
	}
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: rgba(240, 59, 47, .8);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	/* Fix 401 */
}
.noUi-connect {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-origin {
	position: absolute;
	height: 0;
	width: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
	cursor: ew-resize;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}
.noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
