html{
    overflow-x: hidden;
}

.case-title {
    position: relative;
}

.quote-center {
    border-bottom: inherit;
    border-top: inherit;
}

.try-case {
    border-top: inherit;
}

.text-row h2 {
    font-size: 50px;
}

.technologies-box img {
    max-width: 100%;
}

.logos-cols .container .col {
    text-align: center;
    padding: 10px 0px;
}

.logos-cols .container .col img {
    width: 100%;
    max-width: 100%;
}

.try-case {
    text-align: center;
    padding: 150px 0 150px;
}

.case-title {
    margin-bottom: 200px;
}

.case-title .container {
    height: 50em;
}

.logos-cols {
    padding: 0 5px 124px;
}

.logos-cols .col {
    display: inline-block;
    width: 24.5%;
}

.case-title .screen {
    position: absolute;
    top: 10em;
    width: inherit;
    text-align: inherit;
    right: -38em;
    float: right;
    bottom: -5em;
    pointer-events: none;
    width: 96em;
}

.technologies-box {
    background: inherit;
}

.quote-center {
    background-color: #f8f8f8;
}

.try-case h3 {
    padding-bottom: 25px;
}

@media screen and (max-width: 1430px) {
    .case-title .screen {
        top: 21em;
        right: -28em;
        bottom: 9em;
        width: 69em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1230px) {
    .case-title .screen {
        top: 29em;
        right: -27em;
        bottom: 9em;
        width: 63em;
        pointer-events: none;
    }
}

@media screen and (max-width: 1023px) {
    .case-title .text {
        width: 100%;
    }

    .case-title .screen {
        height: 60vw;
    }

    .case-title .screen {
        top: 33em;
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 9em;
        width: 50em;
        pointer-events: none;
    }
}

@media screen and (max-width: 767px) {
    .quote-center p {
        text-align: left;
        padding: 10px 0 10px;
    }

    .text-row h2 {
        line-height: 1;
        font-size: 36px;
    }

    .logos-cols .col {
        width: 49%;
    }

    .case-title .container {
        height: inherit;
    }

    .case-title .screen {
        position: static;
        text-align: center;
        width: auto;
        float: none;
        margin: auto;
        margin-bottom: -25vw;
    }

    .case-title .screen img {
        display: block;
        margin: inherit;
        float: right;
    }
    .case-title .container .text {
        padding-right: 0;
        margin-top: -12em;
    }
}
