.header .count{
    background-color: #FFFFFF!important;
    color: #000000!important;
}

html{
    overflow-x: hidden;
}

.case-title {
    position: relative;
}

.text-row .entry-cols .col {
    width: 48.8%;
    padding-right: 9%;
}

.case-logo img{
    height: 84px;
    width: 243px;
}

.body {
    position: relative;
    padding-top: 10%;
}

.quote-center {
    border-bottom: inherit;
    border-top: inherit;
}

.try-case {
    border-top: inherit;
}


.technologies-box img {
    max-width: 100%;
}

.logos-cols .container .col {
    text-align: center;
    padding: 10px 0px;
}

.logos-cols .container .col img {
    width: 100%;
    max-width: 100%;
}


.text-row .container{
 height: 520px;
}

@media screen and (max-width: 768px){
    .text-row .container{
        height: 350px;
    }
}

@media screen and (max-width: 455px){
    .text-row .container{
        height: 450px;
    }
}

@media screen and (max-width: 375px){
    .text-row .container{
        height: 480px;
    }
}

@media screen and (max-width: 350px){
    .text-row .container{
        height: 450px
    }
}

@media screen and (max-width: 320px){
    .text-row .container{
        height: 370px;
    }
}



.text-row h2{
    padding-top: 10%;
    height: 48px;
    color: #002B45;
}

.text-row .entry-cols p {
    padding-top: 34px;
    color: #002B45;
}
.container .entry h3{
      width: 345px;
      color: #000000;
  }
.container .entry .scratchgame{
    height: 177px;
    width: 546px;
    color: #999999;
    font-size: 16px;
}
.entry p {
    color: #1D282C;
}
.try-case {
    text-align: center;
    padding: 150px 0 150px;
}

.case-title {
    margin-bottom: 0px;
}

.case-title{

    background-color: #002B45;
}


.case-title p1 {
    height: 105px;
    width: 582px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.quote-center p1{
    color: #1D282C;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;

}

.case-title .container {
    height: 50em;
}

.logos-cols {
    padding: 0 5px 124px;
}

.logos-cols .col {
    display: inline-block;
    width: 24.5%;
}

@media screen and (min-width: 1920px) {
    .phones-cols-block {
        width: 1920px !important;
        margin: 0 auto;
    }
}





.text-box team team-box center{
    padding-top: 20em;
}

.desktop.dragscroll{
    padding-top: 15%;
}



@media screen and (max-width: 766px) {
    .mobile.dragscroll{
    padding-top: 10%
    }

    .desktop.dragscroll{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .mobile.dragscroll {
        padding-top: 0%
    }
}


@media screen and (min-width: 1620px) {
    .desktop.dragscroll {
        padding-top: 35%;
    }
}

@media screen and (min-width: 1288px) {
    .desktop.dragscroll {
        padding-top: 15%;
        padding-left: 15%;
    }
}

@media screen and (min-width: 1920px) {
    .desktop.dragscroll {
        padding-top: 38%;
        padding-left: 5%;
    }
}


@media screen and (min-width: 415px) {
    .map {
        background-image: url('../images/dfds/Map.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
    @media screen and (min-width: 100px) and (max-width: 555px) {
        .map {
            background-image: url('../images/dfds/map23.png');
        }
        .scrat-chgame {
            padding-bottom: 60%;
        }
    }



@media screen and (min-width: 601px) {
    div#banner.case-title {
        background-image: url('../images/dfds/banners.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
    }
}
@media screen and (min-width: 601px) and (max-width: 630px) {
    div#banner.case-title {
        background-image: url('../images/dfds/banners.png');
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: bottom right;
    }
}

@media screen and (min-width: 1022px) and (max-width: 1300px) {
    div#banner.case-title {
        background-image: url('../images/dfds/banners.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: bottom right;
    }
}

@media screen and (min-width: 600px) and (max-width: 1022px) {
    div#banner.case-title {
        background-image: url('../images/dfds/banners.png');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: bottom right;
    }
}

@media screen and (min-width: 600px) and (max-width: 602px) {

    div#banner_entry {
     margin-bottom: 50%;

    }

    div#banner.case-title p {

    }

    div#banner.case-title h3{

    }

}

    @media screen and (max-width: 600px) {
        div#banner.case-title {
            background-image: url('../images/dfds/banners2.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;
        }

        div#banner.case-title .col {
            width: 100%;
        }


    }



div#banner_entry #entry-cols-desktop p{
    padding-top: 0px;
    padding-bottom: 50px;
}

@media screen and (max-width: 400px) {
    div#banner.case-title.background-image{
       width: 1%;
    }

    .case-logo{
        height: 1%;
    }
}

@media screen and (max-width: 767px) {
    .case-title .case-logo {
        padding-top: 13em;
    }
    div#banner_entry #entry-cols-desktop{
        display: none;
    }
    div#banner.case-title p {
        font-size: 17px;
        line-height: 2;
    }
}


div#banner.case-title h3 {
    color: #FFFFFF;
}
div#banner.case-title p {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.81;
}
@media screen and (min-width: 768px) {
        .phone_background {
        background-image: url(../images/dfds/shape.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
            padding-top: 4%;
            padding-bottom: 5%;
    }
}
.phones-cols-block {
    width: 100%;
    position: relative;
}

.phones-cols {
    position: relative;
    margin-bottom: 50px;
}

.wor.dfds {
    margin-top: inherit;
}

    .text-box.team.team-box.center.newdfds {
        background-image: url('../images/dfds/shape.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }

@media screen and (max-width: 768px) {

    .entry-cols #scratch-col {
        padding-top: 0px;
        height: 96px;
        width: auto;
        color: #002B45;
        font-family: DIN, sans-serif;
        font-size: 21px;
        font-weight: 300;
        line-height: 2;
    }
}
@media screen and (max-width: 767px) {
    .phones-cols  {
        display: none;
    }

    .text-row .entry-cols p {
        padding-top: 0px;
        height: 96px;
        width: 100%;
        color: #002B45;
        font-family: DIN, sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 2;
    }

    .text-row .entry-cols .col {
        width: 100%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 768px) {
    .text-box.team.team-box.center.newdfds  {
        display: none;
    }
#sail-mobile{
    display: none;
}
   div#banner_entry #entry-cols-mobile{
            display: none;
        }
}

.phones-cols .mobile-1 {
    position: relative;
    margin-top: -6%;
    width: 20%;
    float: left;
    margin-left: 5%;
}

.phones-cols .mobile-2 {
    position: relative;
    margin-top: -6%;
    width: 40%;
    float: left;
    margin-left: -10%;
}

.phones-cols .mobile-3 {
    position: relative;
    margin-top: -62%;
    width: 30%;
    margin-left: 57%;
    float: left;
}

.phones-cols .mobile-4 {
    position: relative;
    margin-top: -32%;
    width: 30%;
    float: left;
    margin-left: 39%;
}

.phones-cols .mobile-5 {
    position: relative;
    margin-top: -20%;
    width: 38%;
    float: right;
}

.try-case .entry, .try-case h3 {
    text-align: center;
    line-height: 1;
    padding-bottom: 3%;
}

.cite_logo{
    padding-top: 5%;
}

.try-case .entry, .try-case p {
    width: 100%;
    line-height: 1.81;
    color: #1D282C;
    font-size: 21px;
}

.btn{
   margin-top: 4em;
}

.clients-full {
    padding: 5% 0 10%;
    border-bottom: 0px solid #f2f2f2;
}


.clients-full ul {
    padding: 10% 0 15%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.clients-full h2 {
    color: #000;
    font-size: 50px;
    text-align: center;
    line-height: 47px;
}


.clients-full .more, .clients-full h2 {
    font-family: MajestiBanner;
    font-weight: 500;
}

.clients-full h2:nth-child(2) {
    color: #999;
    font-size: 36px;
    font-weight: 300;
    line-height: 27px;
    color: #E0E0E0;
    padding: 1%;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .clients-full h2 {
        font-size: 36px;
        line-height: 1.2;
        padding-top: 10%;
    }
    .clients-full h2:nth-child(2){
        font-size: 16px;
    }
}

.video-full a img {
    margin-bottom: 7%;
}

.video-full a:after {
    content: "";
    background: url(../images/movie.png) no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 320px) and (max-width: 470px) {
    .video-full a:after {
        background-size: 60%;
        background-position: center;
        top: -10px;
    }
}

.technologies-box {
    background: inherit;
}

.quote-center {
    background-color: #f8f8f8;
}

.try-case h3 {
    padding-bottom: 25px;
}



.quote-center cite strong {
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
}

.try-case h3 {
    color: #000;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 25px;
    font-family: MajestiBanner;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .quote-center p {
        text-align: left;
        padding: 10px 0 10px;
    }

    .text-row h2 {
        line-height: 0;
        font-size: 30px;
    }

    .logos-cols .col {
        width: 49%;
    }

    .case-title .container {
        height: inherit;
    }


    .case-title .container .text {
        padding-right: 0;
        margin-top: -12em;
    }

    .quote-center cite strong{
        text-align: left;
    }
 #sail-desktop{
     display: none;
 }
    .try-case h3{
        font-size: 40px;
        line-height: 40px;
    }

    .try-case p{
        font-size: 17px;
        line-height: 2;
        padding-left: 30px;
        padding-right: 30px;
    }

    .try-case{
        padding: 100px 0 100px;
    }
}


@media screen and (max-width: 1023px) {

    .case-title .container {
        min-height: 0;
        height: auto;
        padding-top: 150px;
        padding-bottom: 50em;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .case-title .text {
        width: auto;
        padding-top: 13em;
        padding-right: 10vw;
        float: none;
    }

    #scratch-game{
        padding-top: 0%;
    }

}
@media screen and (max-width: 767px) {
    .clients-full img {
        max-width: 80px;
        max-height: 65px;
    }
    .case-title .container {
        min-height: 0;
        height: auto;
        padding-top: 110px;
        padding-bottom: 51em;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .case-title .container .text {
        padding-right: 0;
        margin-top: -19em;

    }


    div#banner.case-title p{
        font-size: 17px;
        line-height: 2;
    }

}

@media screen and (max-width: 767px) and (min-width: 767px) {
    .clients-full img {
        max-width: 80px;
        max-height: 65px;
    }
    .case-title .container {
        min-height: 0;
        height: auto;
        padding-top: 110px;
        padding-bottom: 29em;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .case-title .container .text {
        padding-right: 0;
        margin-top: -19em;

    }

    .case-title .container .text p{
        width: 50%;
    }
}



@media screen and (min-width: 320px) and (max-width: 480px) {
    .clients-full img {
        max-width: 80px;
        max-height: 65px;
    }

    .case-title .container {
        min-height: 0;
        height: auto;
        padding-top: 110px;
        padding-bottom: 56em;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .case-title .container .text {
        padding-right: 0;
        margin-top: -19em;

    }

}



@media screen and (max-width: 320px) {
    .case-title .container {
        padding-bottom: 40em;
    }
    div#banner.case-title p{
        width: 86%;
        padding-top: 0%;
    }

}

@media screen and (max-width: 380px) {
    .case-title .container {
        padding-bottom: 40em;
    }
    div#banner.case-title p{
        width: 93%;
        padding-top: 6%;
    }

}

@media screen and (min-width: 320px) and (max-width: 380px) {
    .quote-box, .quote-box-image, .text-box.team {
        padding: 1px;
    }

}

@media screen and (max-width: 768px) {
    .case-title .text h1 {
        font-size: 20px;
        line-height: 1.5;
    }
}

.case-title .screen {
    position: absolute;
    top: 11em;
    width: 53em;
    text-align: center;
    right: 8%;
    pointer-events: none;
}

/*Laptop (MacBook) container sizing  */
@media screen and (max-width: 1430px) {
    .case-title .screen  {
        top: 23em;
        width: 37em;
        right: 4em;
        bottom: -8em;
        pointer-events: none;
    }
    .case-title {
        margin-bottom: 0em;
    }
}

/*iPad Pro*/
@media screen and (max-width: 1024px) {
    .case-title .screen  {
        top: 37em;
        width: 32em;
        right: -1em;
        bottom: -8em;
        pointer-events: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .team-box .wor  {
        margin-top: -11em;
        padding-bottom: 0%;
    }
}

/*iPad */
@media screen and (max-width: 768px) {
   .case-title .screen {
       top: 36em;
       width: 29em;
       right: -19em;
       bottom: -8em;
       pointer-events: none;
       left: 0;
       margin: 0 auto;
    }

    .team-box .wor {
        margin-top: 0px;
    }



    .text-row h2{
        padding-top: 5%;
    }



    div#banner.case-title p {
        padding-top: 33px;
    }

    .text-row h2 {
        padding-bottom: 33px;
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {
    .case-title .screen {
        top: 38em;
        width: 39em;
        right: -13em;
        bottom: -8em;
        pointer-events: none;
        left: 0;
        margin: 0 auto;
    }

    #banners-h3 {
        font-size: 36px;
        line-height: 0px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 554px) {
    .screen{
        background-size: 120% 100%!important;
    }

    .text-row-scratch-game {
        padding-top: 20%;
    }
}

/*iPhoone 6/7/8 PLUS*/
@media screen and (max-width: 414px) {
    .case-title .screen {
        top: 46em;
        width: 28em;
        right: -6em;
        bottom: -8em;
        pointer-events: none;
        left: 0;
        margin: 0 auto;
    }

    .text-row h2 {
        padding-top: 60px;
        padding-bottom: 33px;
        font-size: 36px;
    }

    .text-row .entry-cols p {
        width: 100%;
    }


    .map{
        background-repeat: no-repeat;
        background-size: 150% 77%;
        background-position-x: -10em;
    }

    .mobile.dragscroll {
        padding-top: 25%;
    }

    .text-row-scratch-game {
        padding-top: 10%;
    }

    .text-row .entry-cols .col {
        width: 100%;
        padding-right: 0%;
    }
    .case-title .container {
        padding-bottom: 12em;
    }
    #banners-mobile{
        padding-bottom: 53em;
    }

    #banners-h3 {
        font-size: 36px;
        line-height: 0px;
        padding-bottom: 10px;
    }

    .text-box.team.team-box.center.newdfds {
        background-image: url(../images/dfds/shape.svg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 22em;
        background-position-x: 13em;
        padding-bottom: 30%;
    }

    .body {
        position: relative;
        padding-top: 45%;
    }

}
/*iPhone 6/7/8 and X*/
@media screen and (max-width: 375px) {
    .case-title .screen {
        top: 47em;
        width: 26em;
        right: -5em;
        bottom: -8em;
        pointer-events: none;
        left: 0;
        margin: 0 auto;
    }

    .map{
        background-repeat: no-repeat;
        background-size: 140% 80%;
        background-position-x: -7em;
    }

    .text-row-scratch-game {
        padding-top: 15%;
    }

    .body {
        position: relative;
        padding-top: 45%;
    }
    .text-row .entry-cols .col {
        width: 100%;
        padding-right: 0%;
    }
    .case-title .container {
        padding-bottom: 12em;
    }

    #banners-mobile{
        padding-bottom: 53em;
    }

    .text-box.team.team-box.center.newdfds {
        background-image: url(../images/dfds/shape.svg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 18em;
        background-position-x: 12em;
        padding-bottom: 30%;
    }

    .text-row .entry-cols p {
        padding-top: 0px;
        font-size: 17px;
        line-height: 2;
        width: 100%;
    }

    #scratch-game{
        padding-top: 0%;
    }
}
/*iPhone 5 */
@media screen and (max-width: 320px) {
    .case-title .screen {
        top: 53em;
        width: 23em;
        right: -4em;
        bottom: -8em;
        pointer-events: none;
        left: 0;
        margin: 0 auto;
    }

    .map{
        background-repeat: no-repeat;
        background-size: 140% 80%;
        background-position-x: -7em;

    }

    .text-row .entry-cols .col {
        width: 100%;
        padding-right: 0%;
    }

    .case-title .container {
        padding-bottom: 12em;
    }

    .text-row-scratch-game {
        padding-top: 20%;
    }

    #banners-mobile{
        padding-bottom: 48em;
    }

    #banners-h3 {
    font-size: 36px;
    line-height: 30px;
    padding-bottom: 30px;
}

    .text-row .entry-cols p {
        padding-top: 0px;
        font-size: 13px;
        width: 106%;
    }

    #scratch-game{
        padding-top: 15%;
    }

    div#banner.case-title p {
        width: 80%;
        padding-top: 0%;
    }

    .text-box.team.team-box.center.newdfds {
        background-image: url(../images/dfds/shape.svg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 16em;
        background-position-x: 10em;
        padding-bottom: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .team-box .wor {
        margin-top: -170px;
    }
}

@media screen and (min-width: 470px) and (max-width: 1023px) {

    #case-text{
        width: 60%;
    }
}

@media screen and (min-width: 415px) and (max-width: 470px) {
    .text-row .entry-cols p {
        width: 100%;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1600px) {

    #case-text{
        width: 85%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {

    .body {
        position: relative;
        padding-top: 8%;
    }

    .case-title .screen {
        top: 25em;
        width: 32em;
        right: -1em;
        bottom: -8em;
        pointer-events: none;
    }

    .desktop.dragscroll {
        padding-top: 27%;
    }
}

p#scratch-game-second-paragraph{
    padding-top: 50px;
}

