.header .count{
    background-color: #FFFFFF!important;
    color: #000000!important;
}

html{
    overflow-x: hidden;
}
.case-title {
    position: relative;
}

.case-title .text {
    font-weight: 200;
}

.case-logo img {
    height: 130px;
    width: 130px;
}

@media screen and (max-width: 1023px) {
    .case-title .case-logo {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1270px) {
    #positions .container, .case-title .container, .featured-title .container, .team-box .container, .technologies-box .container, .text-row .container {
        width: 100% !important;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/*Macbook header Layout */

.case-title .screen {
    position: absolute;
    top: 5em;
    width: 102em;
    text-align: center;
    right: -50em;
    pointer-events: none;
}

@media screen and (max-width: 2560px) {
    .case-title .screen {
        position: absolute;
        top: 5em;
        width: 105em;
        text-align: center;
        right: -51em;
        pointer-events: none;
    }
}

@media screen and (min-width: 2025px) and (max-width: 2559px) {
    .case-title .screen {
        position: absolute;
        top: 5em;
        width: 105em;
        text-align: center;
        right: -41em;
        pointer-events: none;
    }
}

@media screen and (max-width: 2024px) {
    .case-title .screen {
        top: 10em;
        right: -30em;
        bottom: 9em;
        width: 95em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1660px) {
    .case-title .screen {
        top: 13em;
        right: -23em;
        bottom: 9em;
        width: 86em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1440px) {
    .case-title .screen {
        top: 21em;
        right: -14em;
        bottom: 9em;
        width: 69em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1270px) {
    .case-title .screen {
        top: 25em;
        right: -8em;
        bottom: 9em;
        width: 63em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .case-title .text {
        width: 100%;
    }

    .case-title .screen {
        height: 60vw;
    }

    .case-title .screen {
        top: 31em;
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 9em;
        width: 50em;
        pointer-events: none;
    }
}

@media screen and (max-width: 767px) {
    .quote-center p {
        text-align: left;
        padding: 10px 0 10px;
    }

    .text-row h2 {
        line-height: 30px;
        font-size: 36px;
    }

    .quote-center cite strong {
        display: block;
        font-weight: 300;
        text-align: left;
        padding-left: 20px;
    }

    .logos-cols .col {
        width: 49%;
    }

    .case-title .container {
        height: inherit;
    }

    .case-title .screen {
        position: static;
        text-align: center;
        width: auto;
        float: none;
        margin: auto;
        margin-right: 1em;
        margin-bottom: -35vw;
    }

    .case-title .screen img {
        display: block;
        margin: inherit;
        position: absolute;
        right: -5em;
    }

    .case-title .container .text {
        padding-right: 0;
        margin-top: -12em;
    }
}

.case-title .container {
    height: 50em;
}

.case-title {
    margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
    .case-title {
        margin-bottom: 130px;
    }
}

@media screen and (max-width: 1024px) {
    .case-title .container .text {
        padding-right: 0;
        margin-top: -6em;
    }
}

@media screen and (max-width: 767px) {
    .case-title .container .text {
        padding-right: 0;
        margin-top: -19em;
    }
}

@media screen and (max-width: 580px) {
    .case-title .container .text {
        padding-right: 0;
        margin-top: -17em;
    }
}

.case-title {
    background-image: url(../images/jazz/Wave.svg);
    background-position: 60% 55%;
    background-repeat: no-repeat;
    background-size: 15%;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .case-title {
        background-position: 67% 67%;
        background-size: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .case-title {
        background-position: 41% 81%;
        background-size: 27%;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {

    .case-title {
        background-position: 50% 92%;
        background-size: 27%;
    }
}

@media screen and (max-width: 499px) {

    .case-title {
        background-position: 53% 90%;
        background-size: 30%;
    }
}

/* Newly Added */

/* Surreal Trumpeter Block */

#trumpeter {
    width: 100%;
}

.text-row .entry-cols .col.surreal-trumpeter {
    width: 48.8%;
    padding-right: 6%;
}

.text-row .entry-cols .col.surreal-text {
    width: 48.8%;
    padding-right: 15%;
}

.text-block {
    width: 510px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1430px) {
    .text-block {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .text-block {
        width: 295px;
    }
}

@media screen and (max-width: 800px) {
    .text-block {
        width: 295px;
        top: 0%;
        margin-top: 37%;
    }
}

@media screen and (max-width: 430px) {
    .text-block {
        margin-top: 60%;
    }
}

@media screen and (min-width: 1025px) {
    #surreal-text-mobile {
        display: none;
    }

    .surreal-trumpeter-mobile {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #surreal-text-desktop {
        display: none;
    }

    .surreal-trumpeter {
        display: none;
    }

    .col.surreal-text {
        width: auto !important;
        height: 400px;
    }

    .surreal-text-row .entry {
        padding-left: 25px;
    }

    .surreal-trumpeter-mobile img {
        position: static;
        margin-left: -6em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #trumpeter {
        width: 65%;
        margin-left: 0em;
    }
}

@media screen and (min-width: 660px) and (max-width: 768px) {
    #trumpeter {
        width: 85%;
    }
}

@media screen and (max-width: 767px) {

    .surreal-trumpeter-mobile {
        margin-top: -20%;
    }

    .surreal-text-row {
        padding-top: 50px;
    }

}

@media screen and (max-width: 480px) {

    .surreal-trumpeter-mobile {
        margin-top: -40%;
    }

    .surreal-text-row {
        padding-top: 100px;
    }
}

@media screen and (max-width: 375px) {

    .surreal-trumpeter-mobile {
        margin-top: -40%;
    }

    .surreal-text-row {
        padding-top: 100px;
    }
}

@media screen and (max-width: 375px) {
    .surreal-text-row {
        padding-top: 140px;
    }
}



/* Web design & Development Text-Row*/
.web-design-row {
    padding-top: 98px;
    /* border-top: 1px solid #f2f2f2; */
    background-image: url(../images/jazz/bg_dark.svg);
    background-position: 101% 101%;
    background-repeat: no-repeat;
    background-size: 101%;
}

@media screen and (min-width: 2048px ) {

    .web-design-row {
        background-position: 101% 100%;
        background-size: 100%;
    }

    .web-design-row .container{
    margin-bottom: 250px;
    }
}

@media screen and (max-width: 1024px) {
    .web-design-row {
        padding-top: 98px;
        background-position: 100% 101%;
        background-size: 101%;
    }
}

.web-design-screens {
    top: 50%;
    left: 50%;
    transform: translate(22%, 0%);
}

@media screen and (max-width: 766px) {
    .web-design-screens {
        display: none;
    }

    .web-design-row .container {
        padding-bottom: 20%;
    }

    .team-box.web-design-text-box section article {
        max-width: none;
    }

    .team-box.web-design-text-box {
        margin-top: -15em !important;
        padding: 0px 0;
    }

    .web-design-text-box .wor .mobile.dragscroll article {
        width: 120%;
    }
}

@media screen and (max-width: 500px) {
    .web-design-text-box .wor {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .web-design-text-box .wor {
        margin-top: 150px;
    }
}

@media screen and (min-width: 768px) {

    .phones-cols-block {
        display: none;
    }
}

/* Artists Slider */

.artists-block {
    padding-top: 100px;
    height: auto;
    background-color: #181b2b;
    background-image: url(../images/jazz/bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (min-width: 2048px ) {

    .artists-block {
        background-size: 100%;
    }
}

@media screen and (max-width: 766px) {

    .artists-block {
        padding-top: 0px;
    }
}

.artists-block .container {
    border-top: 1px solid #2e313f;
}

.artists-block h3 {
    padding-top: 150px;
    text-align: center;
    font-family: MajestiBanner;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    color: #36b5ff;
}

.artists-block p {
    text-align: center;
    color: white;
    font-family: DIN, sans-serif;
    font-size: 21px;
    line-height: 1.81;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 767px) {

    .artists-block .container {
        padding-top: 98px;
    }

    .artists-block h3 {
        font-size: 36px;
        padding-top: 0px;
    }

    .artists-block p {
        font-size: 14px;
    }

    .artists-block p:nth-child(2n) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .artists-block p:nth-child(3n) {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .artists-block p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.iphoneX img {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    margin: auto;
    width: 320px;
    pointer-events: none;
}

.slick-slide {
    outline: none !important;
}

.slick-slide.slick-current.slick-active.slick-center img {
    border-radius: 10%;
}

.slick-slide.slick-current.slick-active.slick-center {
    width: 292px !important;
    margin-top: 0% !important;
    opacity: 1 !important;
}

.slick-slide {
    width: 238px !important;
    margin-top: 0.27% !important;
    opacity: 0.5 !important;
}

.slick-cloned {
    width: 238px !important;
    margin-top: 0.27% !important;
    opacity: 0.5 !important;
}

.slick-active {
    width: 257px !important;
    margin-top: 0.20% !important;
    opacity: 0.7 !important;
}

@media screen and (max-width: 375px) {

    .iphoneX img {
        width: 230px;
    }

    .slick-slide.slick-current.slick-active.slick-center {
        width: 210px !important;
        margin-top: 0% !important;
    }

    .slick-slide {
        width: 180px !important;
        margin-top: 0.15% !important;
    }

    .slick-cloned {
        width: 180px !important;
        margin-top: 0.15% !important;
    }

    .slick-active {
        width: 180px !important;
        margin-top: 0.1% !important;
    }
}

.artists-slider-arrows {
    font-size: 0;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 70%;
}

@media screen and (max-width: 768px) {
    .artists-slider-arrows {
        padding-top: 10%;

    }
}

@media screen and (max-width: 414px) {
    .artists-slider-arrows {
        padding-top: 10%;

    }
}

/*.prev{*/
/*display: inline-block;*/
/*height: 20px;*/
/*width: 40px;*/
/*margin: 0px 10px;*/
/*background-image: url(../images/jazz/arrow_1.svg);*/
/*transform: rotate(-180deg);*/
/*background-repeat: no-repeat;*/
/*}*/

/*.next{*/
/*display: inline-block;*/
/*height: 20px;*/
/*width: 40px;*/
/*margin: 0px 10px;*/
/*background-image: url(../images/jazz/arrow_1.svg);*/
/*background-repeat: no-repeat;*/
/*}*/

/*Overview of process Slider */
.process-block {
    background-color: #13141c;
}

.process-block h3 {
    padding-top: 0px;
    text-align: center;
    font-family: MajestiBanner;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    color: #36b5ff;
}

.process-block p {
    text-align: center;
    color: white;
    font-family: DIN, sans-serif;
    font-size: 21px;
    line-height: 1.81;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

.image {
    width: 100%;
}

.radio {
    /*display: none;*/
}

.images {
    margin-left: 19%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

@media screen and (max-width: 1660px) {
    .images {
        margin-left: 18%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .images {
        margin-left: 20%;
    }

    .image {
        width: 60%;
    }

}

@media screen and (min-width: 941px)  and (max-width: 1024px) {
    .images {
        margin-left: 20%;
    }

    .image {
        width: 60%;
    }

}

@media screen and (min-width: 890px)  and (max-width: 940px) {
    .images {
        margin-left: 20%;
    }

    .image {
        width: 60%;
    }
}

@media screen and (min-width: 768px)  and (max-width: 889px) {
    .images {
        margin-left: 21%;
    }

    .image {
        width: 60%;
    }
}

@media screen  and (max-width: 767px) {
    .images {
        margin-left: 0%;
    }

    .process-block .entry p {
        display: none;
    }

    .process-block h3:nth-child(1) {
        display: none;
    }

    .process-block h3 {
        padding-bottom: 50px;
        font-size: 36px;
        line-height: 30px;
    }

    .fake-radio {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .radio-btn img {
        width: 20px;
    }
}

@media screen  and (min-width: 768px) {
    .process-block h3:nth-child(2) {
        display: none;
    }
}

.images-inner {
    width: 500%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.image-slide {
    width: 20%;
    float: left;
}

.image-slide,
.fake-radio {
    transition: all 0.5s ease-out;
}

.fake-radio {
    font-size: 0;
    padding-top: 5%;
    padding-bottom: 150px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .fake-radio {
        padding-top: 8%;
    }
}

.cs_anchor.radio {
    display: none;
}

/* Move slides overflowed container */
#slide1:checked ~ .images .images-inner {
    margin-left: 0;
}

#slide2:checked ~ .images .images-inner {
    margin-left: -100%;
}

/* Color of bullets */
#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
    background-image: url(../images/jazz/arrow_2.svg);
    transform: rotate(360deg);

}

#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2) {
    background-image: url(../images/jazz/arrow_2.svg);
    transform: rotate(180deg);
}

#slide2:checked ~ div .fake-radio .radio-btn:nth-child(1) {
    background-image: url(../images/jazz/arrow_1.svg);
    transform: rotate(-180deg);
}

.radio-btn {
    display: inline-block !important;
    cursor: pointer;
}

.radio-btn:nth-child(1) {
    margin: 0px 10px;
    height: 20px;
    width: 40px;
    background-image: url(../images/jazz/arrow_2.svg);
    background-repeat: no-repeat;
}

.radio-btn:nth-child(1):link,
.radio-btn:nth-child(1):visited,
.radio-btn:nth-child(1):checked,
.radio-btn:nth-child(1):active,
.radio-btn:nth-child(1):hover,
.radio-btn:nth-child(1):focus {
    outline: transparent !important;
}

.radio-btn:nth-child(2) {
    margin: 0px 10px;
    height: 20px;
    width: 40px;
    background-image: url(../images/jazz/arrow_1.svg);
    background-repeat: no-repeat;
}

.radio-btn:nth-child(2):hover,
.radio-btn:nth-child(2):focus {
    outline: 0 !important;
}

/* Color of bullets - END */

/* Text of slides */
#slide1:checked ~ .labels .label:nth-child(1),
#slide2:checked ~ .labels .label:nth-child(2) {
    opacity: 1;
}

/* Text of slides - END */

#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
    animation: bullet 12300ms infinite -1000ms;

}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
    animation: bullet 12300ms infinite 3100ms;
}

/* Calculate AUTOPLAY for BULLETS - END */

#play1:checked ~ .labels .label:nth-child(1) {
    animation: caption 12300ms infinite -1000ms;
}

#play1:checked ~ .labels .label:nth-child(2) {
    animation: caption 12300ms infinite 3100ms;
}

/* Calculate AUTOPLAY for CAPTION - END */

/*Typography Block */
.typography-text-row {
    padding-top: 150px;
}

.typography-text .col {
    width: 27%;
    padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
    .typography-text .col {
        width: 50%;
        padding-bottom: 4.5rem;
    }
}

@media screen and (max-width: 767px) {
    .typography-text .col {
        width: 100%;
        padding-bottom: 2.5rem;
    }
}

h6 {
    font-family: DIN, sans-serif
}

.typography-text .name {
    font-family: DIN, sans-serif
}

.col.abril {
    font-family: 'Abril Fatface', cursive;
}

.col.oswald {
    font-family: Oswald;
}

.col.montserrat {
    font-family: Montserrat;
}

.typography-text .result {
    color: #36b5ff;
    font-size: 72px;
    font-weight: 400;
    line-height: 47px;
    padding: 30px 0 23px;
}

.typography-colors .wave {
    width: 130px;
    height: 130px;
    margin: 0 auto 10px;
    background-size: 102%;
}

/* Print Design Block*/
.print-design-row {
    padding-top: 98px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.print-design-row img {
    padding-top: 100px;
    max-width: 125%;
    margin-left: -15%;
}

@media screen and (max-width: 1270px) {
    .text-row.print-design-row .container {
        width: 100% !important;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (min-width: 768px) {
    #print-design-mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .print-design-row .container .entry .entry-cols .col {
        display: none;
    }

    .print-design-row img {
        padding-top: 0px;
        max-width: 100%;
        margin-left: 0%;
    }

    #print-design {
        display: none
    }
}

@media screen and (max-width: 650px) {
    .print-design-row img {
        padding-top: 0px;
        max-width: 118%;
        margin-left: -6%;
    }
}

@media screen and (max-width: 500px) {
    .print-design-row img {
        padding-top: 0px;
        max-width: 153%;
        margin-left: -32%;
    }
}

/*Photo Gallery Container*/
.container.gallery-container {
    padding-top: 100px;
}

@media screen and (min-width: 768px) {
    #solution-mobile {
        display: none
    }
}

@media screen and (max-width: 767px) {
    #solution-desktop {
        display: none;
    }

    .team-box section:before {
        width: 0px;
    }

    .team-box section article {
        max-width: 90vw;
    }

}

@media screen and (max-width: 1270px) {
    .container.gallery-container {
        width: 100% !important;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* Image Block */
.images-cols {
    font-size: 0;
    padding: 0px 0px 200px;
}

#img-cols1 {
    padding: 0px 0px 15px;
}

.images-cols .a-image {
    width: calc(60% - 20px);
}

.images-cols .b-image {
    width: calc(38.4% - 20px);
}

.images-cols .c-image {
    width: calc(38.32% - 20px);
}

.images-cols .d-image {
    width: calc(60% - 20px);
}

@media screen and (max-width: 766px) {
    .images-cols {
        padding: 0px 0px 0px;
        display: none;
    }

    .text-box.team {
        margin-top: -5em;
    }

    .case-title {
        margin-bottom: 130px;
    }
}

@media screen and (min-width: 560px) and (max-width: 736px) {
    .web-design-text-box {
        margin-top: 0em;
    }
}

@media screen and (max-width: 767px) {

    .images-cols img {
        margin: 0 6px 0px;
    }

    .images-cols .a-image {
        width: calc(59% - 20px);
    }

    .images-cols .d-image {
        width: calc(59% - 20px);
    }
}

@media screen and (min-width: 767px) {
    .scroller {
        display: none;
    }

}

/* Quote */
.quote-center p {
    color: #1D282C;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: 300;
}

.quote-center {
    background-color: #f8f8f8;
}

/*Try Case */
.try-case .entry {
    padding-bottom: 75px;
    max-width: 700px;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .try-case {
        padding: 100px 0 50px;
    }
}

/* Fading animations */
.artists-block .container .entry > *,
.process-block .container .entry > * {
    opacity: 0;
    transform: translateY(100px);
}

.artists-block .container .entry > *,
.process-block .container .entry > * {
    transition: ease opacity 1.0s, ease transform 1.0s;
}

/* Offsets timing */
.artists-block .container .entry > *:nth-child(1n),
.process-block .container .entry > *:nth-child(1n) {
    transition-delay: .05s;
}

.artists-block .container .entry > *:nth-child(2n),
.process-block .container .entry > *:nth-child(2n) {
    transition-delay: .1s;
}




