@font-face {
    font-family: 'DIN';
    src: url(../fonts/DIN.woff2) format('woff2'),
    url(../fonts/DIN.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MajestiBanner';
    src: url(../fonts/majesti-banner-light.woff2) format('woff2'),
    url(../fonts/majesti-banner-light.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.header .count{
    background-color: #FFFFFF!important;
    color: #000000!important;
}

html{
    overflow-x: hidden;
}


p{
    font-family: DIN, sans-serif;
}
.case-title {
    position: relative;
}

.body .text-row {
    padding-bottom: 281px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .body .text-row {
        padding-bottom: 0px;
    }
}

.quote-center {
    border-bottom: inherit;
    border-top: inherit;
}

.try-case {
    border-top: inherit;
}

.text-row h2 {
    font-size: 50px;
}

.technologies-box img {
    max-width: 100%;
}

.logos-cols .container .col {
    text-align: center;
    padding: 10px 0px;
}

.logos-cols .container .col img {
    width: 100%;
    max-width: 100%;
}

.try-case {
    text-align: center;
    padding: 150px 0 150px;
}

@media screen and (max-width: 1920px) {
    .case-title {
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 1660px) {
    .case-title {
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 560px) {
    .case-title {
        margin-bottom: 150px !important;
    }
}

.case-title .container {
    height: 50em;
}

.logos-cols {
    padding: 0 5px 124px;
}

.logos-cols .col {
    display: inline-block;
    width: 24.5%;
}

.case-title .screen {
    position: absolute;
    top: 10em;
    width: inherit;
    text-align: inherit;
    right: -38em;
    float: right;
    bottom: -5em;
    pointer-events: none;
    width: 96em;
}

.technologies-box {
    background: inherit;
}

.quote-center {
    background-color: #f8f8f8;
}

@media screen and (max-width: 2024px) {
    .case-title .screen {
        top: 31em;
        right: -28em;
        bottom: 9em;
        width: 90em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1920px) {
    .case-title .screen {
        top: 24em;
        right: -28em;
        bottom: 9em;
        width: 72em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1270px) {
    .case-title .screen {
        top: 30em;
        right: -21em;
        bottom: 9em;
        width: 55em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .case-title .text {
        width: 100%;
    }

    .case-title .screen {
        height: 60vw;
    }

    .case-title .screen {
        top: 33em;
        right: 0;
        left: 8em;
        margin: 0 auto;
        bottom: 9em;
        width: 50em;
        pointer-events: none;
    }
}

@media screen and (max-width: 767px) {
    .quote-center p {
        text-align: left;
        padding: 10px 0 10px;
    }

    .text-row h2 {
        line-height: 30px;
        font-size: 30px;
    }

    .quote-center cite strong {
        display: block;
        font-weight: 300;
        text-align: left;
    }

    .logos-cols .col {
        width: 49%;
    }

    .case-title .container {
        height: inherit;
    }

    .case-title .screen {
        position: static;
        text-align: center;
        width: auto;
        float: none;
        margin: auto;
        margin-bottom: -25vw;
    }

    .case-title .screen img {
        display: block;
        margin: inherit;
        position: absolute;
        right: -11em;
    }

    .case-title .container .text {
        padding-right: 0;
        margin-top: -12em;
    }
}

/* Newly Added */

.case-title .case-logo {
    max-width: 350px;
    padding-bottom: 80px;
}

/* Company info */
@media screen and (max-width: 1270px) {
    .text-row .container .entry {
        width: 100% !important;
        padding-left: 25px;

    }
}

@media screen and (max-width: 768px) {
    .text-row .container .entry {
        width: 100% !important;
        padding-left: 0px;
    }
}

/* Numer 3 ( Worldwide Group ) */

#number-container {
    padding-top: 280px;
    padding-bottom: 90px;

}

/* +3 Number behind the text */
.number-3 {
    position: relative;
    margin-top: 0em;
}

.number-3 h1 {
    padding-right: 0.29em;
    text-align: center;
    width: 100%;
    color: #F9F9F9;
    font-family: "MajestiBanner";
    font-size: 275px;
    font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .number-3 h1 {
        font-size: 185px;
    }
}

/* Text on top of the number */
.number-text {
    margin-top: -4.9em;
}

#number-text-row-left {
    padding-bottom: 0px;
    overflow-x: hidden;
}

#number-text-row-right {
    padding-bottom: 0px;
    overflow-x: hidden;
}

.number-text p {
    position: absolute;
    height: 72px;
    width: 100%;
    color: #000000;
    font-family: "MajestiBanner";
    font-size: 48px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .number-text-mobile {
        display: none;
    }
}

@media screen and (min-width: 120px) and (max-width: 767px) {
    .number-text {
        display: none;
    }

    .number-text-mobile p {
        position: absolute;
        width: 100%;
        color: #000000;
        font-family: "MajestiBanner";
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    #number-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/* Image Block */

#img-cols1 {
    padding: 0px 0px 15px;
}

@media screen and (max-width: 768px) {

    .text-box.team {
        margin-top: -8em;
    }

}

@media screen and (max-width: 767px) {

    #mobile-container {
        padding-left: 25px;
    }

    .col-text p {
        width: 185%;
        font-size: 17px;
        line-height: 2;
        color: #000000;
    }

    #solution-desktop p {
        display: none;
    }

    #solution-desktop h2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #company-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .team-box section article img {
        max-height: 54vw;
    }
}

.text-row h2 span {
    color: #ea5a51;
}

/*Quote*/
.quote-center p {
    color: #1D282C;
    padding: 20px 0px;
    font-weight: 300;
}

.col-text {
    width: 50%;
}

.col-text p {
    color: #000000;
}

.col-text h2 {
    line-height: 42px;
    font-size: 48px;
    color: #000000;
}

@media screen and (min-width: 768px) {
    #usability-mobile {
        display: none;
    }
}

/* Partners of JWT */

.clients-full h2:nth-child(2) {
    font-size: 36px;
    font-weight: lighter;
    line-height: 16px;
    color: #E0E0E0;
    padding: 1%;
    font-family: "MajestiBanner";
}

.clients-full img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .clients-full h2:nth-child(2) {
        font-size: 16px;
    !important;
    }

    .clients-full img {
        max-width: 70px;
        max-height: 55px;
    }

    #tesla-img {
        max-width: 90px;
        max-height: 65px;
    }
}

.clients-full {
    padding: 281px 0px 0px;
    border-bottom: 1px solid #f2f2f2;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .clients-full {
        padding: 118px 0px 0px;
    }

}

.clients-full ul {
    padding: 10% 0 10%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* The Cooperation Background Image Media Setup  */
div#cooperation-background.case-title {
    background-image: url(../images/jwt/Octopus.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 32% 89%;
    margin-bottom: 50px;
}

#usability-desktop-left {
    float: left;
    padding-bottom: 10%;
}

#usability-desktop-left.text-row .container {
    padding-left: 0%;
}

#usability-desktop-right {
    float: right;
}

#cooperation-text-row {
    padding-top: 0%;
    padding-bottom: 0%;
}

@media screen and (max-width: 1366px) {
    div#cooperation-background.case-title {
        background-size: 51% 51%;
        background-position-x: 46em;
        background-position-y: 16em;
    }
}

@media screen and (max-width: 1200px) {
    div#cooperation-background.case-title {
        background-size: 53% 55%;
        background-position-x: 43em;
        background-position-y: 13em;
    }
}

/*iPad Pro / Old monitors */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    div#cooperation-background.case-title {
        background-size: 40% 51%;
        background-position-x: 40em;
        background-position-y: 25em;
    }
}

/*iPad */
@media screen and (max-width: 768px) {
    div#cooperation-background.case-title {
        background-size: 42% 57%;
        background-position-x: 30em;
        background-position-y: 23em;
    }

    #usability-desktop-left {
        display: none;
    }

    #usability-desktop-right {
        display: none;
    }

    /*Voice Recognition and Mix Block */
    .col-text h2 {
        line-height: 42px;
        font-size: 49px;
        color: #000000;
        text-align: left;
        width: 414px;
    }

    .col-text p {
        text-align: left;
    }

}

@media screen and (max-width: 375px) {
    .col-text h2 {
        width: 370px;
    }

    .col-text h2 {
        font-size: 43px;
    }
}

@media screen and (max-width: 375px) {
    .col-text h2 {
        width: 320px;
    }

    .col-text h2 {
        font-size: 38px;
    }
}

@media screen and (min-width: 555px) and (max-width: 767px) {
    div#cooperation-background.case-title {
        background-size: 54% 62%;
        background-position-x: 33em;
        background-position-y: 17em;
    }
}

@media screen and (max-width: 554px) {
    div#cooperation-background.case-title {
        background-size: 62% 66%;
        background-position-x: 19em;
        background-position-y: 18em;
    }
}

/*iPhoone 6/7/8 PLUS*/
@media screen and (max-width: 414px) {
    div#cooperation-background.case-title {
        background-size: 79% 62%;
        background-position-x: 11em;
        background-position-y: 23em;
        padding-bottom: 35%;
        margin-bottom: 50px !important;
    }
}

/*iPhone 6/7/8 and X*/
@media screen and (max-width: 380px) {
    div#cooperation-background.case-title {
        background-size: 79% 62%;
        background-position-x: 11em;
        background-position-y: 26em;
        padding-bottom: 40%;
    }
}

/*iPhone 5 */
@media screen and (max-width: 320px) {
    div#cooperation-background.case-title {
        background-size: 79% 62%;
        background-position-x: 11em;
        background-position-y: 28em;
        padding-bottom: 15%;
    }
    div#cooperation-background.case-title {
        margin-bottom: 25px !important;
    }
}

/* THE SOLUTION BLOCK */

/* The Solution Block Background */
.solution-container {
    width: 90%;
    background-color: #F5F8F9;
    padding: 10% 0 10%;
}

#usability-mobile {
    background-image: url(../images/jwt/mobilebg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    padding-top: 30px;
}

@media screen and (max-width: 320px) {
    #usability-mobile {
        background-size: 92.4% 100%;
    }
}

#usability-mobile #container-usability {
    padding-left: 0px;
    padding-right: 0px;
}

#nsm-bottom {
    padding-top: 100px;
}

.number-solution-mobile h1 {
    margin-top: -22%;
    margin-left: -9%;
    position: absolute;
    color: #e9ecef;
    font-family: "MajestiBanner";
    font-size: 182px;
    font-weight: 500;
    z-index: 1;
}

@media screen and (min-width: 414px) and (max-width: 600px) {
    .number-solution-mobile h1 {
        margin-top: -20%;
        margin-left: -6%;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .number-solution-mobile h1 {
        margin-top: -13%;
        margin-left: -5%;
    }
}

@media screen and (max-width: 375px) {
    .number-solution-mobile h1 {
        margin-top: -22%;
        margin-left: -5%;
    }
}

@media screen and (max-width: 325px) {
    .number-solution-mobile h1 {
        margin-top: -26%;
        margin-left: -7%;
    }
}

#right-side-img {
    padding-left: 25px;
    padding-right: 0px;
}



#solution-mobile-text {
    padding-left: 25px;
    padding-bottom: 42px;
    padding-top: 42px;
    position: relative;
    z-index: 1;
}

#solution-mobile-text h2 {
    padding-bottom: 60px;
}

#left-side-img {
    padding-left: 0px;
    padding-right: 25px;
}

#left-side-img .col-text {
    padding-left: 25px;
}

.solution-background {
    width: 100vw;
}

.left-half {
    width: 100%;
    padding-bottom: 5%;
}

.left-half .text-col p {
    color: #1D282C;
    font-family: DIN, sans-serif;
    font-size: 21px;
    line-height: 1.81;
    font-weight: 300;
}

.solution-text-left {
    margin-left: 30%;
    margin-right: 10%;
}

.left-half .img-col {
    padding-left: 5%;
}

.right-half {
    width: 100%;
    padding-top: 5%;
}

.right-half .text-col p {
    color: #1D282C;
    font-family: DIN, sans-serif;
    font-size: 21px;
    line-height: 1.81;
    font-weight: 300;
}

.text-col {
    margin-right: -4px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.solution-text-right {
    margin-left: 10%;
    margin-right: 30%;
}

@media screen and (max-width: 767px){
    #right-side-img {
        padding-left: 0px;
        padding-right: 0px;
    }

    #left-side-img {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.text-col h2 {
    color: #000000;
    font-family: "MajestiBanner";
    font-size: 60px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 91px;
    line-height: 50px;
}

.right-half .img-col {
    padding-right: 5%;
}

.img-col {
    width: 50%;
    margin-right: -4px;
    display: inline-block;
}

.img-col img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.solution-container .test .left-half .img-col {
    padding-right: 90px;
}

/* (01, 02) Numbers behind the text */

.number-01 {
    width: 100%;
}

.number-01 h1 {
    position: absolute;
    color: #e9ecef;
    margin-left: 11%;
    margin-top: 2%;
    font-family: "MajestiBanner";
    font-size: 275px;
    font-weight: 500;
}

.solution-text-left h2 {
    position: relative;
    line-height: 42px;
    font-size: 60px;
    color: #000000;
}

.number-02 h1 {
    position: absolute;
    color: #e9ecef;
    margin-top: 2%;
    margin-left: 2%;
    font-family: "MajestiBanner";
    font-size: 275px;
    font-weight: 500;
}

.solution-text-right h2 {
    position: relative;
    line-height: 50px;
    font-size: 60px;
    color: #000000;
}

/*Number behing text position based on monitor width */
@media screen and (max-width: 1395px) {
    .number-01 h1 {
        margin-top: 5%;
        margin-left: 9%;
    }
}

@media screen and (max-width: 1100px) {
    .number-01 h1 {
        margin-top: 6%;
        margin-left: 6%;
    }
}

@media screen and (max-width: 1334px) {
    .number-02 h1 {
        margin-top: 5%;
        margin-left: -1%;
    }
}

@media screen and (max-width: 1334px) {
    .number-02 h1 {
        margin-top: 5%;
        margin-left: -1%;
    }
}

@media screen and (max-width: 920px) {
    .number-02 h1 {
        margin-top: 7%;
        margin-left: -3%;
    }
}

@media screen and (min-width: 768px) {
    .text-row .entry-columns .col-mob {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .solution-container {
        display: none;
    }
}

/* JWT Legacy 1864 */
.legacy-parent {
    padding: 20% 0% 0%;
    position: relative;
    height: 88vw;
}

.legacy-image {
    /* text-align: right; */
    position: absolute;
    /* right: 0px; */
    width: 100%;
    bottom: 12%;
}

.legacy-image img {
    /* vertical-align: middle; */
    width: 100%;
    height: auto;
    /* margin-left: 0%; */
    padding-left: 15%;
}

.legacy-top-block .container {
    padding: 15% 0% 0%;
}

.since-text {
    text-align: center;
}

.legacy-top-block {
    height: 50%;
}

.legacy-bottom-block {
    background-color: #07223F;
    height: 50%;
}

.header-legacy {
    position: relative;
    width: 50%;
    padding-left: 5%;
    float: right;
    padding-top: 3%;
}

.header-legacy h2 {
    color: #FFFFFF;
    font-family: "MajestiBanner";
    font-size: 50px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 32px;
}

.text-legacy p {
    color: #FFFFFF;
    font-family: DIN, sans-serif;
    font-size: 16px;
    line-height: 1.81;
    width: 60%;
}

@media screen and (max-width: 1600px) {
    .text-legacy p {
        width: 80%;
    }
}

@media screen and (max-width: 1366px) {
    .header-legacy {
        position: relative;
        width: 50%;
        padding-left: 4%;
        float: right;
        padding-top: 0%;
        margin-top: -3%;
    }

    .text-legacy p {
        width: 85%;
    }
}

@media screen and (max-width: 1024px) {
    .header-legacy {
        position: relative;
        width: 50%;
        padding-left: 3%;
        float: right;
        padding-top: 0%;
        margin-top: -1%;
    }

    .text-legacy p {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .header-legacy {
        position: relative;
        width: 60%;
        padding-left: 3%;
        padding-right: 1%;
        float: right;
        padding-top: 0%;
    }
}

@media screen and (min-width: 768px) {
    #legacy-image-mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #legacy-image-desktop {
        display: none
    }

    .legacy-image img {
        padding-left: 0%;
    }
}

/* Footer Explore JWT Now Block */

.entry p {
    letter-spacing: .06em;
    color: #1D282C;
}

@media screen and (max-width: 767px) {
    #entryParagraph {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.try-case .entry {
    max-width: 860px;
}

/*Offices sider*/
.demo-slider {
    padding-top: 0px !important;
}

.demo-slider .owl-nav {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

@media screen and (max-width: 767px) {
    .demo-slider .owl-nav {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .demo-slider .owl-dots {
        display: none;
    }
}

#infoOffice {
    position: absolute;
    z-index: 1;
    left: -10%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

@media screen and (max-width: 767px) {
    #infoOffice {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}


@media screen and (min-width: 768px) {
    #itemIDoffice {
        width: 65% !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .slide-progress-parent#office-slide-progress-parent {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

        position: absolute;
        margin-left: auto;
        margin-right: auto;
        /*right: 0;*/
        /* top: 0; */
        left: 60%;
        text-align: center;
        margin-top: -22%;
        z-index: 1;
        text-align: center;
        background-color: #CEDAE3;
        width: 29%;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
    .slide-progress-parent#office-slide-progress-parent {
        margin-top: -22% !important;
        left: 67%
    }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .slide-progress-parent#office-slide-progress-parent {
        margin-top: -22% !important;
        left: 66%
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .slide-progress-parent#office-slide-progress-parent {
        margin-top: -22% !important;
        left: 67%
    }
}

@media screen and (min-width: 868px) and (max-width: 1024px) {
    .slide-progress-parent#office-slide-progress-parent {
        margin-top: -24% !important;
        left: 75%;
        width: 25%

    }
}

@media screen and (min-width: 768px) and (max-width: 867px) {
    .slide-progress-parent#office-slide-progress-parent {
        width: 25%;
        left: 80%;
        margin-top: -22% !important;
    }

    #infoOffice {
        left: -20%;
    }
}

@media screen and (max-width: 767px) {
    .slide-progress-parent#office-slide-progress-parent {
        margin-top: -10% !important;
        width: 43%

    }

}

/* Slider */
.demo-slider-elements {
    padding-top: 281px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    #demos {
        padding-top: 0px;
    }
}

#demos .row {
    background-color: #F5F8F9;
    width: 100%;
    background-image: url(../images/jwt/Owl.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 27%;

}

@media screen and (min-width: 1025px) {
    .entry-columns {
        width: 75%;
    }
}

@media screen and (min-width: 1405px) {
    .entry-columns {
        width: 65%;
    }
}

@media screen and (min-width: 1705px) {
    .entry-columns {
        width: 50%;
    }
}

@media screen and (min-width: 2000px) {
    .entry-columns {
        width: 45%;
    }
}

#demos .owl-carousel .item {
    width: 100%;

    /*background-color: #F5F8F9;*/
    /*padding: 1rem;*/
    padding-top: 10%;
    padding-bottom: 15%;
}

.slide-progress-parent {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 100px;
    text-align: center;
    z-index: 1;
    text-align: center;
    background-color: #CEDAE3;
    margin-top: -4%;
    width: 47%;
}

.slide-progress {
    height: 1px;
    background: #000000;
}

.slide-progress-office {
    height: 1px;
    background: #000000;
}

.arrow-left img {
    width: 18px;
}

.arrow-right img {
    width: 18px;
}

.demo-slider-elements .owl-theme .owl-dots {
    display: none;
!important;
}

#swipebox-container {
    direction: ltr;
}

.owl-nav {
    position: absolute;
    left: 81%;
    top: 88%;
}

@media screen and (max-width: 2560px) {
    .owl-nav {
        left: 80%;
        top: 88.8%;
    }
}

@media screen and (max-width: 2024px) {
    .owl-nav {
        left: 80%;
        top: 90.1%;
    }
}

@media screen and (min-width: 1636px) and (max-width: 1680px) {
    .owl-nav {
        left: 80%;
        top: 90.5%;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1635px) {
    .owl-nav {
        left: 80%;
        top: 90%;
    }
}

@media screen  and (max-width: 1440px){
    .owl-nav {
        left: 80%;
        top: 91.4%;
    }
}

    @media screen and (max-width: 1366px){
    .owl-nav {
        left: 80%;
        top: 91%;
    }
}

@media screen and (max-width: 1280px) {
    .owl-nav {
        left: 80%;
        top: 91.5%;
    }
}


@media screen and (max-width: 1023px) {
    .arrow-left img {
        width: 16px;
    }

    .arrow-right img {
        width: 16px;
    }
}


@media screen and (max-width: 1048px) {
    .owl-nav {
        left: 81%;
        top: 93%;
    }
}

@media screen and (max-width: 1024px) {
    .owl-nav {
        left: 81%;
        top: 92%;
    }
}

@media screen and (max-width: 1023px) {
    .owl-nav {
        left: 81%;
        top: 92%;
    }
}

@media screen and (max-width: 830px) {
    .owl-nav {
        left: 82%;
        top: 93%;
    }
}

@media screen and (max-width: 768px) {
    .owl-nav {
        left: 73%;
        top: 86.5%;
    }
}

@media screen and (max-width: 767px) {
    .owl-nav {
        left: 79%;
        transform: translate(-50%, -10%);
    }
}

@media screen and (max-width: 736px) {
    .owl-nav {
        left: 79%;
        transform: translate(-50%, -10%);
    }
}

@media screen and (max-width: 650px) {
    .owl-nav {
        left: 79%;
        transform: translate(-50%, 20%);
    }
}

@media screen and (max-width: 560px) {
    .owl-nav {
        left: 78%;
        transform: translate(-50%, 80%);
    }

    .owl-theme .owl-nav [class*=owl-] {
        padding: 0px 3px !important;
    }
}

@media screen and (max-width: 425px) {
    .owl-nav {
        left: 78%;
        transform: translate(-50%, 203%);
    }

}

@media screen and (max-width: 414px) {
    .owl-nav {
        left: 83%;
    }
}

@media screen and (max-width: 375px) {
    .owl-nav {
        left: 85%;
        top: 87.5%;
    }
}

@media screen and (max-width: 360px) {
    .owl-nav {
        left: 83%;
        top: 90%;
    }
}

@media screen and (max-width: 350px) {
    .owl-nav {
        left: 83%;
        top: 88%;
    }
}

@media screen and (max-width: 768px) {

    .slide-progress-parent {
        width: 43%;
        left: 0px;
        margin-top: -7%;
    }
}

/* Office Slider Navigation Cities */
.owl-dots {
    position: absolute;
    left: 74%;
    top: 48%;
    transform: translate(-50%, -50%);
    font-family: Os;
}

.owl-theme .owl-dots .owl-dot {
    display: block !important;
    padding-bottom: 5px;
    padding-top: 5px;

    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
}

.active {
    color: #1D282C;
}

/*Office Slider Arrow options */
.demo-slider .owl-nav {
    position: absolute;
    left: 78.2%;
    top: 89%;
}

@media screen and (max-width: 2560px) {
    .demo-slider .owl-nav {
        left: 78.6%;
        top: 89%;
    }
}

@media screen and (max-width: 2300px) {
    .demo-slider .owl-nav {
        left: 78.5%;
        top: 89%;
    }
}

@media screen and (max-width: 2050px) {
    .demo-slider .owl-nav {
        left: 78.4%;
        top: 89%;
    }
}

@media screen and (max-width: 1920px) {
    .demo-slider .owl-nav {
        left: 78.2%;
        top: 89%;
    }
}

@media screen and (max-width: 1600px) {
    .demo-slider .owl-nav {
        left: 81.4%;
        top: 92%;
    }
}

@media screen and (max-width: 1480px) {
    .demo-slider .owl-nav {
        left: 81.2%;
        top: 92%;
    }
}

@media screen and (max-width: 1440px) {
    .demo-slider .owl-nav {
        left: 80.5%;
        top: 92%;
    }
}

@media screen and (max-width: 1366px) {
    .demo-slider .owl-nav {
        left: 81%;
        top: 92%;
    }
}

@media screen and (max-width: 1267px) {
    .demo-slider .owl-nav {
        left: 80.8%;
        top: 91%;
    }
}

@media screen and (max-width: 1167px) {
    .demo-slider .owl-nav {
        left: 80.5%;
        top: 92%;
    }
}

@media screen and (max-width: 1100px) {
    .demo-slider .owl-nav {
        left: 80.4%;
        top: 90%;
    }
}

@media screen and (max-width: 1048px) {
    .demo-slider .owl-nav {
        left: 80.2%;
        top: 89%;
    }
}

@media screen and (max-width: 1024px) {
    .demo-slider .owl-nav {
        left: 84.2%;
        top: 84.5%;
    }
}

@media screen and (max-width: 967px) {
    .demo-slider .owl-nav {
        left: 84.5%;
        top: 83.5%;
    }
}

@media screen and (max-width: 867px) {
    .demo-slider .owl-nav {
        left: 89%;
        top: 86%;
    }
}

@media screen and (max-width: 800px) {
    .demo-slider .owl-nav {
        left: 88.8%;
        top: 87%;
    }
}

@media screen and (max-width: 767px) {
    .demo-slider .owl-nav {
        left: 75%;
        top: 86.4%;
    }
}

@media screen and (max-width: 660px) {
    .demo-slider .owl-nav {
        left: 74%;
        top: 86.2%;
    }
}

@media screen and (max-width: 560px) {
    .demo-slider .owl-nav {
        left: 74%;
        top: 86%;
    }
}

@media screen and (max-width: 425px) {
    .demo-slider .owl-nav {
        left: 74%;
        top: 85%;
    }
}

@media screen and (max-width: 414px) {
    .demo-slider .owl-nav {
        left: 78%;
        top: 85.2%;
    }
}

@media screen and (max-width: 375px) {
    .demo-slider .owl-nav {
        left: 79%;
        top: 84.5%;
    }
}

@media screen and (max-width: 320px) {
    .demo-slider .owl-nav {
        left: 78%;
        top: 83.7%;
    }
}

.demo-slider .row {
    background: none !important;
}

.slider-counter {
    text-align: center;
}

#info {
    position: absolute;
    z-index: 1;
    left: -10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container#geometry-container {
    width: 100%;
    padding-left: 23%;
}

#itemID .text-row {
    padding-bottom: 0px;
}

#geometry-container .entry-columns p {
    padding-bottom: 0px;
    width: 75%;
    color: #1D282C;
    font-size: 21px;
    line-height: 1.81;
}

@media screen and (max-width: 768px) {
    #geometry-container .entry-columns p {
        font-size: 17px;
        line-height: 2;
        width: 100%;
    }

    .container#geometry-container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .container#geometry-container h2 {
        font-size: 36px;
    }
}

#geometry-container .col {
    padding-right: 0%;
}

.square-parent {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: -11em;
}

.square {
    position: absolute;
    z-index: 2;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 20%;
    left: 73%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#square-Geometry {
    background: #139695;
    padding-top: 5%;
}

#inovation-square {
    background-color: #0c1c46;
    padding-top: 3%;
}

#square-mirum {
    background-color: #291243;
    padding-top: 4%;
}

.text-row #activation {
    color: #139695;

}

.text-row #intelligence {
    color: #0c1c46;
}

.text-row #digital {
    color: #291243;
}

#inovation-square img {
    width: 90%;
    margin-left: 8%;
}

@media screen and (min-width: 2041px) and (max-width: 3700px) {
    .square {
        width: 500px;
        height: 400px;
    }

    #square-Geometry {
        padding-top: 6%;
    }

    #inovation-square {
        padding-top: 4%;
    }

    #square-mirum {
        padding-top: 5%;
    }

}

@media screen and (min-width: 1366px) and (max-width: 2040px) {
    .square {
        width: 370px;
        height: 260px;
    }

    .square-parent {
        margin-top: -8em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .square {
        width: 300px;
        height: 200px;
    }

    #square-Geometry {
        background: #139695;
        padding-top: 6%;
    }

    .square-parent {
        margin-top: -5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .square {
        width: 300px;
        height: 200px;
    }


    #inovation-square img {
        width: 75%;
    }

    .square-parent {
        margin-top: -6em;
    }
}

@media screen and (max-width: 768px) {
    .square {
        width: 260px;
        height: 180px;
    }

    #square-Geometry {
        padding-top: 8%;
    }

    #inovation-square {
        padding-top: 8%;
    }

    #inovation-square img {
        margin-left: 13%;
    }

    #square-mirum {
        padding-top: 6%;
    }

    .square-parent {
        margin-top: -6em;
    }

}

@media screen and (max-width: 600px) {
    #itemID {
        padding-top: 20% !important;
    }

    #demos .row {
        background-position: top left;
        background-size: 42%;
    }
}

@media screen and (max-width: 425px) {
    .square {
        width: 199px;
        height: 143px;
        left: 76%;
    }

    #inovation-square img {
        width: 90%;
        margin-left: 10%;
    }

    #square-Geometry {
        padding-left: 7%;
        padding-top: 11%;
    }

    #square-mirum {
        padding-top: 8%;
        padding-left: 6%;
    }

    .square-parent {
        margin-top: -9em;
    }

    #itemID {
        padding-top: 40% !important;
    }

    #infoOffice {
        left: -30%;
    }

    #info {
        left: -30%;
    }
}

@media screen and (min-width: 376px) and (max-width: 390px) {
    .square {
        width: 182px;
        height: 132px;
        left: 76%;
    }
}

@media screen and (max-width: 375px) {
    .square {
        width: 180.5px;
        height: 143px;
        left: 76%;
    }

    #square-Geometry {
        padding-left: 7%;
        padding-top: 13%;
    }

    #inovation-square img {
        width: 90%;
        margin-left: 10%;
    }

    #square-mirum {
        padding-top: 11%;
        padding-left: 6%;
    }
}



@media screen and (min-width: 360px) and (max-width: 370px) {
    .square {
        width: 169.5px;
        height: 125px;
        left: 76%;
    }
}

@media screen and (min-width: 350px) and (max-width: 360px) {
    .square {
        width: 169.5px;
        height: 125px;
        left: 76%;
    }
}

@media screen and (min-width: 340px) and (max-width: 350px) {
    .square {
        width: 163.5px;
        height: 125px;
        left: 76%;
    }
}

@media screen and (min-width: 330px) and (max-width: 340px) {
    .square {
        width: 159.5px;
        height: 130px;
        left: 76%;
    }

    #inovation-square {
        padding-top: 9%;
    }
}

@media screen and (max-width: 320px) {
    .square {
        width: 166px;
        height: 125px;
        left: 74%;
    }

    #inovation-square {
        padding-top: 8%;
    }
}

@media screen and (max-width: 767px) {

    .header-legacy {
        position: relative;
        width: 100%;
        padding-left: 15%;
        padding-right: 25px;
        margin-top: -13%;
    }

    .legacy-bottom-block {
        height: 135%;
    }

    .header-legacy h2 {
        font-size: 36px;
    }

    .text-legacy p {
        font-weight: lighter;
        font-family: Montserrat, sans-serif;
        width: 100%;
        font-size: 14px;
    }

    .legacy-parent {
        height: 160vw;
    }

    .legacy-image {
        bottom: 4%;
    }

    .legacy-top-block {
        height: 50%;
    }

    .legacy-bottom-block {
        height: 60%;
    }
}

@media screen and (max-width: 379px) {
    .header-legacy {
        position: relative;
        width: 100%;
        padding-left: 15%;
        padding-right: 25px;
        margin-top: -18%;
    }

    .text-legacy p {
        font-weight: inherit;
        font-family: Montserrat, sans-serif;
        width: 100%;
        font-size: 12px;
    }

    .legacy-bottom-block {
        height: 65%;
    }
}

@media screen and (max-width: 350px) {
    .header-legacy {
        position: relative;
        width: 100%;
        padding-left: 15%;
        padding-right: 10px;
        margin-top: -21%;
    }

    .legacy-bottom-block {
        height: 70%;
    }

    .text-legacy p {
        font-size: 12px;
        line-height: 22px;
    }
}

@media screen and (min-width: 768px) {
    #cooperation-entry-mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #cooperation-entry-desktop {
        display: none;
    }
}

.cities {
    position: absolute;
    transform: rotate(270deg);
    z-index: 1;
    left: 50%;
}

@media screen and (max-width: 767px) {
    .cities {
        display: none
    }
}

@media screen and (max-width: 867px) {
    .cities {
        left: 46%;
    }
}

.no-touch .text-row .entry-cols {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0s ease, opacity 0s ease;
    transition: none;
    opacity: 1;
}








