
.header .count{
    background-color: #FFFFFF!important;
    color: #000000!important;
}

.p{
    font-size: 21px;
    font-family: DIN, sans-serif;
    line-height: 1.81;
    letter-spacing: normal;
    color: #1d282c;
}

html{
    overflow-x: hidden;
}

.case-title {
    position: relative;
}

.quote-center {
    border-bottom: inherit;
    border-top: inherit;
}

.try-case {
    border-top: inherit;
}

.text-row h2 {
    font-size: 50px;
}

.technologies-box img {
    max-width: 100%;
}

.logos-cols .container .col {
    text-align: center;
    padding: 10px 0px;
}

.logos-cols .container .col img {
    width: 100%;
    max-width: 100%;
}

.try-case {
    text-align: center;
    padding: 150px 0 150px;
}

.case-title {
    margin-bottom: 200px;
}

.case-title .container {
    height: 50em;
}

.logos-cols {
    padding: 0 5px 124px;
}

.logos-cols .col {
    display: inline-block;
    width: 24.5%;
}

.case-title .screen {
    position: absolute;
    top: 10em;
    width: inherit;
    text-align: inherit;
    right: -38em;
    float: right;
    bottom: -5em;
    pointer-events: none;
    width: 96em;
}

.technologies-box {
    background: inherit;
}

.quote-center {
    background-color: #f8f8f8;
}

.try-case h3 {
    padding-bottom: 25px;
}

@media screen and (max-width: 2024px) {
    .case-title .screen {
        top: 21em;
        right: -28em;
        bottom: 9em;
        width: 69em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1270px) {
    .case-title .screen {
        top: 25em;
        right: -28em;
        bottom: 9em;
        width: 63em;
        pointer-events: none;
    }

    .case-title .text {
        width: 50%;
    }

    .text-row h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .case-title .text {
        width: 100%;
    }

    .case-title .screen {
        height: 60vw;
    }

    .case-title .screen {
        top: 31em;
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 9em;
        width: 50em;
        pointer-events: none;
    }
}

@media screen and (max-width: 767px) {
    .quote-center p {
        text-align: left;
        padding: 10px 0 10px;
    }

    .text-row h2 {
        line-height: 30px;
        font-size: 36px;
    }


    .quote-center cite strong {
        display: block;
        font-weight: 300;
        text-align: left;
    }

    .logos-cols .col {
        width: 49%;
    }

    .case-title .container {
        height: inherit;
    }

    .case-title .screen {
        position: static;
        text-align: center;
        width: auto;
        float: none;
        margin: auto;
        margin-bottom: -25vw;
    }

    .case-title .screen img {
        display: block;
        margin: inherit;
        position: absolute;
        right: -5em;
    }
    .case-title .container .text {
        padding-right: 0;
        margin-top: -12em;
    }
}

/* Newly Added */


/* MacBook Photo */

.case-title .screen {
    right: -9em;
}

/* Company info */
@media screen and (max-width: 1270px) {
    .text-row .container .entry {
        width: 100% !important;
        padding-left: 25px;

    }
}


@media screen and (max-width: 768px) {
    .text-row .container .entry {
        width: 100% !important;
        padding-left: 25px;
    }
}


/* Image Block */
.images-cols {
    font-size: 0;
    padding: 0px 0px 40px;
    margin-left: 3%;
}

#img-cols1{
    padding: 0px 0px 15px;
}

.images-cols .a-image{
    width: calc(60% - 20px);
  }

.images-cols .b-image{
    width: calc(38.2% - 20px);
}

.images-cols .c-image{
    width: calc(38.2% - 20px);
}

.images-cols .d-image{
    width: calc(60% - 20px);
}

@media screen and (max-width: 768px) {
    .images-cols{
        padding: 0px 0px 0px;
        display: none;
    }
    .text-box.team{
        margin-top: -8em;
    }
    .case-title{
        margin-bottom: 130px;
    }
}

@media screen and (max-width: 767px) {

    #mobile-container{
        padding-left: 0px;
    }

    .col-text p {
        width: 170%;
        font-size: 14px;
        color: #000000;
    }
    #solution-desktop p{
        display: none;
    }
    #solution-desktop h2{
        display: none;
    }
}

@media screen and (min-width: 767px) {
    #company-mobile{
        display: none;
    }
}

@media screen and (max-width: 560px) {
.images-cols{
    display: none;
}
}

@media screen and (min-width: 767px) {
    .scroller{
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .team-box section article img {
        max-height: 54vw;
    }
}
.text-row h2 span {
    color: #ea5a51;
}

/*Quote of Douglas Fisher */
.quote-center p {
    color:#1D282C;
    padding: 20px 0px;
    font-weight: 300;
}

/* Usability & Style */
.col-text{
    width: 50%;
    margin-left: 2%;
}

.col-text p{
    font-size: 21px;
    font-weight: normal;
    line-height: 1.81;
    color: #1d282c;
 }

.col-text h2{
    font-size: 48px;
    color: #000000;
}



@media screen and (max-width: 767px) {
    #usability-desktop {
        display: none;
    }
    .center-cols img{
        width: 90%;
    }

    #usability-mobile .col-text{
        padding-top: 20%;
    }

    #usability-mobile .col-text h2 {
        width: 150%;
        text-align: left;
        margin-left: 9%;
        font-size: 36px;
    }
    .col-text p{
        margin-left: 10%;
        font-size: 14px;
        text-align: left;
    }
}

@media screen and (min-width: 767px) {
    #usability-mobile {
        display: none;
    }
}


/* Clients of Moofe */



.clients-full h2:nth-child(2){
    color: #999;
    font-size: 36px;
    font-weight: 300;
    line-height: 27px;
    color: #E0E0E0;
    padding: 1%;
}

.clients-full img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .clients-full h2:nth-child(2){
        font-size:16px;!important;
    }

    .clients-full img {
        max-width: 70px;
        max-height: 55px;
    }

    #tesla-img{
        max-width: 90px;
        max-height: 65px;
    }
}

.clients-full {
    padding: 15% 0 0;
    border-bottom: 1px solid #f2f2f2;
}


.clients-full ul {
    padding: 10% 0 10%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* The Solution Background */
.backgroundas{
    background: url('../images/moofe/Moofe_bg_photo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*iPad Pro*/
@media screen and (max-width: 1024px) {
    .backgroundas{
        background-size: 120% 100%!important;
    }
}

/*iPad */
@media screen and (max-width: 768px) {
    .backgroundas{
        background-size: 150% 100%!important;
        background-position-x: -8em;
    }
}

@media screen and (max-width: 554px) {
    .backgroundas{
        background-size: 150% 100%!important;
    }
}

/*iPhoone 6/7/8 PLUS*/
@media screen and (max-width: 414px) {
    .backgroundas{
        background-size: 256% 113%!important;
        background-position-x: -20em;
    }
}
/*iPhone 6/7/8 and X*/
@media screen and (max-width: 375px) {
    .backgroundas{
        background-size: 263% 117%!important;
        background-position-x: -19em;
    }
}
/*iPhone 5 */
@media screen and (max-width: 320px) {
    .backgroundas{
        background-size: 286% 111%!important;
        background-position-x: -19em;
    }
}

@media screen and (max-width: 768px) {

    .backgroundas .text-row .container {
        width: 100% !important;
        padding-left: 0px;!important;
    }
}

.backgroundas .text-row .container .entry {
    padding-top: 15%;
}



.technologies-box {
    background: none;
}

div#road-top{
    padding-bottom: 100%;
}


.technologies-box h3 {
    padding: 0 0 0;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: -150px;
    color: #ffffff;
}

@media screen and (max-width: 950px) {
    .technologies-box h3 {
        padding-top: 0%;
        margin-bottom: 1%;
        font-weight: 500;
        line-height: 36px;
        color: #ffffff;
    }
}

@media screen and (max-width: 480px) {
    .technologies-box h3 {
        padding-top: 0%;
        margin-bottom: 1%;
        margin-left: 0%;
        font-weight: 500;
        line-height: 1.1;
        color: #ffffff;
        font-size: 36px;

    }
    .technologies-box{
        margin-top: -67px;
        padding: 80px 0;
    }
}

.technologies-box h3 span {
     color: #ffffff;
 }
@media screen and (min-width: 768px) {
    .text-row .entry-cols .col-mob {
        display: none;
    }
}

@media screen and (max-width: 554px) {
   .backgroundas .text-row .entry-cols p {
        padding-bottom: 40em;!important;
       font-size: 17px;
    }

}
@media screen and (max-width: 768px) {
    .technologies-box  img{
      max-width: 90%;
    }
}

.text-row #container-usability {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15% 0 15%;
}


video{
    width: 100%;
    height:100%;
}
.video{
    line-height: 0;
}


.text-row .entry-cols p {
    padding-bottom: 30px;
    letter-spacing: 0;
    color: #1D282C;
}


/* Footer Browse Moofe Now Block */

.try-case .entry {
    padding-bottom: 75px;
    width: 100%;
    margin: auto;
}

.entry p {
    letter-spacing: .06em;
    color: #1D282C;
}
