.header .count {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  vertical-align: top;
  margin: -2px 0;
  margin-left: 5px;
  background-color: #f3333e;
  display: inline-block;
}

.brands .header .count,
.what-we-do .header .count,
.newmood .header .count,
.packpin .header .count,
.deskbookers .header .count {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.home .featured-title .container {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.home .featured-title.carrer-inner {
  background: none;
  height: auto;
  padding: 240px 0 112px;
}

.home .featured-title.carrer-inner h1 {
  font-size: 58px;
  line-height: .8;
  margin-bottom: 0;
  padding-bottom: 3px;
}

.home .featured-title.carrer-inner p {
  font-size: 21px;
  font-weight: normal;
  line-height: normal;
  padding: 0;
  margin: 0;
  letter-spacing: 1.4px;
  font-family: DIN, sans-serif;
  color: #a4a4a4;
}

.home .featured-title.carrer-inner .status {
  margin-right: 30px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0;
  margin-bottom: 15px;
  font-family: DIN, sans-serif;
  text-align: center;
  color: #fff;
  display: inline-block;
  min-width: 39px;
  padding: 0 5px;
  line-height: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: #7ed321;
}

.home .featured-title.carrer-inner .status.red {
  background-color: #f3333e;
}

.form-apply {
  float: right;
  width: 35%;
}

.form-apply .share li {
  float: left;
  margin: 6px 65px 20px -14px;
}

.form-apply .custom-file {
  display: inline-block;
  min-width: 163px;
  text-align: center;
  line-height: 38px;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
  line-height: 38px;
  letter-spacing: normal;
  color: #1d282c;
  height: 38px;
  border-radius: 2px;
  background-color: #eee;
  transition: all .5s ease;
}

.form-apply .custom-file input {
  position: absolute;
  left: -999em;
}

.form-apply .custom-file:hover {
  background-color: #e3e3e3;
}

.form-apply .or {
  font-family: MajestiBanner;
  font-size: 58px;
  font-weight: bold;
  padding: 20px 0;
  line-height: .84;
  letter-spacing: normal;
  text-align: left;
  color: #1d282c;
}

.form-apply .btn {
  font-size: 18px;
  font-weight: normal;
  border-radius: 0;
  line-height: 38px;
  color: #fff;
  font-family: DIN, sans-serif;
  text-transform: none;
  letter-spacing: 0;
  min-width: 163px;
  height: 38px;
  width: auto;
  padding: 0;
  text-align: center;
  border-radius: 2px;
  background-color: #f3333e;
}

.form-apply .btn:hover {
  background-color: #d32d36;
}

.form-apply .btn:before {
  content: '';
  display: none;
}

.form-apply input[type=text] {
  width: 100%;
  display: block;
  margin: -3px 0 15px;
  padding: 5px 15px;
  height: 38px;
  border-radius: 2px;
  border: solid 1px #e9e9e9;
}

.form-apply .note {
  font-size: 12px;
  font-weight: normal;
  font-family: DIN, sans-serif;
  letter-spacing: .7px;
  line-height: normal;
  padding: 5px 0;
  display: block;
}

.form-apply .form {
  padding: 22px 40px 30px;
  margin: 5px 0 -10px;
  background-color: #fdfdfd;
  box-shadow: 0 32px 90px 0 rgba(74, 74, 74, .16);
}

.form-apply label {
  font-family: DIN, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 9px;
  display: block;
  letter-spacing: 1px;
  text-align: left;
  color: #999;
}

.position-details {
  position: relative;
  padding: 0 25px;
  padding-bottom: 29px;
}

.position-details:after {
  content: '';
  clear: both;
  display: block;
}

.position-details .offer {
  padding-top: 78px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 16px;
  font-family: DIN, sans-serif;
  line-height: .63;
  letter-spacing: 1px;
  text-align: left;
  color: #999;
}

.position-details .offer .left {
  display: inline-block;
  vertical-align: top;
  margin: 20px 10px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  line-height: 39px;
  letter-spacing: 1px;
  text-align: left;
  color: #999;
}

.position-details .offer .time {
  display: inline-block;
  vertical-align: top;
  text-transform: none;
  font-size: 21px;
  height: 39px;
  margin: 20px 0;
  font-family: LucidaGrande, 'Lucida Grande', sans-serif;
  border-radius: 3px;
  background-color: #f3333e;
  line-height: 39px;
  padding: 0 10px;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.position-details:before {
  content: '';
  position: absolute;
  background-color: #f6f6f6;
  top: 14%;
  bottom: 19%;
  left: 0;
  right: 50%;
  margin-right: -230px;
}

.position-details .text {
  float: left;
  width: 55%;
}

.position-details .text li {
  padding-bottom: 1px;
}

.position-details .text li:before {
  content: '- ';
}

.position-details ul {
  margin-bottom: 20px;
}

.position-details h3 {
  font-size: 16px;
  line-height: 1;
  padding-bottom: 9px;
  letter-spacing: 1px;
  font-family: DIN, sans-serif;
  color: #999;
  padding-top: 74px;
  text-transform: uppercase;
}

.position-details li, .position-details p {
  font-size: 21px;
  line-height: 1.81;
  letter-spacing: normal;
  font-family: DIN, sans-serif;
  text-align: left;
  color: #1d282c;
}

.position-details p {
  padding-bottom: 20px;
  max-width: 558px;
}

.center-image {
  text-align: center;
  padding-bottom: 80px;
}

.home .featured-title.carrer {
  background: #fff;
  padding-top: 250px;
  padding-bottom: 250px;
  height: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .home .featured-title.carrer {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.home .featured-title.carrer:before {
  content: '';
  pointer-events: none;
  background: #fff url(../images/bg_border.svg) no-repeat 100% 140px;
  position: absolute;
  top: 0;
  background-size: 40% auto;
  bottom: -500px;
  left: 0;
  right: 0;
}

.home .featured-title.carrer h1 {
  font-size: 82px;
  line-height: .72;
}

.home .featured-title.carrer p {
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  font-family: DIN, sans-serif;
  color: #a4a4a4;
}

.center-video {
  text-align: center;
  padding: 0 25px;
  padding-bottom: 50px;
  margin-top: -55px;
}

.center-video.playing .overlay {
  opacity: 0;
  pointer-events: none;
}

.center-video.playing .vv:before {
  opacity: 0;
  pointer-events: none;
}

.center-video .overlay {
  transition: all .5s ease;
}

.center-video .text {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: DIN, sans-serif;
  font-size: 7px;
  z-index: 9;
  pointer-events: none;
  text-align: center;
  padding-top: 110px;
  display: block;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #fff;
}

.center-video .play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  cursor: pointer;
  margin: auto;
}

.center-video .vv img {
  width: 100%;
}

.center-video .vv {
  display: block;
  margin: auto;
  width: 1033px;
  position: relative;
  vertical-align: top;
}

.center-video .vv:before {
  content: '';
  transition: all .5s ease;
  position: absolute;
  background-color: rgba(29, 40, 44, .79);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  right: 0;
}

.center-video iframe {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.car-positions {
  padding: 92px 25px;
}

.car-positions.similar {
  padding-bottom: 120px;
}

.car-positions.similar .container {
  padding-top: 0;
}

.car-positions.similar .container:before {
  content: '';
  display: block;
  height: 1px;
  margin-bottom: 50px;
  border-top: 1px solid #e9e9e9;
}

.car-positions.similar h2 {
  font-family: MajestiBanner;
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  padding: 70px 0 22px;
  letter-spacing: normal;
  color: #1d282c;
}

.car-positions .back {
  display: block;
  padding: 10px 0;
  position: relative;
  padding-left: 30px;
  font-size: 21px;
  font-weight: normal;
  font-family: DIN, sans-serif;
  line-height: 1.81;
  text-align: left;
  color: #1d282c;
}

.car-positions .back:hover {
  color: #ea2934;
}

.car-positions .back:before {
  content: '';
  position: absolute;
  background: url(../images/ico_back.svg) no-repeat 0 50%;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all .5s ease;
  right: 0;
  opacity: .31;
}

.car-positions .back:hover:before {
  opacity: 1;
}

.car-positions h2 {
  font-family: DIN, sans-serif;
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: left;
  color: #a4a4a4;
  padding-bottom: 35px;
}

.car-positions h3 {
  font-family: DIN, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #999;
  margin-bottom: 26px;
}

.car-positions h3:before {
  content: '';
  width: 11px;
  height: 11px;
  background-color: #e5e5e5;
  border-radius: 50%;
  float: left;
  margin: 9px 15px 0 0;
}

@media screen and (max-width: 414px) {
  .car-positions h3:before {
    margin: 7px 15px 0 0;
  }
}

.car-positions h3 strong {
  font-weight: inherit;
  color: #f75d53;
}

.car-positions section {
  padding-bottom: 16px;
}

.car-positions article {
  font-family: DIN, sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .7px;
  margin-bottom: 10px;
  text-align: left;
  color: #999;
  border: solid 1px #ebebeb;
}

.car-positions article a {
  padding: 20px 20px 19px 26px;
  color: #999;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.car-positions article a:hover h4 {
  color: #ea2934;
}

.car-positions article .exp {
  font-size: 14px;
  letter-spacing: .8px;
}

.car-positions article .date {
  width: 35%;
  background: url(../images/ico_cal.svg) no-repeat 0 50%;
  padding: 5px 0 5px 25px;
}

.car-positions article .more {
  text-align: right;
  width: 8%;
}

.car-positions article .tt {
  width: 51.9%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.car-positions article h4 {
  font-size: 18px;
  line-height: 1.1;
  margin: -2px 0 0;
  padding-right: 20px;
  letter-spacing: 0;
  transition: all .5s ease;
  color: #1d282c;
}

.car-positions article .status {
  margin-right: 30px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  min-width: 39px;
  padding: 0 5px;
  line-height: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: #7ed321;
}

.car-positions article .status.red {
  background-color: #f3333e;
}

.perk-desc {
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 10px 6% 50px 0;
}

.perk-desc .text {
  display: inline-block;
  width: 554px;
  max-width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;
}

.perk-desc h3 {
  font-size: 16px;
  line-height: 1;
  padding-bottom: 9px;
  letter-spacing: 1px;
  font-family: DIN, sans-serif;
  color: #999;
  text-transform: uppercase;
}

.perk-desc p {
  font-size: 21px;
  line-height: 1.81;
  letter-spacing: normal;
  font-family: DIN, sans-serif;
  text-align: left;
  color: #1d282c;
}

.perk-desc .image {
  margin-top: 4.8%;
  margin-right: -12%;
  position: relative;
  text-align: right;
}

.perk-desc .image:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -110px;
  bottom: -230px;
  left: 170px;
  right: -199em;
  background: #f6f6f6;
}

.practises {
  position: relative;
  z-index: 1;
  padding: 4.5% 25px;
}

.practises:before {
  content: '';
  background: url(../images/bg_prac.svg);
  background-repeat: no-repeat;
  background-size: 90% 100%;
  position: absolute;
  top: -30.5%;
  bottom: 0;
  left: 0;
  right: 20%;
}

@media screen and (max-width: 1440px) {
  .practises:before {
    background-size: 90% 100%;
    background-position-x: -100px;
    background-position-y: -250px;

  }
}

@media screen and (max-width: 768px) {
  .practises:before {
    background-size: 150% 100%;
    background-position-x: -320px;
    background-position-y: -250px;
  }
}

@media screen and (max-width: 430px) {
  .practises:before {
    background-size: 200% 100%;
    background-position-x: -350px;
    background-position-y: -350px;
  }
}

@media screen and (max-width: 375px) {
  .practises:before {
    background-size: 200% 100%;
    background-position-x: -300px;
    background-position-y: -425px;
  }
}

.practises h2 {
  font-family: MajestiBanner;
  font-size: 78px;
  font-weight: bold;
  line-height: .78;
  text-align: left;
  padding-bottom: 150px;
  color: #1d282c;
}

.practises section:after {
  content: '';
  clear: both;
  display: block;
}

.practises h3 {
  font-size: 16px;
  line-height: 1;
  padding-bottom: 7px;
  letter-spacing: 1px;
  font-family: DIN, sans-serif;
  color: #999;
  text-transform: uppercase;
}

.practises .image {
  margin: 65px 40px 0 -25px;
  max-width: 48%;
  float: right;
}

.practises article {
  width: 47.5%;
  float: left;
  padding-right: 25px;
  padding-bottom: 10%;
  clear: left;
}

.practises article:nth-child(even) {
  float: right;
  clear: right;
}

.practises article p {
  font-size: 21px;
  line-height: 1.81;
  color: #1d282c;
  font-family: DIN, sans-serif;
}

.practises article .num {
  background: url(../images/bg_num.svg) no-repeat 50% 50%;
  width: 64px;
  height: 64px;
  text-align: center;
  display: block;
  margin-bottom: 36px;
  line-height: 64px;
  font-family: DIN, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: #000;
}

.intro-text-b {
  text-align: center;
  padding: 68px 25px 13%;
  position: relative;
}

.intro-text-b h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: DIN, sans-serif;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
  color: #999;
  padding-bottom: 50px;
}

.intro-text-b h2 {
  font-family: MajestiBanner;
  font-size: 72px;
  font-weight: 500;
  padding: 44px 0 68px;
  line-height: .54;
  color: #1d282c;
}

.intro-text-b p {
  font-size: 21px;
  width: 517px;
  max-width: 100%;
  margin: auto;
  line-height: 1.81;
  letter-spacing: normal;
  font-family: DIN, sans-serif;
  color: #1d282c;
}

.intro-text-b p .grey {
  color: #c4c4c4;
  position: relative;
  cursor: pointer;
}

.career-gif-ok,
.career-gif-great {
  visibility: hidden;
  width: 250px;
  position: absolute;
  border-radius: 8px;
}

@media screen and (max-width: 450px) {
  .career-gif-ok,
  .career-gif-great {
    width: 200px;
  }
}

.intro-text-b p .grey:hover .career-gif-ok {
  visibility: visible;
  left: 50%;
  transform: translate(-50%, -110%);
}

.intro-text-b p strong {
  font-weight: bold;
  color: #f95a4f;
  text-decoration: underline;
  text-transform: uppercase;
}

.intro-text-b p strong:hover .career-gif-great {
  visibility: visible;
  left: 61%;
  transform: translate(-58%, -110%);

}

.start-project.big .text .label {
  font-size: 16px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.start-project.big .text .start {
  font-size: 114px;
}

.vibes {
  padding: 12.5% 25px 11.5%;
  margin-top: -25px;
  margin-bottom: -25px;
  background: url(../images/hiring/iPhone.png) no-repeat 100% 50%;
  background-size: 40.5% auto;
}

.vibes .text {
  max-width: 580px;
  padding-bottom: 40px;
}

.vibes section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 950px;
  padding: 43px 0 0;
}

.vibes article {
  width: 25%;
  padding-bottom: 45px;
}

.vibes .ico {
  height: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vibes h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: DIN, sans-serif;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  color: #999;
}

.vibes p {
  font-size: 21px;
  font-family: DIN, sans-serif;
  line-height: 1.81;
  letter-spacing: normal;
  text-align: left;
  color: #1d282c;
}

.vibes h2 {
  padding-bottom: 68px;
  font-family: MajestiBanner;
  font-size: 92px;
  font-weight: bold;
  line-height: .79;
  color: #1d282c;
}

.footer-menu .count {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  color: #000;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  vertical-align: top;
  margin: -2px 0;
  margin-left: 5px;
  background-color: #fff;
  display: inline-block;
}

.footer-menu li {
  float: left;
  padding: 9px 0;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: .8px;
  padding-left: 70px;
  text-transform: uppercase;
  color: #fff;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer {
  padding: 130px 25px;
  font-size: 16px;
  position: relative;
  font-weight: normal;
  font-family: DIN, sans-serif;
  text-align: left;
  color: #fff;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .contacts {
  clear: both;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 177px 0 0;
}

.footer .contacts a.big {
  font-size: 48px;
  display: inline-block;
  text-decoration: none;
  margin-top: 32px;
  font-weight: bold;
}

.footer .contacts a.big:hover {
  text-decoration: underline;
}

.footer .contacts .col {
  width: 30.5%;
}

.footer .contacts .col:first-child {
  width: 46%;
  padding-right: 120px;
}

.footer .contacts .col:nth-child(2) {
  width: 34%;
}

.footer .contacts a {
  text-decoration: underline;
}

.footer .contacts a:hover {
  text-decoration: none;
}

.footer .contacts a[href^='tel'] {
  text-decoration: none;
}

.footer .contacts a[href^='tel']:hover {
  text-decoration: underline;
}

.footer .contacts p {
  font-size: 21px;
  font-weight: normal;
  line-height: 1.81;
  padding-bottom: 9px;
  letter-spacing: normal;
  color: #fff;
}

.footer .container {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

.footer .icon-logo {
  margin-left: 4px;
  margin-top: -3px;
  width: 136px;
  height: 44px;
}

.footer h6 {
  font-family: DIN, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 9px;
  letter-spacing: 1px;
  text-align: left;
  color: #999;
}

.footer .left {
  float: left;
}

.footer .copy {
  padding-top: 180px;
  clear: both;
}

.footer .social {
  float: right;
  padding: 0;
  margin: 0;
}

.footer .social li {
  float: left;
  padding: 0 0 0 76px;
  margin: 0;
}

.privacy-policy-footer {
  color: #999;
}

@media screen and (min-width: 1024px) {
  .privacy-policy-footer {
    display: none;
  }
}

.footer .footer-menu {
  float: right;
}

.left-h {
  position: absolute;
  left: -99em;
}

.js-from-bottom.opacity0 {
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.js-from-bottom.fadeInUp {
  opacity: 1;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media screen and (max-width: 1430px) {
  .center-video .vv {
    max-width: 100%;
  }

  .footer .left {
    margin-left: 0;
    padding-left: 0;
  }

  .footer-menu li {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1270px) {
  .footer-menu li {
    padding-left: 30px;
  }

  .header .count {
    background: #fff;
    color: #f75d53;
    margin-top: -1px;
  }

  .footer .contacts p {
    font-size: 17px;
    line-height: 2;
  }
}

@media screen and (max-width: 1150px) {

  .perk-desc {
    padding-right: 0;
  }

  .vibes .text {
    max-width: 55%;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 50px 25px;
  }

  .footer .footer-menu {
    display: none;
  }

  .footer .contacts {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0 0;
  }

  .footer .contacts .col, .footer .contacts .col:nth-child(2) {
    width: 50%;
  }

  .footer .contacts .col:first-child {
    padding: 0 0 60px;
    width: 100%;
  }

  .footer .copy {
    padding-top: 100px;
  }

  .footer .social li {
    padding-left: 40px;
  }

  .car-positions article .tt {
    width: 70%;
  }

  .car-positions article h4 {
    padding-right: 15px;
  }

  .car-positions article .status {
    margin-right: 15px;
  }

  .car-positions article a {
    padding: 15px;
  }

  .position-details .text {
    float: none;
    width: auto;
  }

  .form-apply {
    float: none;
    width: auto;
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 50px 10px;
  }

  .footer .icon-logo {
    margin-left: 0;
  }

  .footer .social {
    float: none;
    padding: 0 0 30px;
    margin: 0 -5px;
  }

  .footer .social li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    float: none;
    padding: 5px 5px;
  }

  .footer .contacts a.big {
    font-size: 24px;
    padding: 0;
    line-height: normal;
    margin: 0;
  }

  .footer .contacts .col, .footer .contacts .col:nth-child(2) {
    width: 100%;
    padding-bottom: 40px;
  }

  .footer .copy {
    padding: 0;
  }

  .form-apply .form {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 24px;
  }

  .form-apply .share li {
    margin: 5px 50px 0 -10px;
  }

  .form-apply li img {
    max-height: 36px;
  }

  .form-apply li:nth-child(2) img {
    max-height: 21px;
  }

  .position-details {
    padding: 0;
  }

  .position-details h3 {
    padding-top: 15px;
  }

  .position-details li, .position-details p {
    font-size: 17px;
    line-height: 2;
  }

  .position-details .offer {
    padding: 17px 0 5px;
  }

  .position-details .offer .left {
    line-height: 28px;
    margin: 18px 10px;
  }

  .position-details .offer .time {
    font-size: 16px;
    line-height: 30px;
    padding: 0 9px;
    height: auto;
    margin: 18px 0 0;
  }

  .car-positions .back {
    margin: 5px;
  }

  .car-positions.similar {
    padding-bottom: 40px;
  }

  .car-positions.similar .container:before {
    margin-bottom: 45px;
  }

  .car-positions.similar h2 {
    font-size: 36px;
    padding: 0 0 23px;
  }

  .center-image {
    padding-bottom: 50px;
  }

  .position-details {
    padding-bottom: 10px;
  }

  .position-details:before {
    content: '';
    width: 59%;
    top: 32%;
    bottom: 350px;
    margin: 0;
  }

  .home .featured-title.carrer-inner {
    padding-top: 132px;
    padding-bottom: 40px;
  }

  .home .featured-title.carrer-inner h1 {
    font-size: 42px !important;
    line-height: .88;
  }

  .home .featured-title.carrer-inner p {
    font-size: 16px;
    padding-top: 7px;
  }

  .home .featured-title.carrer-inner .status {
    min-width: 32px;
    line-height: 17px;
    font-size: 12px;
    height: auto;
  }

  .intro-text-b {
    padding-left: 0;
    padding-right: 0;
  }

  .center-video {
    padding: 0;
    position: relative;
    margin: 0;
    z-index: 9;
  }

  .home .featured-title.carrer {
    background: none;
  }

  .home .featured-title.carrer {
    height: auto;
    padding: 170px 0 35px;
    overflow: visible;
  }

  .home .featured-title.carrer p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    padding: 5px 0;
  }

  .home .featured-title.carrer h1 {
    font-size: 42px !important;
    line-height: .83;
    padding-bottom: 50px;
  }

  .center-video .play:after {
    margin: -20px;
  }

  .center-video .text {
    padding-top: 40px;
  }

  .center-video .play {
    width: 40px;
    height: 40px;
    bottom: 20px;
    border-width: 5px;
    box-shadow: 9.5px 16.5px 8px rgba(0, 0, 0, .32), 0 0 0 8px #fff;
    background-size: 6px auto;
  }

  .home .featured-title.carrer:before {
    top: 0;
    bottom: -500px;
    left: 0;
    background-color: transparent;
    right: 0;
    background-position: right -65px top 80px;
    background-size: auto 450px;
  }

  .car-positions {
    padding: 40px 0;
  }

  .car-positions h2 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .car-positions h3 {
    padding-bottom: 10px;
    margin: -7px 0 0;
    font-size: 14px;
  }

  .car-positions article a {
    position: relative;
    padding: 20px 15px 15px;
  }

  .car-positions .date {
    display: none;
  }

  .car-positions article {
    margin-bottom: 5px;
  }

  .car-positions article .status {
    margin-right: 15px;
    height: 18px;
    min-width: 32px;
    line-height: 18px;
    padding: 0 5px;
    font-size: 12px;
  }

  .car-positions article .tt {
    width: 90%;
    display: block;
  }

  .car-positions article .tt .exp {
    font-size: 12px;
    letter-spacing: .7px;
  }

  .car-positions article .tt h4 {
    font-size: 16px;
    padding-bottom: 6px;
  }

  .car-positions article .more {
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    right: 0;
    text-indent: -999em;
    background: url(../images/ico_more.svg) no-repeat 50% 50%;
    color: transparent;
  }

  .car-positions section {
    padding: 7px 0 15px;
  }

  .intro-text-b {
    padding-bottom: 70px;
  }

  .intro-text-b p {
    font-size: 17px;
    line-height: 2;
  }

  .intro-text-b h2 {
    font-size: 36px;
    line-height: 1.08;
    padding: 0;
    margin: 8px -10px 18px;
  }

  .start-project.big {
    padding: 90px 0 72px;
  }

  .start-project.big .text .label {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .start-project.big .text .start {
    font-size: 54px;
  }

  .vibes {
    padding: 55px 0 330px;
    margin-bottom: 7px;
    background-image: url(../images/bg_m.jpg);
    background-position: 100% 100%;
    background-size: 375px auto;
  }

  .vibes h2 {
    font-size: 36px;
    padding-bottom: 20px;
    line-height: .83;
  }

  .vibes article {
    width: 38%;
    padding: 5px 0 30px;
  }

  .vibes article:nth-child(3n+3) {
    width: 24%;
  }

  .vibes article:last-child {
    margin-right: auto;
  }

  .vibes article h3 {
    font-size: 12px;
  }

  .vibes article .ico {
    height: 50px;
  }

  .vibes article .ico img {
    max-height: 25px;
    max-width: 28px;
  }

  .vibes p {
    font-size: 17px;
    line-height: 2;
    max-width: none;
  }

  .vibes .text {
    max-width: none;
    padding-bottom: 0;
  }

  .perk-desc {
    padding: 7px 0;
  }

  .perk-desc p {
    font-size: 17px;
    line-height: 2;
  }

  .perk-desc .image {
    margin-right: -25px;
  }

  .practises .image {
    position: absolute;
    width: 320px;
    max-width: none;
    float: none;
    margin: 0 auto;
    bottom: -420px;
    left: 0;
    right: 0;
  }

  .practises {
    padding: 52px 0 450px;
  }

  .practises h2 {
    font-size: 36px;
    padding-bottom: 40px;
  }

  .practises article {
    width: 100%;
    padding-bottom: 40px;
    padding-right: 0;
  }

  .practises article p {
    font-size: 17px;
    line-height: 2;
    padding: 5px 0 0;
  }

  .practises article .num {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    background-size: contain;
    margin-bottom: 18px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*========================*/
/* New Home Page Elements */
/*========================*/

/*Service List */

.home.text-box.offer {
  padding: 87px 0;
}

.text-holder {
  width: 50%;
  margin: 0 auto;
}

.text-box.offer .text-holder h2 {
  padding-bottom: 20px;
  max-width: 100%;
  white-space: normal;
  color: #999999;
  font-family: DIN, sans-serif;
  font-size: 16px;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 0.96px;
}

.text-box .text-holder .entry {
  max-width: 629px;
  letter-spacing: .054em;
  width: 100%;
}

.vertical-line-holder {
  display: block;
  margin-top: 121px;
  position: relative;
  width: 100%;
  height: 100px;
}

.vertical-line {
  border: 1px solid #dedede;
  height: inherit;
  position: absolute;
  left: 50%;
  top: 0;
}

.serviceListButton {
  margin: 60px 0 60px 0;
  cursor: pointer;
}

.work-label {
  height: 22px;
  color: #bababa;
  font-size: 14px;
  font-family: DIN, sans-serif;
}

.text-box .work-name p {
  color: #1d282c;
  font-family: DIN, sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 5px;
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */

}

.text-box .work-name span {
  width: 100%;
  margin-top: 5px;
  display: block;
  border-bottom: 1px solid #e2e2e2;
}

@media screen and (max-width: 1044px) {
  .services-list article {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .vertical-line-holder {
    margin-top: 40px;
  }

  .text-box.offer .text-holder h2 {
    max-width: 100%;
  }

  .home .text-holder {
    width: 100%;
  }

  .home .text-box.offer .text-holder h2 {
    font-size: 16px;
    line-height: 1.8;
    padding-bottom: 9px;
  }

  .serviceListButton {
    margin: 0 0 20px 0;
  }
}

/*Clients */

.index-clients {
  position: absolute;
  z-index: 1;
  top: 40em;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .index-clients {
    top: 75em;
  }
}

@media screen and (max-width: 768px) {
  .index-clients {
    top: 85em;
  }
}

@media screen and (max-width: 480px) {
  .index-clients {
    top: 120em;
  }
}

.darkBG:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 0;
  height: 100%;
  width: 100%;
  opacity: 1.0;
  background-size: 60%;
  /*background-image: url(../images/index/map.svg) !important;*/
  background-repeat: no-repeat !important;
  background-position: center;
}

@media screen and (max-width: 620px) {
  .darkBG:before {
    background-size: 654px 505px !important;
    background-position-y: 64% !important;
    background-position-x: 109% !important;
  }
}

@media screen and (max-width: 480px) {
  .darkBG:before {
    background-size: 526px 505px !important;
    background-position-y: 42% !important;
    background-position-x: 47% !important;
  }
}

.work.center.index-clients p {
  color: #ffffff;
}

.st0 {
  -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  filter: invert(100%);
}

.index-clients .entry.visible {
  padding-bottom: 350px;
  max-width: 709px;
  margin: auto;
  text-align: center;
}

.index-clients .clients-logo {
  margin-top: 300px;
  text-align: center;
  height: 795px;
}

@media screen and (max-width: 1366px) {
  .index-clients .entry.visible {
    padding-bottom: 150px;
    max-width: 709px;
  }

  .index-clients .clients-logo {
    padding: 0px 0 80px;
    height: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .index-clients .clients-logo {
    padding: 0px 0 80px;
    height: 630px;
  }
}

@media screen and (max-width: 768px) {
  .index-clients .entry.visible {
    padding-bottom: 100px;
    max-width: 709px;
  }

  .index-clients .clients-logo {
    padding: 0px 0 80px;
    height: 100%;
  }

}

.index-clients ul {
  margin: 10% 0;
}

.index-clients .btn:before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  border-radius: 50px;
  right: 0;
  background: #D42D36;
  bottom: 0;
  left: 0;
  border: 6px solid rgba(255, 255, 255, 0);
}

.text-box-parent {
  padding-top: 1000px;
  margin: 0 auto;
  width: 1480px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 100%;
}

@media screen and (max-width: 1479px) {
  .text-box-parent {
    width: 1366px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1365px) {
  .text-box-parent {
    width: 1280px;
  }
}

@media screen and (max-width: 1279px) {
  .text-box-parent {
    width: 1150px;
  }
}

@media screen and (max-width: 768px) {
  .text-box-parent {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 480px) {
  .text-box-parent {
    padding-top: 1000px;
  }
}

/* Top textbox Container */
.top-textbox-container {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.textbox-leftSide {
  position: relative;
  width: 50%;
}

.textbox-leftSide img {
  max-width: 480px;
}

.textbox-leftSide-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
}

@media screen and (max-width: 1479px) {
  .textbox-leftSide-text {
    right: -90px;
  }
}

.textbox-leftSide-text h1 {
  margin: auto;
  font-size: 64px;
  line-height: 50px;
  font-weight: 500;
  color: #1d282c;
  font-family: MajestiBanner, sans-serif;
  max-width: 304px;
}

.top-textbox-container p {
  font-size: 21px;
  line-height: 1.81;
  letter-spacing: normal;
  font-family: DIN, sans-serif;
  text-align: left;
  color: #1d282c;
}

@media screen and (max-width: 1365px) {
  .textbox-rightSide h1 {
    font-size: 64px;
    line-height: 50px;
    font-weight: 500;
    padding-bottom: 20px;
    color: #1d282c;
    font-family: MajestiBanner, sans-serif;
  }

  .textbox-leftSide h1 {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .textbox-rightSide h1 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .top-textbox-container p {
    font-size: 17px;
    line-height: 2;
  }

  .textbox-rightSide h1 {
    font-size: 36px !important;
    line-height: 30px !important;
  }
}

.textbox-rightSide {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 130px;
}

@media screen and (max-width: 1365px) {
  .textbox-rightSide {
    width: 50%;
    display: flex;
    align-items: normal;
    flex-wrap: wrap;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1023px) {
  .textbox-rightSide {
    width: 100%;
    padding-left: 10px;
    display: block;
  }

  .textbox-leftSide {
    display: none;
  }
}

.textbox-rightSide .text {
  max-width: 524px;
}

.textbox-rightSide-button {
  text-align: center;
  position: absolute;
  margin-top: 180px;
}

.textbox-rightSide-button img {
  transform: rotate(180deg);
  margin-bottom: 4px;
  margin-left: 80px;
}

@media screen and (min-width: 1024px)  and (max-width: 1365px) {
  .textbox-rightSide-button {
    position: relative;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1023px) {
  .textbox-rightSide .textbox-rightSide-button {
    display: block;
  }

  .bottom-textbox-container .textbox-rightSide-button {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .textbox-rightSide .textbox-rightSide-button {
    display: none;
  }

  .bottom-textbox-container .textbox-rightSide-button {
    display: block;
  }
  .textbox-rightSide-button {
    position: relative;
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .textbox-rightSide-button {
    position: relative;
    margin-top: 25px;
  }
}

/* Fading animations */
.textbox-leftSide {
  opacity: 0;
  transform: translateX(-100px);
}

.textbox-rightSide {
  opacity: 0;
  transform: translateY(100px);
}

.textbox-leftSide,
.textbox-rightSide {
  transition: ease opacity 1.0s, ease transform 1.0s;
}

/* Offsets timing */
.textbox-leftSide,
.textbox-rightSide {
  transition-delay: 0.1s;
}

.textbox-leftSide,
.textbox-rightSide {
  transition-delay: 0.1s;
}

/* Bottom textbox Container */

.bottom-textbox-container {
  margin-top: 54px;
  margin-bottom: 220px;
  display: inline-flex;
}

@media screen and (max-width: 1023px) {
  .bottom-textbox-container {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .bottom-textbox-container {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .bottom-textbox-container {
    margin-bottom: 50px;
  }
}

.bottom-textbox-leftSide {
  margin-left: 180px;
  display: flex;
}

@media screen and (min-width: 1366px) and (max-width: 1479px) {
  .bottom-textbox-leftSide {
    margin-left: 210px;
    display: flex;
  }
}

.bottom-textbox-leftSide-imgContainer img {
  width: 100%;
  max-width: 307px;
  max-height: 322px;
  margin-left: auto;
}

.bottom-textbox-center {
  margin-left: 95px;
  display: flex;
}

.bottom-textbox-center img {
  width: 100%;
  max-width: 534px;
  max-height: 355px;
  margin-top: 122px;
  margin-left: auto;
}
@media screen and (min-width: 1366px) and (max-width: 1479px) {
  .bottom-textbox-center img {
    max-height: 310px;
  }
}

.bottom-textbox-rightSide {
  margin-left: 56px;
  display: flex;
}

.bottom-textbox-rightSide img {
  width: 100%;
  max-width: 292px;
  max-height: 176px;
  margin-left: auto;
}

/* Photos linear Border Properties */
.bottom-textbox-leftSide-imgContainer {
  max-width: 326px;
  max-height: 343px;
  position: relative;
}

.bottom-textbox-center {
  position: relative;
}

.bottom-textbox-leftSide-imgContainer:before {
  content: "";
  width: 316px;
  height: 322px;
  position: absolute;
  z-index: -1;
  background-image: url(../images/linearBorder.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.bottom-textbox-center:before {
  content: "";
  width: 542px;
  height: 499px;
  position: absolute;
  z-index: -1;
  background-image: url(../images/linearBorder.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

@media screen and (max-width: 1479px) {
  .bottom-textbox-leftSide-imgContainer:before {
    width: 290px;
    height: 293px;
  }

  .bottom-textbox-center:before {
    width: 475px;
    height: 454px;
  }
}

/* Slider Options */
.home .instagram-list {
  text-align: center;
  padding: 0px 0 0px;
  margin-left: -65px;
}

.home .instagram-list article:nth-child(1) {
  padding-top: 2.3%;
}

.home .instagram-list article:nth-child(1) .photo-holder {
  float: left;
  width: 85.5%;
}

.home .instagram-list article:nth-child(2) .photo-holder {
  width: 102%;
  float: left;
}

.home .instagram-list article:nth-child(3) .photo-holder {
  float: right;
  width: 73.5%;
}

.home .instagram-list article > .photo-holder figure:before {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 15px;
  border: 15px solid #fff;
}

@media screen and (max-width: 1365px) {
  .bottom-textbox-container {
    display: block;
  }

  .bottom-textbox-rightSide,
  .bottom-textbox-center,
  .bottom-textbox-leftSide {
    display: none;
  }

  .home .text-box.team.team-box.center {
    padding: 0px 0px;
  }
}

@media screen and (min-width: 1366px) {
  .home .instagram-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .home .instagram-list {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .home .instagram-list article > .photo-holder.lg,
  .home .instagram-list article > .photo-holder.md,
  .home .instagram-list article > .photo-holder.sm {
    width: 100%;
  }

  .home .instagram-list article:nth-child(1) {
    padding-top: 0%;
  }

  .home .instagram-list article > .photo-holder {
    max-width: none !important;
    padding-right: 14px;
    display: block;
  }

  .home .instagram-list article:nth-child(1) {
    width: 95.5%;
    height: 95%;
    overflow: hidden;
  }

  .home .instagram-list {
    margin: 0 -25px;
    width: auto;
    max-width: none;
  }
}

/* New foooter effect */
.inner-career .footer,
.privacy-policy .footer {
  position: relative;
}

@media screen and (min-width: 640px) {

  .what-we-do .page-content {
    margin-bottom: 900px;
  }

  .page-content {
    margin-bottom: 900px;
    z-index: 2;
    position: relative;
    overflow: hidden;
  }

  .footer {
    padding: 180px 25px;
    font-size: 16px;
    position: fixed;
    height: 900px;
    z-index: 1;
    width: 100%;
    bottom: 0;
    font-weight: normal;
    font-family: DIN, sans-serif;
    text-align: left;
    color: #fff;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 50px 25px;
  }
}

.page-content:before {
  content: "";
  display: block;
  height: fit-content;
  background: green;
}

.world-map {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 22em;
  right: 0;
  left: 0em;
  background-image: url("../images/index/map.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 560px){
  .world-map {
    top: 22em;
    left: -30em;
    width: 1366px;
  }
}

.world-map path#xua8zd {
  fill: none;
}

/* World map LIThuania */
@keyframes pulse-dot {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.0);
  }
}

@-moz-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-ransform: scale(1.0);
  }
}

@-ms-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-ransform: scale(1.0);
  }
}


@-o-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-ransform: scale(1.0);
  }
}

@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-ransform: scale(1.0);
  }
}


@keyframes pulse-border {
  0% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(4.5);
  }
  100% {
    transform: scale(5.5);
    opacity: 0;
  }
}

@-moz-keyframes pulse-border {
  0% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(4.5);
  }
  100% {
    transform: scale(5.5);
    opacity: 0;
  }
}

@-ms-keyframes pulse-border {
  0% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(4.5);
  }
  100% {
    transform: scale(5.5);
    opacity: 0;
  }
}

@-o-keyframes pulse-border {
  0% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(4.5);
  }
  100% {
    transform: scale(5.5);
    opacity: 0;
  }
}

@-webkit-keyframes pulse-border {
0% {
  -webkit-transform: scale(0.0);
}
50% {
  -webkit-transform: scale(4.5);
}
100% {
  -webkit-transform: scale(5.5);
}
}


.world-map .lithuaniaDot {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 181px;
  right: 694px;
}

.lithuaniaDotMain{
  position: absolute;
  width: 5px;
  height: 5px;
  background: #F3333E;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  z-index: 1;
  -moz-animation: pulse-dot 2s ease-out infinite;
  -ms-animation: pulse-dot 2s ease-out infinite;
  -o-animation: pulse-dot 2s ease-out infinite;
  -webkit-animation: pulse-dot 2s ease-out infinite;
  animation: pulse-dot 2s ease-out infinite;
}

.lithuaniaDotContent {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -moz-animation: pulse-border 2s ease-out infinite;
  -ms-animation: pulse-border 2s ease-out infinite;
  -o-animation: pulse-border 2s ease-out infinite;
  -webkit-animation: pulse-border 2s ease-out infinite;
  animation: pulse-border 2s ease-out infinite;
}

.lithuaniaDotContent:before {
  content: "";
  z-index: 1;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.lithuaniaDotContent:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 50%;
  opacity: 1;
  -moz-box-shadow: 0 0 0.2px rgb(255,255,255);
  -o-box-shadow: 0 0 0.2px rgb(255,255,255);
  -ms-box-shadow: 0 0 0.2px rgb(255,255,255);
  -webkit-box-shadow: 0 0 0.2px rgb(255,255,255);
  box-shadow: 0 0 0.2px rgb(255,255,255);
}

@media screen and (max-width: 1430px) {
  .world-map .lithuaniaDot {
    top: 181px;
    left: 581px;
  }
}

@media screen and (max-width: 1024px) {
  .lithuaniaDotContent,
  .lithuaniaDotMain,
  .lithuaniaDotContent:before,
  .lithuaniaDotContent:after{
  animation: unset;
  }
  .lithuaniaDotContent{
    display: none;
  }
}

