.quote-center {
  border-bottom: inherit;
  border-top: inherit; }

.try-case {
  border-top: inherit; }

.logos-cols {
  padding: 0 5px 124px; }
  .logos-cols .col {
    display: inline-block;
    width: 24.5%; }

.body .text-row {
  padding-bottom: 250px; }

.start-project .text {
  display: inline-block;
  text-align: center; }

.text-box.team.team-box.center.newmood {
  display: none; }

.text-row .entry-cols.newmood .col {
  width: 48.8%;
  padding-right: 0; }

.text-row {
  padding-bottom: 98px;
  overflow: hidden;
  padding-top: 100px; }

.featured-title {
  background: #f75d53;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  position: relative; }
  .featured-title .video video {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    min-width: 100%;
    min-height: 100%; }
  .featured-title .video:after {
    display: none; }
  .featured-title .video:before {
    display: none; }

.case-title {
  margin-bottom: 200px; }
  .case-title .screen {
    position: absolute;
    top: 28%;
    width: inherit;
    text-align: inherit;
    right: 0;
    float: right;
    bottom: inherit;
    pointer-events: none; }
  .case-title .container {
    height: 83vh; }

.try-case .entry, .try-case h3 {
  padding-bottom: 25px;
  text-align: center; }

.newmood-brands-title {
  color: #999;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: center; }

.phones-cols {
  position: relative;
  margin-bottom: 50px; }
  .phones-cols .mobile-1 {
    position: relative;
    width: 32%;
    float: left;
    margin-left: 0; }
  .phones-cols .mobile-2 {
    position: relative;
    margin-top: -6%;
    width: 39%;
    float: left;
    margin-left: -8%; }
  .phones-cols .mobile-3 {
    position: relative;
    margin-top: -58%;
    width: 40%;
    margin-left: 24%;
    float: left; }
  .phones-cols .mobile-4 {
    position: relative;
    margin-top: -26%;
    width: 39%;
    float: left;
    margin-left: 34%; }
  .phones-cols .mobile-5 {
    position: relative;
    margin-top: -50%;
    width: 36%;
    float: right; }

.photo-col {
  margin-bottom: 150px; }

.clients-full {
  margin-bottom: 100px;
  border-bottom: inherit; }

.typography-text {
  padding: 5rem 0 2.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .typography-text .col {
    width: 33%;
    padding-bottom: 0; }
  .typography-text h6 {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px; }
  .typography-text .result {
    color: #e51c23;
    font-size: 72px;
    font-weight: 400;
    line-height: 47px;
    padding: 30px 0 23px; }
  .typography-text .name {
    color: #101010;
    font-size: 24px;
    padding-bottom: 0;
    font-weight: 400;
    line-height: 27px;
    padding-top: 80px; }
  .typography-text .letters {
    color: #999;
    font-size: 18px;
    letter-spacing: .1em;
    font-weight: 300;
    line-height: 26px;
    padding-top: 85px; }
    .typography-text .letters span {
      text-transform: uppercase; }

.typography-colors .col {
  padding-bottom: 2.5rem;
  width: 33.3337%; }
  .typography-colors .col .color-text {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    padding-bottom: 50px;
    height: 80px; }
  .typography-colors .col .color {
    width: 100%;
    height: 60px;
    border-radius: inherit;
    margin: 0 auto 10px; }

@media screen and (max-width: 1720px) {
  .case-title .screen {
    top: 22%;
    width: 56%;
    right: 0;
    bottom: inherit;
    float: right;
    pointer-events: none; } }

@media screen and (max-width: 1430px) {
  .case-title .screen {
    top: 22%;
    width: 51%;
    right: 0;
    bottom: inherit;
    pointer-events: none; }
  .case-title .text {
    width: 50%; } }

@media screen and (max-width: 1084px) {
  .case-title .screen {
    text-align: center;
    float: right;
    margin: auto;
    top: 60%; }
  .case-title .text {
    width: 80%; }
  .typography-text {
    padding: 5rem 0 2.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .typography-text .col {
      width: 50%;
      padding-bottom: 0; }
    .typography-text h6 {
      color: #999;
      font-size: 16px;
      font-weight: 300;
      line-height: 27px; }
    .typography-text .result {
      color: #e51c23;
      font-size: 72px;
      font-weight: 400;
      line-height: 47px;
      padding: 30px 0 23px; }
    .typography-text .name {
      color: #101010;
      font-size: 24px;
      padding-bottom: 0;
      font-weight: 400;
      line-height: 27px;
      padding-top: 25px; }
    .typography-text .letters {
      color: #999;
      font-size: 18px;
      letter-spacing: .1em;
      font-weight: 300;
      line-height: 26px;
      padding-top: 10px; }
      .typography-text .letters span {
        text-transform: uppercase; }
  .typography-colors .col {
    padding-bottom: 2.5rem;
    width: 50%; }
    .typography-colors .col .color {
      width: 100%;
      height: 60px;
      border-radius: inherit;
      margin: 0 auto 10px; } }

@media screen and (max-width: 1084px) and (max-width: 1023px) {
  .typography-colors .col .color-text {
    padding-bottom: 10px;
    height: inherit; }
  .team-box section:before {
    width: 0; }
  .case-title {
    height: 65vw;
    top: 45%; }
  .text {
    width: 100%; } }

@media screen and (max-width: 767px) {
  .clients-full ul li img {
    height: 50%; }
  .newmood-brands-title {
    text-align: left; }
  .team-box section:before {
    width: 0; }
  .team-box section article {
    margin-right: inherit;
    max-width: 65vw; }
  .typography-colors .col .color {
    width: 100%;
    height: 60px;
    border-radius: inherit;
    margin: 0 auto 10px; }
  .case-title {
    margin-bottom: 50px; }
  .text-row .entry-cols.newmood .col {
    width: 100%;
    padding-right: 0;
    padding-top: 30px; }
  .phones-cols {
    display: none; }
  .text-box.team.team-box.center.newmood {
    display: inherit; }
  .logos-cols .col {
    width: 49%; }
  .case-title .container {
    min-height: 0;
    height: auto;
    padding-top: 150px;
    padding-bottom: 50vw;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .case-title .screen {
    text-align: center;
    width: auto;
    float: none;
    margin: auto;
    top: 75%; }
    .case-title .screen img {
      display: block;
      margin: inherit;
      float: right; }
  .typography-text .col {
    width: 100%; }
  .typography-colors .col {
    padding-bottom: 2.5rem;
    width: 100%; }
    .typography-colors .col .color {
      width: 100%;
      height: 60px;
      border-radius: inherit;
      margin: 0 auto 10px; } }

@media screen and (max-width: 430px) {
  .body .text-row {
    padding-bottom: 100px; }
  .case-title .container {
    padding-bottom: 20px; }
  .case-title .screen {
    position: static;
    text-align: center;
    width: auto;
    float: none;
    margin: auto;
    margin-bottom: -20vw; } }
