.quote-center {
    border-bottom: inherit;
    border-top: inherit;
}

html{
    overflow-x: hidden;
}


.case-title {
    position: relative;
}

.try-case {
    border-top: inherit;
}

.clients-full img {
    max-width: 100%;
    max-height: 100%;
}

.text-row .entry-cols p {
    padding-bottom: 80px;
    letter-spacing: 0;
    color: #1D282C;
}

.case-title {
    margin-bottom: 100px;
    background-color: black;
}

.case-title .screen {
    text-align: right;
    bottom: -29em;
    top: 21em;
    width: 53em;
}

.clients-full h2:nth-child(2) {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
}

.logos-cols {
    padding: 0 5px 124px;
}

.logos-cols .col {
    display: inline-block;
    width: 24.5%;
}

.try-case {
    text-align: center;
    padding: 150px 0 150px;
}

.body .text-row {
    padding-bottom: 0;
}

.start-project .text {
    display: inline-block;
    text-align: center;
}

.text-box.team.team-box.center.newmood {
    display: none;
}

.text-row .entry-cols.newmood .col {
    width: 48.8%;
    padding-right: 0;
}

.text-row {
    padding-bottom: 98px;
    overflow: hidden;
    padding-top: 100px;
}

.featured-title {
    background: #f75d53;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    position: relative;
}

.featured-titles .video video {
    width: 100%;
}

.try-case .entry, .try-case h3 {
    padding-bottom: 5px;
    text-align: center;
    line-height: 1;
}

.try-case .entry, .try-case p {
    padding-bottom: 20px;
}

.newmood-brands-title {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
}

@media screen and (min-width: 1920px) {
    .phones-cols-block {
        width: 1920px !important;
        margin: 0 auto;
    }
}

.phones-cols-block {
    width: 100%;
    position: relative;
}

.phones-cols {
    position: relative;
    margin-bottom: 50px;
}

.phones-cols .mobile-1 {
    position: relative;
    width: 38%;
    float: left;
    margin-left: -4%;
}

.phones-cols .mobile-2 {
    position: relative;
    margin-top: -6%;
    width: 39%;
    float: left;
    margin-left: -10%;
}

.phones-cols .mobile-3 {
    position: relative;
    margin-top: -62%;
    width: 40%;
    margin-left: 55%;
    float: left;
}

.phones-cols .mobile-4 {
    position: relative;
    margin-top: -26%;
    width: 39%;
    float: left;
    margin-left: 34%;
}

.phones-cols .mobile-5 {
    position: relative;
    margin-top: -50%;
    width: 38%;
    float: right;
}

.photo-col {
    margin-bottom: 150px;
}

.clients-full {
    margin-bottom: 100px;
    border-bottom: inherit;
}

.typography-text {
    padding: 2rem 0 2.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.typography-text .col {
    width: 33%;
    padding-bottom: 0;
}

.typography-text h6 {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
}

.typography-text .result {
    color: #e51c23;
    font-size: 72px;
    font-weight: 400;
    line-height: 47px;
    padding: 30px 0 23px;
}

.typography-text .name {
    color: #101010;
    font-size: 24px;
    padding-bottom: 0;
    font-weight: 400;
    line-height: 27px;
    padding-top: 80px;
}

.typography-text .letters {
    color: #999;
    font-size: 18px;
    letter-spacing: .1em;
    font-weight: 300;
    line-height: 26px;
    padding-top: 85px;
}

.typography-text .letters span {
    text-transform: uppercase;
}

.typography-colors .col {
    padding-bottom: 2.5rem;
    width: 33.3337%;
}

.typography-colors .col .color-text {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    padding-bottom: 50px;
    height: 80px;
}

.typography-colors .col .color {
    width: 100%;
    height: 60px;
    border-radius: inherit;
    margin: 0 auto 10px;
}

@media screen and (max-width: 1430px) {
    .case-title .screen {
        bottom: 0;
        top: 32em;
        width: 43em;
        right: -10em;
    }

    .case-title .text {
        width: 50%;
    }
}

@media screen and (max-width: 1150px) {
    .case-title .screen {
        top: 33em;
        width: 40em;
    }
}

@media screen and (max-width: 1023px) {
    .case-title .screen {
        top: 38em;
        width: 32em;
        left: 0em;
        margin: 0 auto;
        right: 0em;
    }
}

@media screen and (max-width: 1084px) {
    .typography-text {
        padding: 2rem 0 2.5rem;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .typography-text .col {
        width: 50%;
        padding-bottom: 0;
    }

    .typography-text h6 {
        color: #999;
        font-size: 16px;
        font-weight: 300;
        line-height: 27px;
    }

    .typography-text .result {
        color: #e51c23;
        font-size: 72px;
        font-weight: 400;
        line-height: 65px;
        padding: 30px 0 23px;
    }

    .typography-text .name {
        color: #101010;
        font-size: 24px;
        padding-bottom: 0;
        font-weight: 400;
        line-height: 27px;
        padding-top: 25px;
    }

    .typography-text .letters {
        color: #999;
        font-size: 18px;
        letter-spacing: .1em;
        font-weight: 300;
        line-height: 26px;
        padding-top: 10px;
    }

    .typography-text .letters span {
        text-transform: uppercase;
    }

    .typography-colors .col {
        padding-bottom: 2.5rem;
        width: 50%;
    }

    .typography-colors .col .color {
        width: 100%;
        height: 60px;
        border-radius: inherit;
        margin: 0 auto 10px;
    }
}
@media screen and (max-width: 1084px) and (max-width: 1023px) {
    .typography-colors .col .color-text {
        padding-bottom: 10px;
        height: inherit;
    }

    .team-box section:before {
        width: 0;
    }

    .text {
        width: 100%;
    }

    .case-title .text {
        width: 100%;
        margin-top: 7em;
    }
}

@media screen and (max-width: 767px) {
    .case-title .container .text {
        padding-right: 0;
        margin-top: -10em;
    }
    .text-row {
        padding-bottom: 98px;
        overflow: hidden;
        padding-top: 100px;
    }

    .clients-full h2:nth-child(1) {
        font-size: 30px;
        line-height: 1.5;
    }

    .clients-full h2:nth-child(2) {
        color: #999;
        font-size: 16px;
        font-weight: 300;
        line-height: 27px;
    }

    .text-row .entry-cols p {
        padding-bottom: 50px;
        letter-spacing: 0;
    }

    .body .text-row {
        padding-bottom: 50px;
    }

    .wor.newmood {
        margin-top: inherit;
    }

    .text-row {
        padding-bottom: 0;
    }

    .case-title {
        margin-bottom: 2em;
        height: 55em;
    }

    .case-title .screen {
        width: 30em;
        top: 39em;
    }

    .clients-full {
        margin-bottom: 0px;
        margin-top: 30px;
    }

    .newmood-brands-title {
        text-align: left;
    }

    .team-box section:before {
        width: 0;
    }

    .team-box section article {
        margin-right: inherit;
        max-width: inherit;
        position: relative;
        margin-left: -15% !important;
    }

    .typography-colors .col .color {
        width: 100%;
        height: 60px;
        border-radius: inherit;
        margin: 0 auto 10px;
    }

    .text-row .entry-cols.newmood .col {
        width: 100%;
        padding-right: 0;
        padding-top: 30px;
    }

    .phones-cols {
        display: none;
    }

    .text-box.team.team-box.center.newmood {
        display: inherit;
    }

    .logos-cols .col {
        width: 49%;
    }

    .typography-text .col {
        width: 100%;
    }

    .typography-colors .col {
        padding-bottom: 2.5rem;
        width: 100%;
        text-align: left;
    }

    .typography-colors .col .color {
        width: 100%;
        height: 60px;
        border-radius: inherit;
        margin: 0 auto 10px;
    }
}

@media screen and (max-width: 430px) {
    .body .text-row {
        padding-bottom: 100px;
    }

    .screen {
        width: 18em !important;
        top: 48em !important;
    }
}


@media screen and (max-width: 360px) {

    .screen {
        width: 20em !important;
        top: 52em !important;
    }
    .text-row {
        padding-top: 180px;
    }
}


@media screen and (max-width: 480px) {
    .team-box section article {
        width: 80%;
    }

}

@media screen and (max-width: 767px) and (min-width: 480px) {
    .team-box section article img:first-child:last-child {
        height: 60vh;
    }
}

.fadingBG {
    background: #000;
}
