
html{
    overflow-x: hidden;
}


.case-title {
    position: relative;
}

@media screen and (max-width: 1430px) {
    .case-title .screen  {
        top: 26em;
        width: 40em;
        right: 0;
        bottom: -8em;
        pointer-events: none;
    }
    .case-title {
        margin-bottom: 14em;
    }
}
@media screen and (max-width: 1023px) {
    .case-title .screen  {
        top: 40em;
        width: 29em;
        right: 0;
        bottom: -8em;
        pointer-events: none;
        left: 0;
        margin: 0 auto;
    }
    .case-title .container {
        min-height: 0;
        height: auto;
        padding-top: 150px;
        padding-bottom: 50em;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .case-title .text {
        width: auto;
        padding-top: 13em;
        padding-right: 10vw;
        float: none;
    }
}
@media screen and (max-width: 767px) {
    .clients-full img {
        max-width: 80px;
        max-height: 65px;
    }
    .case-title .screen {
        top: 38em;
        width: 29em;
        right: 0;
        bottom: -8em;
        pointer-events: none;
        left: 0;
        margin: 0 auto;
    }
    .case-title .container {
        min-height: 0;
        height: auto;
        padding-top: 150px;
        padding-bottom: 26em;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .case-title .container .text {
        padding-right: 0;
        margin-top: -22em;
    }
}

@media screen and (max-width: 400px) {
    .case-title .screen {
        top: 47em;
        width: 29em;
        right: 0;
        bottom: -8em;
        pointer-events: none;
        left: 0;
        margin: 0 auto;
    }
    .case-title .container {
        min-height: 0;
        height: auto;
        padding-top: 150px;
        padding-bottom: 21em;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .case-title .container .text {
        padding-right: 0;
        margin-top: -22em;
    }
}
